@charset "UTF-8";

/* reset */
*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}

/* common */
*{
    font-size: 18px;
}
main{
    width: 50vw;
    margin: 80px auto;
}
h1{
    margin-bottom: 20px;
}
form{
    display: flex;
    margin-bottom: 20px;
}
input[type="button"]{
    font-size: 13px;
    padding: 0 10px;
}

table{
    border-collapse: collapse;
    table-layout: fixed;
    width: 500px;
}
table tr th, table tr td{
    border: solid 1px #000;
    padding: 5px;
}
table tr td{
    text-align: center;
}