@charset "UTF-8";

/* reset */
*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}

/* common */
*{
    font-size: 18px;
}
main{
    width: 50vw;
    margin: 80px auto;
}
h1{
    margin-bottom: 20px;
}
form div{
    display: flex;
    margin-bottom: 10px;
}
label{
    font-size: 16px;
    width: 140px;
    display: block;
}
input[type="button"]{
    font-size: 13px;
    padding: 0 60px;
}