@charset "UTF-8";
// **************************************************
// * ファイル名：./sass/science-club/style.scss          *
// * 概要     ：science-clubのsass                      *
// **************************************************
@import "../_common";
// **************************************************
// * common                                         *
// **************************************************
// **************************************************
// * main                                           *
// **************************************************
main{
    h1{
        width: harf(449px);
        padding: 0 calc(50% - 224.5px/2);
        margin-bottom: harf(42px);
    }
    .contents{
        width: harf(683px);
        margin: 0 calc(50vw - 341.5px/2) 117px;
        text-align: center;
        font-size: harf(32px);
        letter-spacing: -1.2px;
        h2{
            width: harf(652px);
            margin: 0 auto harf(62px);
        }
        h3{
            width: harf(508px);
            margin: 0 auto harf(65px);
            padding: harf(179px) 0 0;
            position: relative;
            &::before{
                content: "";
                display: block;
                width: harf(54px);
                height: harf(113px);
                background: url(../../common/img/kagakubu/icon_arrow.svg) no-repeat;
                background-size: cover;
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
            }
        }
        h4{
            width: harf(293px);
            margin: 0 auto harf(43px);
        }
        &_txt{
            line-height: harf(44px);
            margin-bottom: harf(56px);
            p{
                margin-top: harf(20px);
                background: $c_black;
                display: inline-block;
                &:first-child{
                    margin-top: 0;
                }
            }
            span{
                color: $c_yellow;
            }
        }
        .txt-2{
            margin-bottom: harf(106px);
        }
        &_img{
            width: harf(618px);
            margin-left: auto;
            margin-bottom: harf(38px);
        }
    }
}