@charset "UTF-8";

/* reset */
*{
    margin: 0;
    padding: 0;
}


/* common */
main{
    width: 520px;
    margin: 80px auto;
}
h1{
    margin-bottom: 20px;
}
p{
    display: block;
    width: 32px;
    height: 10px;
    background-color: #000;
    opacity: 0.1;
    position: relative;
}
p::before{
    content: '';
    width: 0px;
    height: 0px;
    border-top: solid 5px transparent;
    border-bottom: solid 5px transparent;
    border-left: solid 5px transparent;
    border-right: solid 5px #000;
    position: absolute;
    top: 0;
    left: -10px;
}
p::after{
    content: '';
    width: 0px;
    height: 0px;
    border-top: solid 5px transparent;
    border-bottom: solid 5px transparent;
    border-left: solid 5px #000;
    border-right: solid 5px transparent;
    position: absolute;
    top: 0;
    right: -10px;
}

/* main部分 */
.clock{
    width: 100%;
    border: solid 10px #000;
    box-sizing: border-box;
    padding: 15px 25px;
    display: flex;
}
.clock_time, .clock_minute, .clock_second{
    display: flex;
    width: 130px;
    margin-right: 15px;
}
.clock_second{
    margin-right: 0;
}

.clock_delimiter{
    transform: translateY(calc(50% - 23px));
}
.clock_delimiter_item{
    width: 0px;
    margin-right: 15px;
    opacity: 1;
}
.clock_delimiter_item:first-child{
    margin-bottom: 23px;
}
.clock_delimiter_item.is-active{
    opacity: 0.1;
}

.tensPlc, .onesPlc{
    width: 58px;
    height: 102px;
    position: relative;
}
.onesPlc{
    margin-left: auto;
}

/* line設定 */
p[class^="line"]{
    position: absolute;
}
.line-02, .line-03, .line-05, .line-06{
    transform: rotate(90deg);
}
.line-01{
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.line-02{
    top: 23px;
    left: -10px;
}
.line-03{
    top: 23px;
    right: -10px;
}
.line-04{
    top: calc(50% - 5px);
    left: calc(50%);
    transform: translateX(-50%);
}
.line-05{
    bottom: 23px;
    left: -10px;
}
.line-06{
    bottom: 23px;
    right: -10px;
}
.line-07{
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

/* 数字別スタイル */
/* 0 */
.num-0 .line-01,
.num-0 .line-02,
.num-0 .line-03,
.num-0 .line-05,
.num-0 .line-06,
.num-0 .line-07{
    opacity: 1;
}
/* 1 */
.num-1 .line-03,
.num-1 .line-06{
    opacity: 1;
}
/* 2 */
.num-2 .line-01,
.num-2 .line-03,
.num-2 .line-04,
.num-2 .line-05,
.num-2 .line-07{
    opacity: 1;
}
/* 3 */
.num-3 .line-01,
.num-3 .line-03,
.num-3 .line-04,
.num-3 .line-06,
.num-3 .line-07{
    opacity: 1;
}
/* 4 */
.num-4 .line-02,
.num-4 .line-03,
.num-4 .line-04,
.num-4 .line-06{
    opacity: 1;
}
/* 5 */
.num-5 .line-01,
.num-5 .line-02,
.num-5 .line-04,
.num-5 .line-06,
.num-5 .line-07{
    opacity: 1;
}
/* 6 */
.num-6 .line-01,
.num-6 .line-02,
.num-6 .line-04,
.num-6 .line-05,
.num-6 .line-06,
.num-6 .line-07{
    opacity: 1;
}
/* 7 */
.num-7 .line-01,
.num-7 .line-02,
.num-7 .line-03,
.num-7 .line-06{
    opacity: 1;
}
/* 8 */
.num-8 .line-01,
.num-8 .line-02,
.num-8 .line-03,
.num-8 .line-04,
.num-8 .line-05,
.num-8 .line-06,
.num-8 .line-07{
    opacity: 1;
}
/* 9 */
.num-9 .line-01,
.num-9 .line-02,
.num-9 .line-03,
.num-9 .line-04,
.num-9 .line-06,
.num-9 .line-07{
    opacity: 1;
}