@charset "UTF-8";

/* ******************************************* */
/* privacy/style.css                           */
/* ******************************************* */
/* ******************************************* */
/* common                                      */
/* ******************************************* */
body{
    color: #fff;
    font-size: 13px;
}
main{
    margin: 30% 3% 0;
}
main h1{
    width: 79%;
    margin: 0 auto 10.8%;
}
main h2{
    font-size: 21px;
    font-weight: bold;
    text-align: center;
    margin: 0 0 11%;
}
main a{
    color: #fff;
    text-decoration: underline;
}
section{
    padding: 0 0 16.2%;
}
.plPadding{
    padding-bottom: 6.6%;
}
.subTtl{
    font-size: 15px;
}
.txtIndent{
    text-indent: -1em;
}
.paddingL1em{
    padding-left: 1em;
}
.paddingL2em{
    padding-left: 2em;
}
@media screen and (min-width: 640px){
    body{
        font-size: 16px;
    }
    main{
        width: 854px;
        margin: 90px auto 0 auto;
    }
    main h1{
        width: 393px;
        margin-bottom: 80px;
    }
    main h2{
        font-size: 29px;
        margin-bottom: 40px;
    }
    section{
        padding-bottom: 117px;   
    }
    .plPadding{
        padding-bottom: 24px;
    }
    .plPadding_pc{
        padding-bottom: 53px;
    }
    .subTtl{
        font-size: 18px;
    }   
}

/* ******************************************* */
/* toriatsukai                                 */
/* ******************************************* */
.toriatsukai table{
    border-collapse: collapse;
    margin: 0 0 5.7%;
}
.toriatsukai th,td{
    border: 1px solid #ccc;
    padding: 7px 9.4px;
}
.toriatsukai th:nth-child(2){
    width: 50.4vw;
}
.toriatsukai th:last-child{
    width: 7vw;
}
.toriatsukai td:last-child{
    text-align: center;
}

@media screen and (min-width: 640px){
    .toriatsukai table{
        margin:  0 0 17px;
    }
    .toriatsukai th,td{
        padding: 10px 18px;
        text-align: left;
        vertical-align: baseline;
    }
    .toriatsukai th:nth-child(2){
        width: 504px;
    }
    .toriatsukai th:last-child{
        width: 70px;
    }
}