@charset "UTF-8";
// **************************************************
// * ファイル名：./recruit/css/style.scss             *
// * 概要     ：recruitのsass                        *
// **************************************************
@import '../common/common';
// **************************************************
// * common                                         *
// **************************************************
body{
    border-top: solid 10px $c_orange;
}
// **************************************************
// * main                                           *
// **************************************************
main{
    background: url(../../common/img/recruit/bgTxt_recruit01.png) no-repeat top left,
    url(../../common/img/recruit/bgTxt_recuit02.png) no-repeat bottom right;

    .btnEntry{
        display: inline-block;
        width: calc(72px - 17px);
        background: $c_orange;
        padding: 23px 0 10px 17px;
        border-top-left-radius: 50%;
        border-bottom-left-radius: 50%;
        position: fixed;
        top: 408px;
        right: 0;
        z-index: 100;
        &::before{
            content: "";
            display: block;
            width: 72px;
            height: 71px;
            transform: scale(1.4);
            background: $c_orange;
            opacity: 0.2;
            border-top-left-radius: 50%;
            border-bottom-left-radius: 50%;
            position: absolute;
            top: 0;
            right: 0;
            @include keyframe(anchorAnimation){
                0%{
                    @include transform(scale(1.4));
                    opacity: 0.2;
                }
                100%{
                    @include transform(scale(2));
                    opacity: 0;
                }
            }
            @include animation(anchorAnimation 1s ease-out infinite);
        }
        img{
            width: 46px;
        }
    }
    .recruit{
        h1{
            width: 1001px;
            padding: 154px 0 40px;
        }
        ul{
            display: flex;
            padding-bottom: 196px;
            li{
                text-align: center;
                &:not(:last-child){
                    margin-right: 24px;
                }
                a{
                    display: inline-block;
                    width: 144px;
                    height: 77px;
                    border-top: solid 2px $c_black;
                    border-left: solid 2px $c_black;
                    position: relative;
                    &::before{
                        content: "";
                        display: block;
                        width: 108px;
                        height: 2px;
                        border-bottom: solid 2px $c_black;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                    }
                    &::after{
                        content: "";
                        display: block;
                        width: 2px;
                        height: 63px;
                        border-right: solid 2px $c_black;
                        position: absolute;
                        top: 0;
                        right: 0;
                    }
                    .hoverBg{
                        display: block;
                        width: 100%;
                        height: 100%;
                        overflow: hidden;
                        position: relative;
                    }
                    &:hover{
                        border-top: solid 2px $c_orange;
                        border-left: solid 2px $c_orange;
                        &::before{
                            border-bottom: solid 2px $c_orange;
                        }
                        &::after{
                            border-right: solid 2px $c_orange;
                        }
                        .icon{
                            background-color: $c_orange;
                        }
                        .hoverBg{
                            &::before{
                                content: "";
                                display: block;
                                width: 200%;
                                height: 100%;
                                position: absolute;
                                top: 0;
                                left: -100%;
                                background: url(../../common/img/data_image.png);
                                @include keyframe(bgAnimation){
                                    0%{
                                        @include transform(translateX(0));
                                    }
                                    100%{
                                        @include transform(translateX(50%));
                                    }
                                }
                                @include animation(bgAnimation 3s linear infinite);
                            }
                        }
                    }
                    p{
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translateX(-50%) translateY(-50%);
                    }
                    .shadow{
                        width: 41px;
                        height: 41px;
                        background-color: $c_beige;
                        border-radius: 50%;
                        position: absolute;
                        bottom: -10px;
                        right: -10px;
                    }
                    .icon{
                        width: 41px;
                        line-height: 41px;
                        background-color: $c_black;
                        border-radius: 50%;
                        position: absolute;
                        bottom: -8px;
                        right: -8px;
                        img{
                            vertical-align: middle;
                        }
                        &_eigyou{
                            img{
                                width:14px;
                            }
                        }
                        &_seibi{
                            img{
                                width: 26px;
                            }
                        }
                        &_front{
                            img{
                                width: 28px;
                            }
                        }
                        &_customer{
                            img{
                                width: 19px;
                            }
                        }
                        &_kanri{
                            img{
                                width: 29px;
                            }

                        }
                        &_hokenbu{
                            img{
                                width: 26px;
                            }
                        }
                    }
                }
            }
        }

        // inner共通
        &_inner{
            padding-bottom: 223px;
            position: relative;
            &.default{
                & .recruit_inner_contents_item,
                & .recruit_inner_contents_txt,
                & .recruit_inner_imgs{
                    visibility: hidden;
                }
            }
            &:nth-child(odd){
                &.active{
                    & .recruit_inner_contents_item,
                    & .recruit_inner_contents_txt,
                    & .recruit_inner_imgs{
                        visibility: visible;
                    }
                    & .recruit_inner_contents_item{
                        @include animation(contentsFloating 1s);
                    }
                    & .recruit_inner_contents_txt{
                        @include animation(contentsFloating50 2.3s);
                    }
                    & .recruit_inner_imgs img:first-child{
                        @include animation(contentsFromRight50 1.3s);
                    }
                    & .recruit_inner_imgs img:nth-child(2){
                        @include animation(contentsFromRight50 1.4s);
                    }
                    & .recruit_inner_imgs img:last-child{
                        @include animation(contentsFromRight50 1.5s);
                    }
                }
            }
            &:nth-child(even){
                padding-left: calc(557px - 137px);
                &.active{
                    & .recruit_inner_contents_item,
                    & .recruit_inner_contents_txt,
                    & .recruit_contents_img{
                        visibility: visible;
                    }
                    & .recruit_inner_contents_item{
                        @include animation(contentsFloating 1s);
                    }
                    & .recruit_inner_contents_txt{
                        @include animation(contentsFloating50 2.3s);
                    }
                    & .recruit_inner_imgs img:first-child{
                        @include animation(contentsFromLeft50 1.3s);
                    }
                    & .recruit_inner_imgs img:nth-child(2){
                        @include animation(contentsFromLeft50 1.4s);
                    }
                    & .recruit_inner_imgs img:last-child{
                        @include animation(contentsFromLeft50 1.5s);
                    }
                }
            }
            h2{
                padding-bottom: 66px;
            }
            &_contents{
                &_item{
                    width: 580px;
                    padding-bottom: 37px;
                    h3{
                        font-size: 18px;
                        color: $c_white;
                        background: $c_orange;
                        padding: 0 8px 0 16px;
                        margin-bottom: 17px;
                        display: inline-block;
                        position: relative;
                        &::after{
                            content: "";
                            display: block;
                            width: 4px;
                            height: 100%;
                            background: url(../../common/img/bg.png);
                            position: absolute;
                            top: 0;
                            left: 4px;
                        }
                    }
                }
            }
            &_imgs{
                img{
                    position: absolute;
                    &:first-child{
                        width: 500px;
                    }
                    &:not(:first-child){
                        width: 320px;
                    }
                }
            }
        }
        
        // inner個別
        .eigyou{
            h2{
                width: 136px;
            }
            &_txt{
                width: 338px;
                padding: 20px 0 0; // x -37px
            }
            &_img01{
                top: -97px;
                right: 0;
            }
            &_img02{
                top: 362px;
                right: 0;
            }
            &_img03{
                top: 507px;
                right: 239px;
            }
        }//eigyou
        .seibi{
            h2{
                width: 356px;
            }
            &_txt{
                width:470px;
                padding: 23px 0 0; // x -37px
            }
            &_img01{
                top: -95px;
                left: -137px;
            }
            &_img02{
                top: 365px;
                left: -77px;
            }
            &_img03{
                top: 617px;
                left: 75px;
            }
        }//seibi
        .front{
            h2{
                width: 206px;
            }
            &_txt{
                width: 537px;
                padding: 43px 0 0; // x -37px
            }
            &_img01{
                top: -98px;
                right: 0;
            }
            &_img02{
                top: 363px;
                right: 32px;
            }
            &_img03{
                top: 582px;
                right: 170px;
            }
        }//front
        .customer{
            h2{
                width: 538px;
            }
            &_txt{
                width: 537px;
                padding: 33px 0 0; // x -37px
            }
            &_img01{
                top: -94px;
                left: -137px;
            }
            &_img02{
                top: 372px;
                left: -107px;
            }
            &_img03{
                top: 578px;
                left: 83px;
            }
        }//customer
        .kanri{
            h2{
                width: 370px;
            }
            &_txt{
                width: 367px;
                padding: 27px 0 0; // x -37px
            }
            &_img01{
                top: -94px;
                right: 0;
            }
            &_img02{
                top: 366px;
                right: 32px;
            }
            &_img03{
                top: 578px;
                right: 190px;
            }
        }//kanri
        .hokenbu{
            h2{
                width: 207px;
            }
            &_txt{
                width: 367px;
                padding: 27px 0 0; // x -37px
            }
            &_img01{
                top: -96px;
                left: -137px;
            }
            &_img02{
                top: 364px;
                left: -60px;
            }
            &_img03{
                top: 617px;
                left: 75px;
            }
        }//hokenbu
    }//recruit

    .working{
        padding-bottom: 124px;
        h1{
            width: 1001px;
            padding-bottom: 57px;
        }
        &_movie{
            width: 800px;
            margin-left: 100px;
            position: relative;
            &_topLine{
                &::before{
                    content: "";
                    display: block;
                    width: 30px;
                    height: 30px;
                    border-top: solid 1px $c_orange;
                    border-left: solid 1px $c_orange;
                    position: absolute;
                    top: -10px;
                    left: -10px;
    
                }
                &::after{
                    @extend .working_movie_topLine::before;
                    border-left: none;
                    border-right: solid 1px $c_orange;
                    top: -10px;
                    left: auto;
                    right: -10px;
                }
            }
            &_bottomLine{
                &::before{
                    @extend .working_movie_topLine::before;
                    border-top: none;
                    border-bottom: solid 1px $c_orange;
                    top: auto;
                    bottom: -2px;

                }
                &::after{
                    @extend .working_movie_topLine::after;
                    border-top: none;
                    border-bottom: solid 1px $c_orange;
                    top: auto;
                    bottom: -2px;
                }
            }
        }
    }//working

    .careers{
        padding-bottom: 100px;
        h1{
            width: 1002px;
            padding-bottom: 50px;
        }
        &_info{
            border-collapse: collapse;
            width: 1002px;
            tr{
                td{
                    vertical-align: baseline;
                    border-top: dotted 1px $c_black;
                    border-bottom: dotted 1px $c_black;
                    &:first-child{
                        width: 141px;
                        color: $c_white;
                        padding: 1em 0 0 10px;
                    }
                    &:last-child{
                        padding: 1em;
                        &.oneLine{
                            padding-bottom: 2em;
                        }
                    }
                }
                &:nth-child(odd){
                    td{
                        &:first-child{
                            background: $c_orange;
                        }
                    }
                }
                &:nth-child(even){
                    td{
                        &:first-child{
                            background: $c_orange_l;
                        }
                    }
                }
            }
            &_payment{
                &_detail{
                    &_txt{
                        display: inline-block;
                        vertical-align: top;
                        &:nth-child(odd){
                            padding-right: 38px;
                        }
                        &:nth-child(-n+2){
                            padding-bottom: 33px;
                        }
                    }
                }
            }
            &_place{
                &_detail{
                    &_txt{
                        display: inline-block;
                        vertical-align: top;
                        &:nth-child(odd){
                            width: 290px;
                            padding-right: 38px;
                        }
                        &:nth-child(-n+4){
                            padding-bottom: 27px;
                        }
                    }
                }
            }
        }
    }//careers

    .entry{
        h1{
            width: 1002px;
            padding-bottom: 50px;
        }
        &_sup{
            font-size: 12px;
            padding-bottom: 50px;
            a{
                color: $c_orange;
            }
        }
        &_btn{
            width: 769px;
            padding-left: 131px;
            a{
                display: inline-block;
                &:first-child{
                    margin-right: 40px;
                }
            }
        }
    }//entry
}