@charset "UTF-8";
// **************************************************
// * ファイル名：./sass/character/style.scss          *
// * 概要     ：characterのsass                      *
// **************************************************
@import "../_common";
// **************************************************
// * common                                         *
// **************************************************
// **************************************************
// * main                                           *
// **************************************************
main{
    h1{
        width: harf(467px);
        padding: 0 calc(50% - 233.5px/2);
        margin-bottom: harf(58px);
    }
    .character_nav{
        width: harf(689px);
        margin: 0 calc(50% - 344.5px/2) harf(34px);
        overflow: hidden;
        &_main{
            font-size: 0;
            transition: all 0.3s;
            &_item{
                &.item-02,
                &.item-06,
                &.item-10,
                &.item-14,
                &.item-18{
                    margin-left: -8px;
                }
                &.item-03,
                &.item-07,
                &.item-11,
                &.item-15{
                    margin-left: -15px;
                }
                &.item-04,
                &.item-08,
                &.item-12,
                &.item-16{
                    margin-left: -24px;
                }
                &.item-05,
                &.item-09,
                &.item-13,
                &.item-17{
                    margin-left: 0.5px;
                }
                &.item-01{
                    margin-left: 0;
                }
                &.item-02,
                &.item-04,
                &.item-06,
                &.item-08,
                &.item-10,
                &.item-12,
                &.item-14,
                &.item-16,
                &.item-18{
                    margin-top: 46px;
                }
                a{
                    width: harf(217px);
                }
                a:focus{
                    outline: none;
                }
            }
        }
        &_lst{
            display: flex;
            justify-content: center;
            margin: harf(40px) 0 0;
            li{
                line-height: 0;
                &:not(:last-child){
                    margin-right: harf(20px);
                }
                button{
                    width: harf(22px);
                    height: harf(22px);
                    border-radius: 50%;
                    box-sizing: border-box;
                    border: solid 1.5px $c_white;
                    background-color: transparent;
                    text-indent: -9999px;
                }
                button:focus {
                    outline: none;
                }
            }
            .slick-active {
                button{
                    background: $c_white;
                }
            }
        }
    }
    .contents{
        width: 100vw;
        margin-bottom: 117px;
        position: relative;
        height: harf(2374px);
        overflow: hidden;
        &_btn{
            &_left{
                width: harf(36px);
                position: absolute;
                z-index: 1;
                top: harf(457px);
                left: calc(50vw - 340px/2);
            }
            &_right{
                @extend .contents_btn_left;
                left: auto;
                right: calc(50vw - 340px/2);
            }
        }
        &_inner{
            &_item{
                div{
                    padding: 0 calc(50vw - 340px/2) 0;
                }
                &_img{
                    margin-bottom: harf(40px);
                }
                &_name{
                    img{
                        &:nth-child(1){
                            height: harf(113px);
                            margin-bottom: harf(27px);
                            &.twoLine{
                                height: 113px;
                            }
                        }
                        &:nth-child(2){
                            height: harf(54px);
                            margin-bottom: harf(33px);
                        }
                    }
                }
                &_cast{
                    text-align: center;
                    margin-bottom: harf(79px);
                }
            }
        }
    }
}