@charset "UTF-8";
// **************************************************
// * ファイル名：./news/css/style.scss                *
// * 概要     ：newsのsass                           *
// **************************************************
@import '../common/common';
// **************************************************
// * common                                         *
// **************************************************
body{
    border-top: solid 10px $c_orange;
}
// **************************************************
// * main                                           *
// **************************************************
main{
    background: url(../../common/img/news/bgTxt_news.png) no-repeat bottom right;
    h1{
        padding: 76px 0 47px;
        width: 1002px;
    }
    .itemWrap{
        display: flex;
        &.default{
            visibility: hidden;
        }
        &.active{
            visibility: visible;
            @include animation(contentsFromBottom 0.5s);
        }
        .item{
            display: inline-block;
            width: 300px;
            border-bottom: dotted 1px $c_black;
            margin: 38px 48px 0 0;
            position: relative;
            &:last-child{
                margin-right: 0;
            }
            &:before{
                content: "";
                display: block;
                position: absolute;
                top: -18px;
                left: -19px;
                width: 0;
                height: 0;
                border-top: solid 0 $c_orange;
                border-left: solid 0 $c_orange;
                @include transition(all 0.3s);
            }
            &:after{
                content: "";
                display: block;
                position: absolute;
                bottom: -18px;
                right: -19px;
                width: 0;
                height: 0;
                border-right: solid 0 $c_orange;
                border-bottom: solid 0 $c_orange;
                @include transition(all 0.3s);
            }
            &:hover{
                &:before{
                    content: "";
                    display: block;
                    position: absolute;
                    top: -18px;
                    left: -19px;
                    width: 61px;
                    height: 81px;
                    border-top: solid 3px $c_orange;
                    border-left: solid 3px $c_orange;
                    @include transition(all 0.3s);
                }
                &:after{
                    content: "";
                    display: block;
                    position: absolute;
                    bottom: -18px;
                    right: -19px;
                    width: 61px;
                    height: 81px;
                    border-right: solid 3px $c_orange;
                    border-bottom: solid 3px $c_orange;
                    @include transition(all 0.3s);
                }
                .item_btnReadMore{
                    @include transform(translate(6px));
                    @include transition(transform 0.3s linear);
                }
            }
            &_img{
                padding: 0 0 15px;
            }
            &_date{
                font-size: 9px;
                padding-bottom: 10px;
            }
            &_ttl{
                font-size: 17px;
                color: $c_white;
                background: $c_orange;
                padding: 4px 5px;
                margin-bottom: 18px;
            }
            &_txt{
                padding-bottom: 9px;
            }
            &_btnReadMore{
                width: 115px;
                padding: 0 0 38px 185px;
                transition: transform 0.3s linear;
            }
        }
    }
}