@charset "UTF-8";
// **************************************************
// * ファイル名：./sass/story/style.scss               *
// * 概要     ：storyのsass                            *
// **************************************************
@import "../_common";
// **************************************************
// * common                                         *
// **************************************************
// **************************************************
// * main                                           *
// **************************************************
main{
    h1{
        width: 129px;
        padding: 0 calc(50% - 129px/2);
        margin-bottom:20px;
    }
    .tab{
        width: 340px;
        margin: 0 calc(50% - 340px/2) 34px;
        display: flex;
        &_item{
            @include border();
            text-align: center;
            width: 210px;
            line-height: 38.5px;
            &:first-child{
                margin-right: 9px;
            }
            // 選択中のタブ
            &.active{
                color: $c_black;
                background: $c_white;
            }
        }
    }
    .contents{
        width: 340px;
        margin: 0 calc(50% - 340px/2) 117px;
        display: none;

        // 選択中のタブに対応するコンテンツ
        &.active{
            display: block;
        }
    }
    .introduction{
        &_img{
            width: 334.5px;
            margin-bottom: 39.5px;
        }
        &_txt{
            letter-spacing: -0.1em;
            &_inner{
                &:first-child{
                    padding-bottom: 20px;
                }
            }
        }
        
    }
    .story{
        ul{
            display: flex;
            flex-wrap: wrap;
        }
        &_item{
            width: 165px;
            text-align: center;
            margin-bottom: 29.5px;
            &:nth-child(odd){
                margin-right: 10px;
            }
            &_img{
                @include border($c_orange);
                position: relative;
                img{
                    display: block;
                }
                &_tag{
                    font-size: 10px;
                    background: $c_orange;
                    color: $c_black;
                    line-height: 18.5px;
                    width: 69px;
                    position: absolute;
                    bottom: -1px;
                    right: -1px;
                }
            }
            &_ttl{
                font-size: 8px;
                margin-top: 10.5px;
            }
        }
    }
}