main h1 {
  width: 233.5px;
  padding: 0 calc(50% - 233.5px/2);
  margin-bottom: 29px;
}

main .character_nav {
  width: 344.5px;
  margin: 0 calc(50% - 344.5px/2) 17px;
  overflow: hidden;
}

main .character_nav_main {
  font-size: 0;
  transition: all 0.3s;
}

main .character_nav_main_item.item-02, main .character_nav_main_item.item-06, main .character_nav_main_item.item-10, main .character_nav_main_item.item-14, main .character_nav_main_item.item-18 {
  margin-left: -8px;
}

main .character_nav_main_item.item-03, main .character_nav_main_item.item-07, main .character_nav_main_item.item-11, main .character_nav_main_item.item-15 {
  margin-left: -15px;
}

main .character_nav_main_item.item-04, main .character_nav_main_item.item-08, main .character_nav_main_item.item-12, main .character_nav_main_item.item-16 {
  margin-left: -24px;
}

main .character_nav_main_item.item-05, main .character_nav_main_item.item-09, main .character_nav_main_item.item-13, main .character_nav_main_item.item-17 {
  margin-left: 0.5px;
}

main .character_nav_main_item.item-01 {
  margin-left: 0;
}

main .character_nav_main_item.item-02, main .character_nav_main_item.item-04, main .character_nav_main_item.item-06, main .character_nav_main_item.item-08, main .character_nav_main_item.item-10, main .character_nav_main_item.item-12, main .character_nav_main_item.item-14, main .character_nav_main_item.item-16, main .character_nav_main_item.item-18 {
  margin-top: 46px;
}

main .character_nav_main_item a {
  width: 108.5px;
}

main .character_nav_main_item a:focus {
  outline: none;
}

main .character_nav_lst {
  display: flex;
  justify-content: center;
  margin: 20px 0 0;
}

main .character_nav_lst li {
  line-height: 0;
}

main .character_nav_lst li:not(:last-child) {
  margin-right: 10px;
}

main .character_nav_lst li button {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  box-sizing: border-box;
  border: solid 1.5px #fff;
  background-color: transparent;
  text-indent: -9999px;
}

main .character_nav_lst li button:focus {
  outline: none;
}

main .character_nav_lst .slick-active button {
  background: #fff;
}

main .contents {
  width: 100vw;
  margin-bottom: 117px;
  position: relative;
  height: 1187px;
  overflow: hidden;
}

main .contents_btn_left, main .contents_btn_right {
  width: 18px;
  position: absolute;
  z-index: 1;
  top: 228.5px;
  left: calc(50vw - 340px/2);
}

main .contents_btn_right {
  left: auto;
  right: calc(50vw - 340px/2);
}

main .contents_inner_item div {
  padding: 0 calc(50vw - 340px/2) 0;
}

main .contents_inner_item_img {
  margin-bottom: 20px;
}

main .contents_inner_item_name img:nth-child(1) {
  height: 56.5px;
  margin-bottom: 13.5px;
}

main .contents_inner_item_name img:nth-child(1).twoLine {
  height: 113px;
}

main .contents_inner_item_name img:nth-child(2) {
  height: 27px;
  margin-bottom: 16.5px;
}

main .contents_inner_item_cast {
  text-align: center;
  margin-bottom: 39.5px;
}
