@charset "UTF-8";
// **************************************************
// * ファイル名：./sass/music/style.scss          *
// * 概要     ：musicのsass                      *
// **************************************************
@import "../_common";
// **************************************************
// * common                                         *
// **************************************************
// **************************************************
// * main                                           *
// **************************************************
main{
    h1{
        width: harf(249px);
        padding: 0 calc(50% - 124.5px/2);
        margin-bottom: harf(42px);
    }
    .select{
        width: 340px;
        line-height: 1;
        padding: 13.25px 0;
        margin: 0 calc(50% - 340px/2) harf(89px);
        @include border();
        color: $c_white;
        font-size: 16px;
        position: relative;
        &_label{
            text-align: center;
            &::before{
                content: "";
                display: inline-block;
                width: 20px;
                height: 20px;
                background: url(../../common/img/btn_left.svg) no-repeat;
                background-size: contain;
                transform: rotate(-90deg);
                margin-right: 9px;
            }
        }
        &_selectCategory{
            width: 340px;
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    .contents{
        border-top: solid 2px $c_orange;
        border-bottom: solid 2px $c_orange;
        background: $c_black;
        position: relative;
        margin-bottom: 117px;
        padding-bottom: 30px;
        &_inner{
            width: 340px;
            margin: 0 calc(50% - 340px/2) 0;
            font-size: 14px;
            font-weight: normal;
            h2{
                color: $c_orange;
                text-align: center;
                margin: harf(129px) 0 harf(68px);
            }
            a{
                color: $c_orange;
            }
            &_tag{
                line-height: harf(47px);
                background: $c_orange;
                text-align: center;
                font-size: harf(23px);
                font-weight: bold;
                color: $c_black;
                padding: 0 harf(13px);
                position: absolute;
                top: -1px;
                right: harf(35px);
            }
            &_img-main{
                font-size: 0;
                margin-bottom: 10px;
            }
            &_link{
                margin-top: 20px;
                position: relative;
                &::after{
                    content: "";
                    display: inline-block;
                    width: 10px;
                    height: 12px;
                    background: url(../../common/img/music/icon_arrow.svg) no-repeat;
                    background-size: cover;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
            &_img-comment{
                margin: 30px 0;
            }
            &_txt-comment{
                &_item{
                    margin-bottom: 1rem;
                }
            }
        }
        
    }
}