main h1 {
  width: 233.5px;
  padding: 0 calc(50% - 233.5px/2);
  margin-bottom: 29px;
}

main .character_nav {
  width: 344.5px;
  margin: 0 calc(50% - 344.5px/2) 17px;
  overflow: hidden;
}

main .character_nav_main {
  display: flex;
  font-size: 0;
  transition: all 0.3s;
}

main .character_nav_main li:not(:first-child) {
  margin-left: -30px;
}

main .character_nav_main li:nth-child(4n + 1) {
  margin-left: 0.5px;
}

main .character_nav_main li:first-child {
  margin-left: 0;
}

main .character_nav_main li:nth-child(2n) {
  margin-top: 46px;
}

main .character_nav_main li a {
  width: 108.5px;
}

main .character_nav_lst {
  display: flex;
  justify-content: center;
  margin: 20px 0 0;
}

main .character_nav_lst_item {
  line-height: 0;
}

main .character_nav_lst_item:not(:last-child) {
  margin-right: 10px;
}

main .character_nav_lst_item a {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  box-sizing: border-box;
  border: solid 1.5px #fff;
}

main .character_nav_lst_item.active a {
  background: #fff;
}

main .contents {
  width: 100vw;
  margin-bottom: 117px;
  position: relative;
  height: 1187px;
  overflow: hidden;
}

main .contents_btn_left, main .contents_btn_right {
  width: 18px;
  position: absolute;
  top: 228.5px;
  left: calc(50vw - 340px/2);
}

main .contents_btn_right {
  left: auto;
  right: calc(50vw - 340px/2);
}

main .contents_inner {
  display: flex;
  width: calc(100vw * 18);
  transition: all 0.3s;
}

main .contents_inner_item {
  width: 340px;
  margin: 0 calc(50vw - 340px/2) 0;
}

main .contents_inner_item_img {
  margin-bottom: 20px;
}

main .contents_inner_item_name img:nth-child(1) {
  height: 56.5px;
  margin-bottom: 13.5px;
}

main .contents_inner_item_name img:nth-child(1).twoLine {
  height: 113px;
}

main .contents_inner_item_name img:nth-child(2) {
  height: 27px;
  margin-bottom: 16.5px;
}

main .contents_inner_item_cast {
  text-align: center;
  margin-bottom: 39.5px;
}
