main h1 {
  width: 143.5px;
  padding: 0 calc(50% - 143.5px/2);
  margin-bottom: 21px;
}

main .tab {
  width: 340px;
  margin: 0 calc(50% - 340px/2) 34px;
  display: flex;
}

main .tab_item {
  border: solid 2px #fff;
  text-align: center;
  width: 210px;
  line-height: 38.5px;
}

main .tab_item:first-child {
  margin-right: 9px;
}

main .tab_item.active {
  color: #000;
  background: #fff;
}

main .contents {
  width: 340px;
  margin: 0 calc(50% - 340px/2) 117px;
  display: none;
}

main .contents h2 {
  font-size: 15px;
  text-align: center;
  color: #f6d221;
}

main .contents h2::after {
  content: "";
  display: block;
  width: 2.4px;
  height: 34px;
  background: #fff;
  margin: 18.5px auto 25px;
}

main .contents span {
  color: #f6d221;
}

main .contents.active {
  display: block;
}

main .housoInf table {
  font-size: 20px;
  font-family: "renner";
}

main .housoInf table tr td {
  padding-bottom: 35px;
}

main .housoInf table tr td:first-child {
  width: 138px;
}

main .housoInf table tr:last-child td {
  padding-bottom: 27.5px;
}

main .housoInf_note {
  font-size: 13px;
}

main .haishinInf_item_ttl {
  margin-bottom: 22.5px;
}

main .haishinInf_item_ttl::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 18px;
  background: url(../../common/img/onair/icon_arrow.svg) no-repeat;
  background-size: contain;
  margin: 4px 6px 0 0;
  vertical-align: top;
}

main .haishinInf_item_ttl h3 {
  display: inline-block;
  font-family: "renner";
}

main .haishinInf_item:not(:last-child) {
  padding-bottom: 27.5px;
}

main .haishinInf_item ul {
  display: flex;
  flex-wrap: wrap;
}

main .haishinInf_item ul li {
  margin-bottom: 15px;
}

main .haishinInf_item ul li:nth-child(odd) {
  margin-right: 12px;
}

main .haishinInf_item ul li a {
  width: 160px;
  height: 64.5px;
  border: solid 2px #f6821e;
  background: #000;
  font-size: 12.5px;
  color: #f6821e;
  text-align: center;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

main .haishinInf_item_note {
  font-size: 10px;
  margin-top: calc(19.5px - 15px);
}
