@charset "UTF-8";
/* ========================================================
topページ専用
======================================================== */
/* スマホ用、共通*/
body{
    background: url(./common/img/topimage1.jpg) no-repeat fixed center;
    background-size: cover;
}
/* タブレット用〜643px以上の場合〜*/
@media screen and (min-width: 643px){
    body{
        display: flex;
        align-items: center;
        height: 100vh;
    }
}
/* ========================================================
header
======================================================== */
/* スマホ用、共通*/
.header{
    background: none;
}
.header ul{
    display: block;
}
.headerNav a:not(#headerNav-sp){
    display: block;
    height: auto;
}
.headerNav li:last-child a{
    border-bottom: solid 1px #fff;
}
/* タブレット用〜643px以上の場合〜*/
@media screen and (min-width: 643px){
    .header{
        background-color: rgb(0, 0, 0, 0.3);
    }
    .header::after{
        content: "";
        display: block;
    }
    .headerNav li:last-child a{
        border-bottom: hidden;
    }
}
/* PC用〜998px以上の場合〜*/
@media screen and (min-width: 998px){
    .header{
        background-color: rgb(0, 0, 0, 0.3);
    }
    .headerLogo{
        padding:28px 0 18px 0;
    }
    .headerNav{
        padding: 36px 33px;
    }
}
/* ========================================================
footer
======================================================== */
/* スマホ用、共通*/
.footer{
    border: none;
    padding: 26px 0;
    background-color: rgb(0, 0, 0, 0.3);
}
.footerNav{
    text-align: center;
}
.footerNav li{
    display: block;
    width: 100%;
}
.footerNav a{
    display: inline-block;
    color: #fff;
    font-size: 10px;
    padding: 2px 4px;
    border-radius: 3px;
    margin-bottom: 5px;
}
.footerNav_twitter a{
    background: skyblue;
}
.footerNav_fb a{
    background: blue;
}
.footerNav_line a{
    background: greenyellow;
}

/* タブレット用〜643px以上の場合〜*/
@media screen and (min-width: 643px){
    .footer{
        padding: 8px 0;
        position: absolute;
        bottom: 0;
    }
    .footerNav{
        width: 151px;
    }
    .footerNav ul{
        display: flex;
    }
    .footerNav li:first-child{
        margin: 0px;
    }
}
/* PC用〜998px以上の場合〜*/
@media screen and (min-width: 998px){

}