@-webkit-keyframes contentsFromBottom {
  0% {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -ms-transform: translateY(200px);
    -o-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}

@-moz-keyframes contentsFromBottom {
  0% {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -ms-transform: translateY(200px);
    -o-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}

@keyframes contentsFromBottom {
  0% {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -ms-transform: translateY(200px);
    -o-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes contentsFromBottom50 {
  0%, 50% {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -ms-transform: translateY(200px);
    -o-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}

@-moz-keyframes contentsFromBottom50 {
  0%, 50% {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -ms-transform: translateY(200px);
    -o-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}

@keyframes contentsFromBottom50 {
  0%, 50% {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -ms-transform: translateY(200px);
    -o-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes contentsFromLeft {
  0% {
    transform: translateX(-200px);
    -moz-transform: translateX(-200px);
    -ms-transform: translateX(-200px);
    -o-transform: translateX(-200px);
    -webkit-transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1;
  }
}

@-moz-keyframes contentsFromLeft {
  0% {
    transform: translateX(-200px);
    -moz-transform: translateX(-200px);
    -ms-transform: translateX(-200px);
    -o-transform: translateX(-200px);
    -webkit-transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1;
  }
}

@keyframes contentsFromLeft {
  0% {
    transform: translateX(-200px);
    -moz-transform: translateX(-200px);
    -ms-transform: translateX(-200px);
    -o-transform: translateX(-200px);
    -webkit-transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes contentsFromLeft50 {
  0%, 50% {
    transform: translateX(-200px);
    -moz-transform: translateX(-200px);
    -ms-transform: translateX(-200px);
    -o-transform: translateX(-200px);
    -webkit-transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1;
  }
}

@-moz-keyframes contentsFromLeft50 {
  0%, 50% {
    transform: translateX(-200px);
    -moz-transform: translateX(-200px);
    -ms-transform: translateX(-200px);
    -o-transform: translateX(-200px);
    -webkit-transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1;
  }
}

@keyframes contentsFromLeft50 {
  0%, 50% {
    transform: translateX(-200px);
    -moz-transform: translateX(-200px);
    -ms-transform: translateX(-200px);
    -o-transform: translateX(-200px);
    -webkit-transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes contentsFromRight {
  0% {
    transform: translateX(200px);
    -moz-transform: translateX(200px);
    -ms-transform: translateX(200px);
    -o-transform: translateX(200px);
    -webkit-transform: translateX(200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1;
  }
}

@-moz-keyframes contentsFromRight {
  0% {
    transform: translateX(200px);
    -moz-transform: translateX(200px);
    -ms-transform: translateX(200px);
    -o-transform: translateX(200px);
    -webkit-transform: translateX(200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1;
  }
}

@keyframes contentsFromRight {
  0% {
    transform: translateX(200px);
    -moz-transform: translateX(200px);
    -ms-transform: translateX(200px);
    -o-transform: translateX(200px);
    -webkit-transform: translateX(200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes contentsFromRight50 {
  0%, 50% {
    transform: translateX(200px);
    -moz-transform: translateX(200px);
    -ms-transform: translateX(200px);
    -o-transform: translateX(200px);
    -webkit-transform: translateX(200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1;
  }
}

@-moz-keyframes contentsFromRight50 {
  0%, 50% {
    transform: translateX(200px);
    -moz-transform: translateX(200px);
    -ms-transform: translateX(200px);
    -o-transform: translateX(200px);
    -webkit-transform: translateX(200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1;
  }
}

@keyframes contentsFromRight50 {
  0%, 50% {
    transform: translateX(200px);
    -moz-transform: translateX(200px);
    -ms-transform: translateX(200px);
    -o-transform: translateX(200px);
    -webkit-transform: translateX(200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes contentsFloating {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes contentsFloating {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes contentsFloating {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes contentsFloating50 {
  0%, 50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes contentsFloating50 {
  0%, 50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes contentsFloating50 {
  0%, 50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

main {
  padding-left: 81px;
}

main .mainVisual {
  position: relative;
  text-align: center;
  margin-bottom: 6px;
}

main .mainVisual_video {
  height: 84vh;
  width: 100%;
  overflow: hidden;
}

main .mainVisual_video video {
  width: 100%;
}

main .mainVisual_logo {
  fill: #ea5514;
  height: 60vh;
  overflow: hidden;
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
}

main .mainVisual_logo_inner {
  display: flex;
  padding-bottom: 20px;
}

main .mainVisual_logo_inner .mainVisual_logo_img {
  position: relative;
  padding-right: 10px;
}

main .mainVisual_logo_inner .mainVisual_logo_img_svg_paint {
  height: 15.5vh;
}

@keyframes isOpenAnimation {
  0% {
    opacity: 0;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  5% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  6% {
    opacity: 0;
    -webkit-transform: translate(10px);
    transform: translate(10px);
  }
  7% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  10% {
    opacity: 0;
    -webkit-transform: translate(10px);
    transform: translate(10px);
  }
  11% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  12% {
    opacity: 0;
    -webkit-transform: translate(10px);
    transform: translate(10px);
  }
  19% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    opacity: 0;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  21% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  25% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  26% {
    opacity: 0;
    -webkit-transform: translate(5px);
    transform: translate(5px);
  }
  27% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  31% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  32% {
    opacity: 0;
    -webkit-transform: translate(5px);
    transform: translate(5px);
  }
  33% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  34% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  35% {
    opacity: 0;
    -webkit-transform: translate(10px);
    transform: translate(10px);
  }
  36% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  37% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  38% {
    opacity: 0;
    -webkit-transform: translate(20px);
    transform: translate(20px);
  }
  39% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  43% {
    opacity: 1;
    -webkit-transform: translate(-1px);
    transform: translate(-1px);
  }
  44% {
    -webkit-transform: translate(1px);
    transform: translate(1px);
  }
  44.1% {
    opacity: 1;
    -webkit-transform: translate(-1px);
    transform: translate(-1px);
  }
  44.2% {
    opacity: 1;
    -webkit-transform: translate(1px);
    transform: translate(1px);
  }
  44.3% {
    opacity: 1;
    -webkit-transform: translate(-1px);
    transform: translate(-1px);
  }
  44.4% {
    opacity: 1;
    -webkit-transform: translate(1px);
    transform: translate(1px);
  }
  44.5% {
    opacity: 1;
    -webkit-transform: translate(-1px);
    transform: translate(-1px);
  }
  44.6% {
    opacity: 1;
    -webkit-transform: translate(1px);
    transform: translate(1px);
  }
  44.7% {
    opacity: 1;
    -webkit-transform: translate(-1px);
    transform: translate(-1px);
  }
  44.8% {
    opacity: 1;
    -webkit-transform: translate(1px);
    transform: translate(1px);
  }
  44% {
    opacity: 1;
    -webkit-transform: translate(-1px);
    transform: translate(-1px);
  }
  45% {
    opacity: 0;
    -webkit-transform: translate(1px);
    transform: translate(1px);
  }
  46% {
    opacity: 1;
    -webkit-transform: translate(-1px);
    transform: translate(-1px);
  }
  47% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  47.1% {
    opacity: 1;
    -webkit-transform: translate(2px);
    transform: translate(2px);
  }
  47.2% {
    opacity: 1;
    -webkit-transform: translate(-2px);
    transform: translate(-2px);
  }
  47.3% {
    opacity: 1;
    -webkit-transform: translate(2px);
    transform: translate(2px);
  }
  47.4% {
    opacity: 1;
    -webkit-transform: translate(-2px);
    transform: translate(-2px);
  }
  48% {
    opacity: 0;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  49% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  55% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  56% {
    opacity: 0;
    -webkit-transform: translate(5px);
    transform: translate(5px);
  }
  57% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  61% {
    opacity: 0;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  63% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  70% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  71% {
    opacity: 0;
    -webkit-transform: translate(10px);
    transform: translate(10px);
  }
  72% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  73% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  74% {
    opacity: 0;
    -webkit-transform: translate(10px);
    transform: translate(10px);
  }
  75% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  76% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  78% {
    opacity: 0;
    -webkit-transform: translate(20px);
    transform: translate(20px);
  }
  80% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  86% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  87% {
    opacity: 0;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  88% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  89% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  90% {
    opacity: 1;
    -webkit-transform: translate(5px);
    transform: translate(5px);
  }
  93% {
    opacity: 1;
    -webkit-transform: translate(5px);
    transform: translate(5px);
  }
  94% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  94.1% {
    opacity: 1;
    -webkit-transform: translate(2px);
    transform: translate(2px);
  }
  94.2% {
    opacity: 1;
    -webkit-transform: translate(-2px);
    transform: translate(-2px);
  }
  94.3% {
    opacity: 1;
    -webkit-transform: translate(2px);
    transform: translate(2px);
  }
  94.4% {
    opacity: 1;
    -webkit-transform: translate(-2px);
    transform: translate(-2px);
  }
  95% {
    opacity: 0;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  96% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

@keyframes isPunkAnimation {
  0% {
    opacity: 0;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  5% {
    opacity: 0;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  6% {
    opacity: 0;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  7% {
    opacity: 0;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  10% {
    opacity: 1;
    -webkit-transform: translate(-5px);
    transform: translate(-5px);
  }
  11% {
    opacity: 0;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  12% {
    opacity: 1;
    -webkit-transform: translate(-5px);
    transform: translate(-5px);
  }
  19% {
    opacity: 0;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    opacity: 1;
    -webkit-transform: translate(-3px);
    transform: translate(-3px);
  }
  20.1% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20.2% {
    opacity: 1;
    -webkit-transform: translate(3px);
    transform: translate(3px);
  }
  20.3% {
    opacity: 1;
    -webkit-transform: translate(-3px);
    transform: translate(-3px);
  }
  20.4% {
    opacity: 1;
    -webkit-transform: translate(3px);
    transform: translate(3px);
  }
  20.5% {
    opacity: 1;
    -webkit-transform: translate(-3px);
    transform: translate(-3px);
  }
  20.6% {
    opacity: 1;
    -webkit-transform: translate(3px);
    transform: translate(3px);
  }
  20.7% {
    opacity: 1;
    -webkit-transform: translate(-3px);
    transform: translate(-3px);
  }
  20.8% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  21% {
    opacity: 0;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  22% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  23% {
    opacity: 0;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  25% {
    opacity: 0;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  26% {
    opacity: 1;
    -webkit-transform: translate(5px);
    transform: translate(5px);
  }
  27% {
    opacity: 0;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  31% {
    opacity: 0;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  32% {
    opacity: 1;
    -webkit-transform: translate(-5px);
    transform: translate(-5px);
  }
  33% {
    opacity: 0;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  34% {
    opacity: 0;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  35% {
    opacity: 1;
    -webkit-transform: translate(5px);
    transform: translate(5px);
  }
  36% {
    opacity: 0;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  37% {
    opacity: 0;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  38% {
    opacity: 1;
    -webkit-transform: translate(-5px);
    transform: translate(-5px);
  }
  39% {
    opacity: 0;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  45% {
    opacity: 0;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  45% {
    opacity: 1;
    -webkit-transform: translate(-3px);
    transform: translate(-3px);
  }
  45.1% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  45.2% {
    opacity: 1;
    -webkit-transform: translate(3px);
    transform: translate(3px);
  }
  45.3% {
    opacity: 1;
    -webkit-transform: translate(-3px);
    transform: translate(-3px);
  }
  45.4% {
    opacity: 1;
    -webkit-transform: translate(3px);
    transform: translate(3px);
  }
  45.5% {
    opacity: 1;
    -webkit-transform: translate(-3px);
    transform: translate(-3px);
  }
  45.6% {
    opacity: 1;
    -webkit-transform: translate(3px);
    transform: translate(3px);
  }
  45.7% {
    opacity: 1;
    -webkit-transform: translate(-3px);
    transform: translate(-3px);
  }
  45.8% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  46% {
    opacity: 0;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  48% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  48.2% {
    opacity: 1;
    -webkit-transform: translate(-3px);
    transform: translate(-3px);
  }
  48.4% {
    opacity: 1;
    -webkit-transform: translate(3px);
    transform: translate(3px);
  }
  48.6% {
    opacity: 1;
    -webkit-transform: translate(-3px);
    transform: translate(-3px);
  }
  48.8% {
    opacity: 1;
    -webkit-transform: translate(3px);
    transform: translate(3px);
  }
  49% {
    opacity: 0;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  55% {
    opacity: 0;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  56% {
    opacity: 1;
    -webkit-transform: translate(-5px);
    transform: translate(-5px);
  }
  57% {
    opacity: 0;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  60% {
    opacity: 0;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  61% {
    opacity: 1;
    -webkit-transform: translate(3px);
    transform: translate(3px);
  }
  61.2% {
    opacity: 1;
    -webkit-transform: translate(-3px);
    transform: translate(-3px);
  }
  61.4% {
    opacity: 1;
    -webkit-transform: translate(3px);
    transform: translate(3px);
  }
  61.6% {
    opacity: 1;
    -webkit-transform: translate(-3px);
    transform: translate(-3px);
  }
  61.8% {
    opacity: 1;
    -webkit-transform: translate(3px);
    transform: translate(3px);
  }
  62% {
    opacity: 0;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  70% {
    opacity: 0;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  71% {
    opacity: 1;
    -webkit-transform: translate(-5px);
    transform: translate(-5px);
  }
  72% {
    opacity: 0;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  73% {
    opacity: 0;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  74% {
    opacity: 1;
    -webkit-transform: translate(5px);
    transform: translate(5px);
  }
  75% {
    opacity: 0;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  76% {
    opacity: 0;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  78% {
    opacity: 1;
    -webkit-transform: translate(-5px);
    transform: translate(-5px);
  }
  80% {
    opacity: 0;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  86% {
    opacity: 0;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  87% {
    opacity: 1;
    -webkit-transform: translate(5px);
    transform: translate(5px);
  }
  87.1% {
    opacity: 1;
    -webkit-transform: translate(-3px);
    transform: translate(-3px);
  }
  87.2% {
    opacity: 1;
    -webkit-transform: translate(3px);
    transform: translate(3px);
  }
  87.3% {
    opacity: 1;
    -webkit-transform: translate(-3px);
    transform: translate(-3px);
  }
  87.4% {
    opacity: 1;
    -webkit-transform: translate(3px);
    transform: translate(3px);
  }
  87.5% {
    opacity: 1;
    -webkit-transform: translate(-3px);
    transform: translate(-3px);
  }
  87.6% {
    opacity: 1;
    -webkit-transform: translate(3px);
    transform: translate(3px);
  }
  87.7% {
    opacity: 1;
    -webkit-transform: translate(-3px);
    transform: translate(-3px);
  }
  87.8% {
    opacity: 1;
    -webkit-transform: translate(3px);
    transform: translate(3px);
  }
  87.9% {
    opacity: 1;
    -webkit-transform: translate(-3px);
    transform: translate(-3px);
  }
  88% {
    opacity: 0;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  89% {
    opacity: 0;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  90% {
    opacity: 1;
    -webkit-transform: translate(3px);
    transform: translate(3px);
  }
  90.1% {
    opacity: 1;
    -webkit-transform: translate(-3px);
    transform: translate(-3px);
  }
  90.2% {
    opacity: 1;
    -webkit-transform: translate(3px);
    transform: translate(3px);
  }
  90.3% {
    opacity: 1;
    -webkit-transform: translate(-3px);
    transform: translate(-3px);
  }
  90.4% {
    opacity: 1;
    -webkit-transform: translate(3px);
    transform: translate(3px);
  }
  90.5% {
    opacity: 1;
    -webkit-transform: translate(-3px);
    transform: translate(-3px);
  }
  90.6% {
    opacity: 1;
    -webkit-transform: translate(3px);
    transform: translate(3px);
  }
  90.7% {
    opacity: 1;
    -webkit-transform: translate(-3px);
    transform: translate(-3px);
  }
  90.8% {
    opacity: 1;
    -webkit-transform: translate(3px);
    transform: translate(3px);
  }
  90.9% {
    opacity: 1;
    -webkit-transform: translate(-3px);
    transform: translate(-3px);
  }
  91% {
    opacity: 0;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  92% {
    opacity: 0;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  92.1% {
    opacity: 1;
    -webkit-transform: translate(-3px);
    transform: translate(-3px);
  }
  92.2% {
    opacity: 1;
    -webkit-transform: translate(3px);
    transform: translate(3px);
  }
  92.3% {
    opacity: 1;
    -webkit-transform: translate(-3px);
    transform: translate(-3px);
  }
  92.4% {
    opacity: 1;
    -webkit-transform: translate(3px);
    transform: translate(3px);
  }
  92.5% {
    opacity: 1;
    -webkit-transform: translate(-3px);
    transform: translate(-3px);
  }
  92.6% {
    opacity: 1;
    -webkit-transform: translate(3px);
    transform: translate(3px);
  }
  92.7% {
    opacity: 1;
    -webkit-transform: translate(-3px);
    transform: translate(-3px);
  }
  92.8% {
    opacity: 1;
    -webkit-transform: translate(3px);
    transform: translate(3px);
  }
  92.9% {
    opacity: 1;
    -webkit-transform: translate(-3px);
    transform: translate(-3px);
  }
  93% {
    opacity: 0;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  to {
    opacity: 0;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

@keyframes isBombAnimation {
  0% {
    opacity: 0;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  to {
    opacity: 0;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

main .mainVisual_logo_inner .mainVisual_logo_img .is_punk {
  animation: isPunkAnimation 5s steps(1) 0s infinite;
  -moz-animation: isPunkAnimation 5s steps(1) 0s infinite;
  -o-animation: isPunkAnimation 5s steps(1) 0s infinite;
  -webkit-animation: isPunkAnimation 5s steps(1) 0s infinite;
  position: absolute;
  top: 0;
  left: 0;
}

main .mainVisual_logo_inner .mainVisual_logo_img .is_bomb {
  animation: isBombAnimation 5s steps(1) 0s infinite;
  -moz-animation: isBombAnimation 5s steps(1) 0s infinite;
  -o-animation: isBombAnimation 5s steps(1) 0s infinite;
  -webkit-animation: isBombAnimation 5s steps(1) 0s infinite;
  position: absolute;
  top: 0;
  left: 0;
}

main .mainVisual_logo_inner .mainVisual_logo_img .is_open {
  animation: isOpenAnimation 5s steps(1) 0s infinite;
  -moz-animation: isOpenAnimation 5s steps(1) 0s infinite;
  -o-animation: isOpenAnimation 5s steps(1) 0s infinite;
  -webkit-animation: isOpenAnimation 5s steps(1) 0s infinite;
}

main .mainVisual_icon {
  width: 115px;
  position: absolute;
  top: 84vh;
  right: 48px;
  transform: translateY(-100%);
}

main .mainVisual_txt {
  width: 102px;
  margin: 0 auto;
  padding: 24px 0 6px;
}

main .mainVisual.active .mainVisual_video {
  animation: videoScale 1s;
  -moz-animation: videoScale 1s;
  -o-animation: videoScale 1s;
  -webkit-animation: videoScale 1s;
}

@-webkit-keyframes videoScale {
  0% {
    width: 100vw;
    margin-left: -81px;
  }
  100% {
    width: 100%;
    margin-left: 0;
  }
}

@-moz-keyframes videoScale {
  0% {
    width: 100vw;
    margin-left: -81px;
  }
  100% {
    width: 100%;
    margin-left: 0;
  }
}

@keyframes videoScale {
  0% {
    width: 100vw;
    margin-left: -81px;
  }
  100% {
    width: 100%;
    margin-left: 0;
  }
}

main .mainVisual.active .mainVisual_logo {
  animation: contentsFloating50 1.3s;
  -moz-animation: contentsFloating50 1.3s;
  -o-animation: contentsFloating50 1.3s;
  -webkit-animation: contentsFloating50 1.3s;
}

main section {
  padding-top: 175px;
  padding-left: calc(81px + 38px);
  position: relative;
}

main section h2 {
  background: #ea5514;
  width: 100vw;
  line-height: 450px;
  margin-left: -218px;
  padding-left: 176px;
  position: absolute;
  top: 0;
  z-index: 2;
}

main section h2::before {
  content: "";
  display: block;
  width: 4px;
  height: 140px;
  border-left: solid 4px #fff;
  position: absolute;
  top: 0;
  left: 185px;
}

main section h2::after {
  content: "";
  display: block;
  width: 4px;
  height: 140px;
  border-left: solid 4px #fff;
  position: absolute;
  bottom: 0;
  left: 185px;
}

main section h2 img {
  vertical-align: middle;
}

main section h2.default img {
  visibility: hidden;
}

main section h2.active img {
  visibility: visible;
  transform-origin: top left;
  -moz-transform-origin: top left;
  -ms-transform-origin: top left;
  -o-transform-origin: top left;
  -webkit-transform-origin: top left;
  animation: h2Animation 0.1s;
  -moz-animation: h2Animation 0.1s;
  -o-animation: h2Animation 0.1s;
  -webkit-animation: h2Animation 0.1s;
}

@-webkit-keyframes h2Animation {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

@-moz-keyframes h2Animation {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

@keyframes h2Animation {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

main .news {
  padding-left: 26px;
}

main .news h2 {
  margin-left: -137px;
}

main .news h2 img {
  width: 446px;
}

main .news_contents {
  display: flex;
  background: url(../common/img/top/bgTxt_news.png) no-repeat bottom right;
  padding-bottom: 77px;
}

main .news_contents_imgs {
  width: 533px;
  padding-right: 147px;
  position: relative;
}

main .news_contents_imgs_img01 {
  width: 533px;
  padding-bottom: 34px;
}

main .news_contents_imgs_img02 {
  width: 533px;
}

main .news_contents_imgs h3 {
  width: 236px;
  position: absolute;
  top: 315px;
  left: -12px;
}

main .news_contents_info {
  width: 365px;
}

main .news_contents_info_item {
  display: inline-block;
  letter-spacing: -1.3px;
}

main .news_contents_info_item:not(:first-child) {
  border-top: dotted 1px #000;
}

main .news_contents_info_item:not(:first-child) .news_contents_info_item_date {
  margin-top: 22px;
}

main .news_contents_info_item:hover .news_contents_info_item_btnReadMore {
  transform: translate(6px);
  -moz-transform: translate(6px);
  -ms-transform: translate(6px);
  -o-transform: translate(6px);
  -webkit-transform: translate(6px);
  transition: transform 0.3s linear;
}

main .news_contents_info_item_date {
  font-size: 12px;
}

main .news_contents_info_item_ttl {
  font-size: 16px;
  line-height: 23px;
  padding: 0 5px;
  display: inline-block;
  color: #fff;
  background: #ea5514;
  margin: 10px 0;
}

main .news_contents_info_item_btnReadMore {
  width: 115px;
  padding: 14px 0 18px 250px;
  transition: transform 0.3s linear;
}

main .news_contents_info_btnToNews, main .greeting_contents_txt_btnToGreeting, main .outline_contents_txt_btnToOutline, main .branding_contents_txt_btnToBranding, main .recruit_contents_txt_inner_btnToRecruit {
  width: 261px;
  height: 41px;
  line-height: 41px;
  display: block;
  text-align: center;
  margin: 0 auto;
  border: solid 1px #000;
  box-sizing: border-box;
  position: relative;
}

main .news_contents_info_btnToNews::after, main .greeting_contents_txt_btnToGreeting::after, main .outline_contents_txt_btnToOutline::after, main .branding_contents_txt_btnToBranding::after, main .recruit_contents_txt_inner_btnToRecruit::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background: #ea5514;
  transform-origin: top left;
  -moz-transform-origin: top left;
  -ms-transform-origin: top left;
  -o-transform-origin: top left;
  -webkit-transform-origin: top left;
  transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  -webkit-transform: scaleX(0);
  transition: transform 0.3s;
  -moz-transition: transform 0.3s;
  -o-transition: transform 0.3s;
  -webkit-transition: transform 0.3s;
}

main .news_contents_info_btnToNews p, main .greeting_contents_txt_btnToGreeting p, main .outline_contents_txt_btnToOutline p, main .branding_contents_txt_btnToBranding p, main .recruit_contents_txt_inner_btnToRecruit p {
  transition: transform 0.3s linear;
}

main .news_contents_info_btnToNews p::after, main .greeting_contents_txt_btnToGreeting p::after, main .outline_contents_txt_btnToOutline p::after, main .branding_contents_txt_btnToBranding p::after, main .recruit_contents_txt_inner_btnToRecruit p::after {
  content: "";
  display: inline-block;
  width: 26px;
  height: 13px;
  margin-left: 4px;
  background: url(../common/img/btn_icon_arrow_black.png) no-repeat;
}

main .news_contents_info_btnToNews:hover, main .greeting_contents_txt_btnToGreeting:hover, main .outline_contents_txt_btnToOutline:hover, main .branding_contents_txt_btnToBranding:hover, main .recruit_contents_txt_inner_btnToRecruit:hover {
  color: #fff;
  border: none;
}

main .news_contents_info_btnToNews:hover::after, main .greeting_contents_txt_btnToGreeting:hover::after, main .outline_contents_txt_btnToOutline:hover::after, main .branding_contents_txt_btnToBranding:hover::after, main .recruit_contents_txt_inner_btnToRecruit:hover::after {
  transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  -webkit-transform: scaleX(1);
}

main .news_contents_info_btnToNews:hover p, main .greeting_contents_txt_btnToGreeting:hover p, main .outline_contents_txt_btnToOutline:hover p, main .branding_contents_txt_btnToBranding:hover p, main .recruit_contents_txt_inner_btnToRecruit:hover p {
  transform: translate(6px);
  -moz-transform: translate(6px);
  -ms-transform: translate(6px);
  -o-transform: translate(6px);
  -webkit-transform: translate(6px);
  transition: transform 0.3s linear;
}

main .news_contents_info_btnToNews:hover p::after, main .greeting_contents_txt_btnToGreeting:hover p::after, main .outline_contents_txt_btnToOutline:hover p::after, main .branding_contents_txt_btnToBranding:hover p::after, main .recruit_contents_txt_inner_btnToRecruit:hover p::after {
  background: url(../common/img/btn_icon_arrow_white.png) no-repeat;
}

main .news.default .news_contents {
  visibility: hidden;
}

main .news.active .news_contents_imgs_img01 {
  animation: contentsFloating 0.3s;
  -moz-animation: contentsFloating 0.3s;
  -o-animation: contentsFloating 0.3s;
  -webkit-animation: contentsFloating 0.3s;
}

main .news.active .news_contents_imgs_img02 {
  animation: contentsFloating50 0.6s;
  -moz-animation: contentsFloating50 0.6s;
  -o-animation: contentsFloating50 0.6s;
  -webkit-animation: contentsFloating50 0.6s;
}

main .news.active .news_contents_imgs h3 {
  animation: contentsFloating50 0.9s;
  -moz-animation: contentsFloating50 0.9s;
  -o-animation: contentsFloating50 0.9s;
  -webkit-animation: contentsFloating50 0.9s;
}

main .news.active .news_contents_info {
  animation: contentsFromBottom 1s;
  -moz-animation: contentsFromBottom 1s;
  -o-animation: contentsFromBottom 1s;
  -webkit-animation: contentsFromBottom 1s;
}

main .news.active .news_contents_info_btnToNews, main .news.active .greeting_contents_txt_btnToGreeting, main .news.active .outline_contents_txt_btnToOutline, main .news.active .branding_contents_txt_btnToBranding, main .news.active .recruit_contents_txt_inner_btnToRecruit {
  animation: contentsFromRight50 1.2s;
  -moz-animation: contentsFromRight50 1.2s;
  -o-animation: contentsFromRight50 1.2s;
  -webkit-animation: contentsFromRight50 1.2s;
}

main .greeting::before {
  content: "";
  display: block;
  width: 725px;
  height: 469px;
  background: #ea5514;
  opacity: 0.25;
  position: absolute;
  bottom: 0;
  left: -81px;
  z-index: 0;
}

main .greeting h2 img {
  width: 429px;
}

main .greeting_contents, main .outline_contents, main .branding_contents, main .recruit_contents {
  display: flex;
  padding-bottom: 176px;
  background: url(../common/img/top/bgTxt_greeting.png) no-repeat bottom right;
  position: relative;
  z-index: 1;
}

main .greeting_contents_txt {
  width: 423px;
  padding-right: 27px;
}

main .greeting_contents_txt h3 {
  width: 232px;
}

main .greeting_contents_txt_inner {
  line-height: 2.5;
  padding: 43px 0 52px;
}

main .greeting_contents_img {
  width: 550px;
  margin-top: -50px;
}

main .greeting.default .greeting_contents, main .greeting.default .outline_contents, main .greeting.default .branding_contents, main .greeting.default .recruit_contents {
  visibility: hidden;
}

main .greeting.active .greeting_contents_txt {
  animation: contentsFromLeft 0.3s;
  -moz-animation: contentsFromLeft 0.3s;
  -o-animation: contentsFromLeft 0.3s;
  -webkit-animation: contentsFromLeft 0.3s;
}

main .greeting.active .greeting_contents_txt_btnToGreeting {
  animation: contentsFromBottom50 0.6s;
  -moz-animation: contentsFromBottom50 0.6s;
  -o-animation: contentsFromBottom50 0.6s;
  -webkit-animation: contentsFromBottom50 0.6s;
}

main .greeting.active .greeting_contents_img {
  animation: contentsFloating 1s;
  -moz-animation: contentsFloating 1s;
  -o-animation: contentsFloating 1s;
  -webkit-animation: contentsFloating 1s;
}

main .outline::before {
  width: 1025px;
  height: 603px;
}

main .outline h2 img {
  width: 444px;
}

main .outline_contents {
  background: url(../common/img/top/bgTxt_outline.png) no-repeat bottom right;
  padding-bottom: 96px;
}

main .outline_contents_txt {
  padding-right: 62px;
}

main .outline_contents_txt h3 {
  width: 236px;
  padding: 0 0 46px 55px;
}

main .outline_contents_txt table {
  padding-bottom: 58px;
}

main .outline_contents_txt table tr:last-child td {
  padding-top: 1em;
}

main .outline_contents_txt table tr td {
  vertical-align: baseline;
}

main .outline_contents_txt table tr td:first-child {
  width: 100px;
}

main .outline_contents_txt table tr td span {
  font-size: 12px;
}

main .outline_contents_img {
  width: 558px;
  height: 100%;
  margin-top: -175px;
}

main .outline.default .outline_contents {
  visibility: hidden;
}

main .outline.active .outline_contents_txt h3 {
  animation: contentsFromLeft 0.3s;
  -moz-animation: contentsFromLeft 0.3s;
  -o-animation: contentsFromLeft 0.3s;
  -webkit-animation: contentsFromLeft 0.3s;
}

main .outline.active .outline_contents_txt table {
  animation: contentsFromBottom50 0.6s;
  -moz-animation: contentsFromBottom50 0.6s;
  -o-animation: contentsFromBottom50 0.6s;
  -webkit-animation: contentsFromBottom50 0.6s;
}

main .outline.active .outline_contents_txt_btnToOutline {
  animation: contentsFromBottom50 0.9s;
  -moz-animation: contentsFromBottom50 0.9s;
  -o-animation: contentsFromBottom50 0.9s;
  -webkit-animation: contentsFromBottom50 0.9s;
}

main .outline.active .outline_contents_img {
  animation: contentsFloating 1s;
  -moz-animation: contentsFloating 1s;
  -o-animation: contentsFloating 1s;
  -webkit-animation: contentsFloating 1s;
}

main .branding::before {
  width: 1097px;
  height: 662px;
}

main .branding h2 img {
  width: 434px;
}

main .branding_contents {
  background: url(../common/img/top/bgTxt_branding.png) no-repeat bottom right;
  padding-bottom: 180px;
}

main .branding_contents_txt {
  padding-right: 133px;
}

main .branding_contents_txt h3 {
  padding-bottom: 66px;
}

main .branding_contents_txt h3 img {
  width: 235px;
}

main .branding_contents_txt_logoList {
  width: 338px;
  padding-bottom: 81px;
}

main .branding_contents_txt_logoList_box {
  display: inline-block;
}

main .branding_contents_txt_logoList_box:nth-child(odd) {
  width: 148px;
  padding-right: 56px;
}

main .branding_contents_txt_logoList_box:not(:last-child) {
  padding-bottom: 26px;
}

main .branding_contents_txt_logoList_box p {
  font-size: 13px;
}

main .branding_contents_txt_logoList_box a {
  display: inline-block;
}

main .branding_contents_txt_logoList_box a:hover {
  opacity: 0.7;
}

main .branding_contents_txt_logoList_box a .logo_keinomori {
  width: 124px;
}

main .branding_contents_txt_logoList_box a .logo_kurumanomori {
  width: 102px;
}

main .branding_contents_txt_logoList_box a .logo_keipark {
  width: 147px;
}

main .branding_contents_txt_logoList_box a .logo_shinsyaichiba {
  width: 134px;
}

main .branding_contents_txt_logoList_box a .logo_mahhashaken {
  width: 141px;
}

main .branding_contents_txt_logoList_box a .logo_picars {
  width: 73px;
}

main .branding_contents_txt_logoList_box a .logo_sensha {
  width: 146px;
}

main .branding_contents_txt_btnToBranding, main .recruit_contents_txt_inner_btnToRecruit {
  margin: 0;
}

main .branding_contents_img {
  width: 530px;
  margin-top: -175px;
}

main .branding_contents_img img {
  display: inline-block;
}

main .branding_contents_img img:first-child {
  padding-bottom: 24px;
}

main .branding.default .branding_contents {
  visibility: hidden;
}

main .branding.active .branding_contents_txt h3 {
  animation: contentsFromLeft 0.3s;
  -moz-animation: contentsFromLeft 0.3s;
  -o-animation: contentsFromLeft 0.3s;
  -webkit-animation: contentsFromLeft 0.3s;
}

main .branding.active .branding_contents_txt_logoList_box:nth-child(1), main .branding.active .branding_contents_txt_logoList_box:nth-child(4) {
  animation: contentsFromLeft50 0.5s;
  -moz-animation: contentsFromLeft50 0.5s;
  -o-animation: contentsFromLeft50 0.5s;
  -webkit-animation: contentsFromLeft50 0.5s;
}

main .branding.active .branding_contents_txt_logoList_box:nth-child(2), main .branding.active .branding_contents_txt_logoList_box:nth-child(5) {
  animation: contentsFromLeft50 0.6s;
  -moz-animation: contentsFromLeft50 0.6s;
  -o-animation: contentsFromLeft50 0.6s;
  -webkit-animation: contentsFromLeft50 0.6s;
}

main .branding.active .branding_contents_txt_logoList_box:nth-child(3), main .branding.active .branding_contents_txt_logoList_box:nth-child(6) {
  animation: contentsFromLeft50 0.7s;
  -moz-animation: contentsFromLeft50 0.7s;
  -o-animation: contentsFromLeft50 0.7s;
  -webkit-animation: contentsFromLeft50 0.7s;
}

main .branding.active .branding_contents_txt_logoList_box:nth-child(7) {
  animation: contentsFromLeft50 0.8s;
  -moz-animation: contentsFromLeft50 0.8s;
  -o-animation: contentsFromLeft50 0.8s;
  -webkit-animation: contentsFromLeft50 0.8s;
}

main .branding.active .branding_contents_txt_btnToBranding, main .branding.active .recruit_contents_txt_inner_btnToRecruit {
  animation: contentsFromLeft50 1s;
  -moz-animation: contentsFromLeft50 1s;
  -o-animation: contentsFromLeft50 1s;
  -webkit-animation: contentsFromLeft50 1s;
}

main .branding.active .branding_contents_img img:first-child {
  animation: contentsFloating 1s;
  -moz-animation: contentsFloating 1s;
  -o-animation: contentsFloating 1s;
  -webkit-animation: contentsFloating 1s;
}

main .branding.active .branding_contents_img img:last-child {
  animation: contentsFloating50 1.1s;
  -moz-animation: contentsFloating50 1.1s;
  -o-animation: contentsFloating50 1.1s;
  -webkit-animation: contentsFloating50 1.1s;
}

main .recruit::before {
  width: 1025px;
  height: 604px;
}

main .recruit h2 img {
  width: 436px;
}

main .recruit_contents {
  background: url(../common/img/top/bgTxt_recruit.png) no-repeat bottom right;
  padding-bottom: 174px;
  position: relative;
}

main .recruit_contents_txt {
  width: 550px;
}

main .recruit_contents_txt h3 {
  padding-bottom: 49px;
}

main .recruit_contents_txt h3 img {
  width: 234px;
}

main .recruit_contents_txt_inner {
  display: flex;
  padding-top: 98px;
  width: 918px;
}

main .recruit_contents_txt_inner ul {
  width: 549px;
  padding-right: 70px;
  display: flex;
  flex-wrap: wrap;
}

main .recruit_contents_txt_inner ul li {
  font-size: 18px;
  line-height: 26px;
  width: 161px;
  height: 97px;
  margin: 0 33px 26px 0;
  text-align: center;
  position: relative;
}

main .recruit_contents_txt_inner ul li:nth-child(3n) {
  margin-right: 0;
}

main .recruit_contents_txt_inner ul li:nth-child(n+3) {
  margin-bottom: 0;
}

main .recruit_contents_txt_inner ul li .boxShadow {
  width: 161px;
  height: 97px;
  background: #c7bbab;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 0;
}

main .recruit_contents_txt_inner ul li a {
  display: inline-block;
  color: #fff;
  width: 100%;
  height: 100%;
  background: #ea5514;
  position: relative;
  z-index: 1;
}

main .recruit_contents_txt_inner ul li a p {
  white-space: nowrap;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

main .recruit_contents_txt_inner ul li a .shadow, main .recruit_contents_txt_inner ul li a .shadow::before {
  width: 41px;
  height: 41px;
  background-color: #c7bbab;
  border-radius: 50%;
  position: absolute;
  bottom: -16px;
  right: -10px;
}

main .recruit_contents_txt_inner ul li a .shadow::before {
  content: "";
  width: 44px;
  height: 44px;
  bottom: 2px;
  right: 2px;
}

main .recruit_contents_txt_inner ul li a .icon {
  width: 41px;
  line-height: 41px;
  background-color: #ea5514;
  border-radius: 50%;
  position: absolute;
  bottom: -14px;
  right: -8px;
}

main .recruit_contents_txt_inner ul li a .icon img {
  vertical-align: middle;
}

main .recruit_contents_txt_inner ul li a .icon_eigyou img {
  width: 14px;
}

main .recruit_contents_txt_inner ul li a .icon_seibi img {
  width: 26px;
}

main .recruit_contents_txt_inner ul li a .icon_front img {
  width: 28px;
}

main .recruit_contents_txt_inner ul li a .icon_customer img {
  width: 19px;
}

main .recruit_contents_txt_inner ul li a .icon_kanri img {
  width: 29px;
}

main .recruit_contents_txt_inner ul li a .icon_hokenbu img {
  width: 26px;
}

main .recruit_contents_txt_inner ul li a .hoverBg {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

main .recruit_contents_txt_inner ul li a:hover .hoverBg::after {
  content: "";
  display: block;
  width: 200%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  background: url(../common/img/top/btn_recruit_hoverBg.svg) no-repeat;
  animation: bgAnimation 5s linear infinite;
  -moz-animation: bgAnimation 5s linear infinite;
  -o-animation: bgAnimation 5s linear infinite;
  -webkit-animation: bgAnimation 5s linear infinite;
}

@-webkit-keyframes bgAnimation {
  0% {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-transform: translateX(0);
  }
  100% {
    transform: translateX(50%);
    -moz-transform: translateX(50%);
    -ms-transform: translateX(50%);
    -o-transform: translateX(50%);
    -webkit-transform: translateX(50%);
  }
}

@-moz-keyframes bgAnimation {
  0% {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-transform: translateX(0);
  }
  100% {
    transform: translateX(50%);
    -moz-transform: translateX(50%);
    -ms-transform: translateX(50%);
    -o-transform: translateX(50%);
    -webkit-transform: translateX(50%);
  }
}

@keyframes bgAnimation {
  0% {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-transform: translateX(0);
  }
  100% {
    transform: translateX(50%);
    -moz-transform: translateX(50%);
    -ms-transform: translateX(50%);
    -o-transform: translateX(50%);
    -webkit-transform: translateX(50%);
  }
}

main .recruit_contents_txt_inner_btnToRecruit {
  margin-top: 177px;
}

main .recruit_contents_img {
  width: 463px;
  position: absolute;
  top: -113px;
  right: 0;
}

main .recruit.default .recruit_contents {
  visibility: hidden;
}

main .recruit.active .recruit_contents_txt h3 {
  animation: contentsFromLeft 0.3s;
  -moz-animation: contentsFromLeft 0.3s;
  -o-animation: contentsFromLeft 0.3s;
  -webkit-animation: contentsFromLeft 0.3s;
}

main .recruit.active .recruit_contents_txt p {
  animation: contentsFromLeft50 0.4s;
  -moz-animation: contentsFromLeft50 0.4s;
  -o-animation: contentsFromLeft50 0.4s;
  -webkit-animation: contentsFromLeft50 0.4s;
}

main .recruit.active .recruit_contents_txt_inner li:nth-child(1) {
  animation: contentsFloating50 0.5s;
  -moz-animation: contentsFloating50 0.5s;
  -o-animation: contentsFloating50 0.5s;
  -webkit-animation: contentsFloating50 0.5s;
}

main .recruit.active .recruit_contents_txt_inner li:nth-child(2) {
  animation: contentsFloating50 0.6s;
  -moz-animation: contentsFloating50 0.6s;
  -o-animation: contentsFloating50 0.6s;
  -webkit-animation: contentsFloating50 0.6s;
}

main .recruit.active .recruit_contents_txt_inner li:nth-child(3) {
  animation: contentsFloating50 0.7s;
  -moz-animation: contentsFloating50 0.7s;
  -o-animation: contentsFloating50 0.7s;
  -webkit-animation: contentsFloating50 0.7s;
}

main .recruit.active .recruit_contents_txt_inner li:nth-child(4) {
  animation: contentsFloating50 0.8s;
  -moz-animation: contentsFloating50 0.8s;
  -o-animation: contentsFloating50 0.8s;
  -webkit-animation: contentsFloating50 0.8s;
}

main .recruit.active .recruit_contents_txt_inner li:nth-child(5) {
  animation: contentsFloating50 0.9s;
  -moz-animation: contentsFloating50 0.9s;
  -o-animation: contentsFloating50 0.9s;
  -webkit-animation: contentsFloating50 0.9s;
}

main .recruit.active .recruit_contents_txt_inner li:nth-child(6) {
  animation: contentsFloating50 1s;
  -moz-animation: contentsFloating50 1s;
  -o-animation: contentsFloating50 1s;
  -webkit-animation: contentsFloating50 1s;
}

main .recruit.active .recruit_contents_txt_inner_btnToRecruit {
  animation: contentsFromRight50 1.3s;
  -moz-animation: contentsFromRight50 1.3s;
  -o-animation: contentsFromRight50 1.3s;
  -webkit-animation: contentsFromRight50 1.3s;
}

main .recruit.active .recruit_contents_img {
  animation: contentsFloating 1s;
  -moz-animation: contentsFloating 1s;
  -o-animation: contentsFloating 1s;
  -webkit-animation: contentsFloating 1s;
}
