@charset "UTF-8";

/* reset */
*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}

/* common */
*{
    font-size: 18px;
}

.l-main{
    display: flex;
    justify-content: space-between;
    width: 800px;
    margin: 80px auto;
}
.l-left div:first-child,
.l-right div:first-child{
    margin-bottom: 40px;
}
.item{
    padding: 20px;
    background-color: #999;
    position: relative;
}
.item p{
    position: absolute;
    top: 20px;
    left: 25px;
    z-index: 1;
}
.item_img{
    width: 335px;
    height: 240px;
    overflow: hidden;
}
.item_img img{
    width: 335px;
    height: 240px;
    object-fit: cover;
    transition: 0.5s;
}

/* 個別hover設定 */
.item-01 img:hover{
    transform: scale(1.3);
}
.item-02 img:hover{
    filter: grayscale(1);
}
.item-03 img:hover{
    filter: blur(3px);
}
.item-04 img:hover{
    transform: rotate(10deg) scale(1.3);
}