@charset "UTF-8";

/* reset */
*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}

/* common */
main{
    width: 520px;
    margin: 80px auto;
}
h1{
    margin-bottom: 20px;
}
.back{
    width: 100%;
    text-align: center;
    background: linear-gradient(#f00, #FFA500 25%, #008000 50%, #00f);
}
.navigation{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-232px);
    transition: transform .3s;
}
.navigation_nav{
    width: 210px;
    border: solid 1px #000;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px;
}
.btn_nav{
    width: 25px;
    height: 25px;
    display: inline-block;
    padding: 10px;
    border: solid 1px #000;
    border-radius: 0 0 5px 0;
    background-color: #fff;
}
.btn_nav span{
    display: block;
    width: 25px;
    height: 4px;
    background-color: #000;
}
.btn_nav::before,
.btn_nav::after{
    content: "";
    display: block;
    width: 25px;
    height: 4px;
    background-color: #000;
}
.btn_nav::before{
    margin-bottom: 5px;
}
.btn_nav::after{
    margin-top: 5px;
}