@charset "UTF-8";

/* ******************************************* */
/* ./style.css                                 */
/* ******************************************* */
/* ******************************************* */
/* common                                      */
/* ******************************************* */
body{
    color: #fff;
    font-size: 10px;
    letter-spacing: 0.7px;
}
h2, h3{
    margin: 0 auto;
    font-weight: bold;
}
.bkWhite{
    color: #4b9237;
}
.plPadding{
    padding-top: 9.7%;
}
.lineH1{
    line-height: 1;
}
.clearfix::after{
    content: "";
    height: 0;
    clear: both;
}
.dot_line{
    background: url(../common/img/sp/dot_line.png);
    height: 0.6vh;
    background-size: cover;
}
@media screen and (min-width: 640px){
    body{
        font-size: 16px;
    }
    section{
        padding: 0 90px;
        max-width: 879px;
        margin: 0 auto;
    }
    .dot_line{
        background: url(../common/img/dot_line.png);
        height: 6px;
        margin: 0;
        background-size: cover;
    }
    .plPadding,.plPadding_pc{
        padding-top: 40px;
    }
}

/* ******************************************* */
/* firstView                                   */
/* ******************************************* */
.firstView{
    padding: 55% 0 55% 10%;
    position: relative;
}
.firstView img{
    width: 88vw;
    max-width: 469px;
}
.firstView_arrow::after{
    content: "";
    display: block;
    width: 27px;
    height: 27px;
    border-bottom: 4px solid #fff;
    border-right: 4px solid #fff;
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    position: absolute;
    bottom: 5%;
    left: 45%;
}
@media screen and (min-width: 640px){
    .firstView{
        padding: 20% 0 20% 33.8%;
    }
    .firstView_arrow::after{
        left: 50%;
    }
}

/* ******************************************* */
/* messagge                                    */
/* ******************************************* */
.message{
    visibility: hidden;
    opacity: 0;
}
.message.isActive{
    visibility: visible;
    opacity: 1;
}
.message.isShow{
    visibility: visible;
    opacity: 1;
    transition: visibility 0.7s ease-in, opacity 0.7s ease-in;
    -moz-transition: visibility 0.7s ease-in, opacity 0.7s ease-in;
    -o-transition: visibility 0.7s ease-in, opacity 0.7s ease-in;
    -webkit-transition: visibility 0.7s ease-in, opacity 0.7s ease-in;
}
.message h2{
    width: 36vw;
    padding: 14% 0;
}
.message_txt{
    padding: 5.7% 4.6% 13.4%;
}
.message_txtSender{
    text-align: right;
}
@media screen and (min-width: 640px){
    .message{
        text-align: center;
    }
    .message h2{
        width: 218px;
        padding: 83px 0;
    }
    .message_txt{
        padding: 52px 0px 110px;
    }
    .message_txtSender{
        text-align: center;
    }
    .message_txt img{
        width: 598px;
        margin-top: -59px;
    }
    .message_txt p,
    .message_txt img{
        padding-bottom: 20px;
    }
    .message_txtSender p{
        padding-bottom: 0;
    }
}
/* ******************************************* */
/* company                                     */
/* ******************************************* */
.company{
    visibility: hidden;
    opacity: 0;
}
.company.isActive{
    visibility: visible;
    opacity: 1;
}
.company.isShow{
    visibility: visible;
    opacity: 1;
    transition: visibility 0.7s ease-in, opacity 0.7s ease-in;
    -moz-transition: visibility 0.7s ease-in, opacity 0.7s ease-in;
    -o-transition: visibility 0.7s ease-in, opacity 0.7s ease-in;
    -webkit-transition: visibility 0.7s ease-in, opacity 0.7s ease-in;
}
.company h2{
    width: 39vw;
    padding: 11.3% 0 5.8% 0;
}
.company article{
    position: relative;
}
.company_img{
    padding-bottom: 6%;
}
/* company_infomation */
.company_infomation{
    padding: 0 4.8% 7.4%;
    line-height: 2;
    visibility: hidden;
    opacity: 0;
}
.company_infomation.isActive{
    visibility: visible;
    opacity: 1;
}
.company_infomation.isShow{
    visibility: visible;
    opacity: 1;
    transition: visibility 0.7s ease-in, opacity 0.7s ease-in;
    -moz-transition: visibility 0.7s ease-in, opacity 0.7s ease-in;
    -o-transition: visibility 0.7s ease-in, opacity 0.7s ease-in;
    -webkit-transition: visibility 0.7s ease-in, opacity 0.7s ease-in;
}
.company_infomation h3{
    width: 39vw;
    padding: 7% 0 6% 0;
}
.company_infomation_itemTtl{
    text-indent: -0.5em;
}
/* company_member */
.company_member{
    padding: 0 4.8% 13%;
    visibility: hidden;
    opacity: 0;
}
.company_member.isActive{
    visibility: visible;
    opacity: 1;
}
.company_member.isShow{
    visibility: visible;
    opacity: 1;
    transition: visibility 0.7s ease-in, opacity 0.7s ease-in;
    -moz-transition: visibility 0.7s ease-in, opacity 0.7s ease-in;
    -o-transition: visibility 0.7s ease-in, opacity 0.7s ease-in;
    -webkit-transition: visibility 0.7s ease-in, opacity 0.7s ease-in;
}
.company_member h3{
    width: 22.1vw;
    padding: 6.6% 0 7.6%;
}
.company_member_jyoba img:first-child,
.company_member_segawa img:first-child{
    width: 69.3vw;
}
.company_member_jyoba img:last-child{
    width: 50vw;
    padding-top: 4.6%;
    margin-left: -5.2%;
}
.company_member_segawa img:first-child{
    float: right;
    padding-top: 7.7%;
}
.company_member_segawa img:last-child{
    width: 54vw;
    margin-right: -5.3%;
    float: right;
    padding-top: 3.5%;
}
.company_member_director{
    width: 89vw;
    padding-top: 9.8%;
    margin-left: -5.2%;
}
/* company_history */
.company_history{
    padding: 0 0 16.4%;
    visibility: hidden;
    opacity: 0;
}
.company_history.isActive{
    visibility: visible;
    opacity: 1;
}
.company_history.isShow{
    visibility: visible;
    opacity: 1;
    transition: visibility 0.7s ease-in, opacity 0.7s ease-in;
    -moz-transition: visibility 0.7s ease-in, opacity 0.7s ease-in;
    -o-transition: visibility 0.7s ease-in, opacity 0.7s ease-in;
    -webkit-transition: visibility 0.7s ease-in, opacity 0.7s ease-in;
}
.company_history_txt{
    padding: 0 0 16.4% 13.8%;
}
.company_history h3{
    width: 22.6vw;
    padding: 6.1% 0 5.5%;
}
.company_history_txt_monthBox_txt{
    display: flex;
}
.company_history_txt_monthBox_txtMonth{
    padding: 0 12.4% 0 4.2%;
}


@media screen and (min-width: 640px){
    .company h2{
        width: 249px;
        padding: 105px 0 83px 0;
    }
    .company_img{
        padding-bottom: 23px;
    }
    /* company_infomation */
    .company_infomation{
        padding: 0 0 48px; 
    }
    .company_infomation h3{
        width: 149px;
        padding: 48px 0 38px;
    }
    .company_infomation_item{
        display: flex;
    }
    .company_infomation_itemTtl{
        width: 160px;
    }
    /* company_member */
    .company_member{
        padding: 0 0 42px;
    }
    .company_member h3{
        width: 85px;
        padding: 50px 0 45px;
    }
    .company_member_jyoba,
    .company_member_segawa{
        display: flex;
    }
    .company_member_jyoba img:first-child,
    .company_member_segawa img:first-child{
        width: 48%;
    }
    .company_member_jyoba img:last-child{
        width: 262px;
        height: 35px;
        padding-top: 10px;
        margin-left: -20px;
    }
    .company_member_segawa{
        justify-content: flex-end;
        margin-top: -152px;
    }
    .company_member_segawa img:first-child{
        order: 1;
    }
    .company_member_segawa img:last-child{
        order : 0;
        width: 260px;
        height: 35px;
        margin-top: auto;
        margin-right: -20px;
    }
    .company_member_director{
        width: 90%;
        max-width: 758px;
        padding-top: 37px;
        margin-left: 10.8%;
    }
    /* .company_history */
    .company_history h3{
        width: 90px;
        padding: 51px 0 37px;
    }
    .company_history_txt{
        padding-bottom: 54px;
    }
    .company_history_txt_yearBox{
        display: flex;
    }
    .company_history_txt_monthBox_txt{
        padding-left: 1em;
    }
    .company_history_txt_monthBox_txtMonth{
        padding: 0 23px 0 0;
    }
}

/* ******************************************* */
/* structure                                   */
/* ******************************************* */
.structure{
    padding-bottom: 9.5%;
    visibility: hidden;
    opacity: 0;
}
.structure.isActive{
    visibility: visible;
    opacity: 1;
}
.structure.isShow{
    visibility: visible;
    opacity: 1;
    transition: visibility 0.7s ease-in, opacity 0.7s ease-in;
    -moz-transition: visibility 0.7s ease-in, opacity 0.7s ease-in;
    -o-transition: visibility 0.7s ease-in, opacity 0.7s ease-in;
    -webkit-transition: visibility 0.7s ease-in, opacity 0.7s ease-in;
}
.structure h2{
    width: 42vw;
    padding: 11.5% 0 7%;
}
.structure_img{
    text-align: center;
    background: #4b9237;
    padding: 7.4% 0;
}
.structure_img img{
    width: 88.1vw;
}
@media screen and (min-width: 640px){
    .structure{
        padding-bottom: 117px;
    }
    .structure h2{
        width: 273px;
        padding: 106px 0 92px 0;
    }
    .structure_img img{
        width: 50.9vw;
        max-width: 651px;
    }
}
/* ******************************************* */
/* service                                     */
/* ******************************************* */
.service{
    visibility: hidden;
    opacity: 0;
}
.service.isActive{
    visibility: visible;
    opacity: 1;
}
.service.isShow{
    visibility: visible;
    opacity: 1;
    transition: visibility 0.7s ease-in, opacity 0.7s ease-in;
    -moz-transition: visibility 0.7s ease-in, opacity 0.7s ease-in;
    -o-transition: visibility 0.7s ease-in, opacity 0.7s ease-in;
    -webkit-transition: visibility 0.7s ease-in, opacity 0.7s ease-in;
}
.service h2{
    width: 59vw;
    padding: 10.4% 0 6.5%;
}
.service_reading{
    padding: 5% 4.5%;
}
.service_item{
    position: relative;
    padding: 10.5% 4.5% 0;
}
.service_item h3{
    font-size: 12px;
    margin-bottom: 3.5%;
}
.service_item h3 span{
    background-color: #e98a2b;
}
.service_item h3 span:first-child{
    display: inline-block;
    margin-right: 8px;
    padding: 6px 0;
    text-align: center;
    width: 7%;
}
.service_item h3 span:last-child{
    display: inline-block;
    padding: 6px 0;
    width: calc(100% - (7% + 16px));
    padding-left: 8px;
}
.service_item p,
.service_item_example{
    padding-bottom: 10.4%;
}
.service_item_example p{
    padding-bottom: 0;
}
@media screen and (min-width: 640px){
    .service h2{
        width: 381px;
        padding: 102px 0 84px 0;
    }
    .service_reading{
        padding: 30px 0;
    }
    .service_item{
        padding: 40px 0;
    }
    .service_item h3{
        font-size: 17px;
        margin-bottom: 26px;
    }
    .service_item h3 span:first-child{
        padding: 7px 0;
        width: 5%;
    }
    .service_item h3 span:last-child{
        display: inline-block;
        padding: 7px 0;
        width: calc(100% - (5% + 18px));
        padding-left: 10px;
    }
    .service_item p, .service_item_example{
        padding-bottom: 34px;
    }
    .service_item p{
        padding-left: 1em;
    }
    .service_item_example p{
        padding-bottom: 0;
    }
}
/* ******************************************* */
/* recruit                                    */
/* ******************************************* */
.recruit{
    visibility: hidden;
    opacity: 0;
}
.recruit.isActive{
    visibility: visible;
    opacity: 1;
}
.recruit.isShow{
    visibility: visible;
    opacity: 1;
    transition: visibility 0.7s ease-in, opacity 0.7s ease-in;
    -moz-transition: visibility 0.7s ease-in, opacity 0.7s ease-in;
    -o-transition: visibility 0.7s ease-in, opacity 0.7s ease-in;
    -webkit-transition: visibility 0.7s ease-in, opacity 0.7s ease-in;
}
.recruit h2{
    width: 30vw;
    padding: 9% 0 6.3%;
}
.recruit_txt{
    display: flex;
    justify-content: center;
    padding: 4.1% 0 11.8% 0;
}
.recruit_txt p{
    font-size: 13px;
}
.recruit_txt a{
    color: #fff;
    border-radius: 10px;
    display: inline-block;
    background: #e98a2b;
    padding: 0px 2%;
}
@media screen and (min-width: 640px){
    .recruit_txt{
            padding: 37px 0 117px;
    }
    #recruit h2{
        width: 192px;
        padding: 105px 0 84px 0;
    }
    .recruit_txt p{
        font-size: 34px;
    }    
    .recruit_txt a{
        font-size: 20px;
        padding: 7px 37px;
        border-radius: 20px;
    }
}
/* ******************************************* */
/* access                                      */
/* ******************************************* */
.access{
    visibility: hidden;
    opacity: 0;
}
.access.isActive{
    visibility: visible;
    opacity: 1;
}
.access.isShow{
    visibility: visible;
    opacity: 1;
    transition: visibility 0.7s ease-in, opacity 0.7s ease-in;
    -moz-transition: visibility 0.7s ease-in, opacity 0.7s ease-in;
    -o-transition: visibility 0.7s ease-in, opacity 0.7s ease-in;
    -webkit-transition: visibility 0.7s ease-in, opacity 0.7s ease-in;
}
.access h2{
    width: 27.6vw;
    padding: 11% 0 6.6%;
}
.access_map{
    position: relative;
    padding-bottom: 37.6%;
    height: 0;
    overflow: hidden;
}
.access_map iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.access_txt{
    text-align: center;
    padding: 4.1% 4.7% 15.7%;
}
@media screen and (min-width: 640px){
    .access{
        padding: 0;
        max-width: none;
    }
    .access h2{
        width: 177px;
        padding: 97px 0 60px;
    }
    .access_map{
        padding-bottom: 32.7%;
    }
    .access_txt{
        padding: 16px 0 92px;
    }
}
/* ******************************************* */
/* footer                                      */
/* ******************************************* */
footer{
    text-align: center;
    padding: 6.6% 4.6% 42%;
    font-size: 9px;
    letter-spacing: 0;
    position: relative;
    z-index: 0;
}
footer a{
    color: #4b9237;
}
footer img{
    padding-bottom: 15px;
    max-width: 459px;
}
@media screen and (min-width: 640px){
    footer{
        padding: 32px 0 45px;
        font-size: 14px;
    }
    .footer_copyRight{
        font-size: 10px;
    }
}