main h1 {
  width: 129px;
  padding: 0 calc(50% - 129px/2);
  margin-bottom: 20px;
}

main .tab {
  width: 340px;
  margin: 0 calc(50% - 340px/2) 34px;
  display: flex;
}

main .tab_item {
  border: solid 2px #fff;
  text-align: center;
  width: 210px;
  line-height: 38.5px;
}

main .tab_item:first-child {
  margin-right: 9px;
}

main .tab_item.active {
  color: #000;
  background: #fff;
}

main .contents {
  width: 340px;
  margin: 0 calc(50% - 340px/2) 117px;
  display: none;
}

main .contents.active {
  display: block;
}

main .introduction_img {
  width: 334.5px;
  margin-bottom: 39.5px;
}

main .introduction_txt {
  letter-spacing: -0.1em;
}

main .introduction_txt_inner:first-child {
  padding-bottom: 20px;
}

main .story ul {
  display: flex;
  flex-wrap: wrap;
}

main .story_item {
  width: 165px;
  text-align: center;
  margin-bottom: 29.5px;
}

main .story_item:nth-child(odd) {
  margin-right: 10px;
}

main .story_item_img {
  border: solid 2px #f6821e;
  position: relative;
}

main .story_item_img img {
  display: block;
}

main .story_item_img_tag {
  font-size: 10px;
  background: #f6821e;
  color: #000;
  line-height: 18.5px;
  width: 69px;
  position: absolute;
  bottom: -1px;
  right: -1px;
}

main .story_item_ttl {
  font-size: 8px;
  margin-top: 10.5px;
}
