main h1 {
  width: 116px;
  padding: 0 calc(50% - 116px/2);
  margin-bottom: 13.5px;
}

main .select {
  width: 340px;
  line-height: 1;
  padding: 13.25px 0;
  margin: 0 calc(50% - 340px/2);
  border: solid 2px #fff;
  color: #fff;
  font-size: 16px;
  position: relative;
}

main .select_label {
  text-align: center;
}

main .select_label::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../../common/img/btn_left.svg) no-repeat;
  background-size: contain;
  transform: rotate(-90deg);
  margin-right: 9px;
}

main .select_selectCategory {
  width: 340px;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

main .contents {
  width: 340px;
  margin: 47px auto 0;
}

main .contents_inner_item {
  background: #000;
  border: solid 2px #f6821e;
  padding: 13px 14.5px 30px;
  margin-bottom: 24px;
  position: relative;
}

main .contents_inner_item:last-child {
  margin-bottom: 0;
}

main .contents_inner_item_date {
  font-size: 16.5px;
  color: #f6821e;
  margin-bottom: 11.5px;
}

main .contents_inner_item h2 {
  font-size: 20px;
}

main .contents_inner_item_category {
  width: 89.5px;
  line-height: 23.5px;
  background: #f6821e;
  color: #000;
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: -1px;
  right: -1px;
}

main .pageNav {
  margin: 84px 0;
}

main .pageNav_inner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 26.5px;
}

main .pageNav_inner_arrow:first-child a, main .pageNav_inner_arrow:last-child a {
  height: 26.5px;
}

main .pageNav_inner_arrow:first-child a img, main .pageNav_inner_arrow:last-child a img {
  height: 100%;
  width: auto;
  vertical-align: text-top;
}

main .pageNav_inner_item a:hover {
  color: #f6821e;
}

main .pageNav_inner_item.active a {
  color: #f6821e;
}
