@charset "UTF-8";
// **************************************************
// * ファイル名：./greeting/css/style.scss            *
// * 概要     ：greetingのsass                       *
// **************************************************
@import '../common/common';
// **************************************************
// * common                                         *
// **************************************************
body{
    border-top: solid 10px $c_orange;
}
// **************************************************
// * main                                           *
// **************************************************
main{
    background: url(../../common/img/greeting/bgTxt_greeting.png) no-repeat top left,
    url(../../common/img/greeting/bgTxt_Pholosophy.png) no-repeat bottom right;
    .greeting{
        &.active{
            & h1{
                @include animation(contentsFromLeft 1s);
            }
            & .greeting_contents_img{
                @include animation(contentsFloating50 1.3s);
            }
            & .greeting_contents_item{
                @include animation(contentsFloating50 1.4s);
            }
        }
        h1{
            padding: 228px 0 107px;
            width: 1000px;
        }
        &_contents{
            display: flex;
            padding-bottom: 197px;
            &_img{
                width: 458px;
                padding-right: 60px;
            }
            &_item{
                &_ttl{
                    font-size: 16px;
                    padding-bottom: 34px;
                }
                &_sender{
                    font-size: 14px;
                    padding-top: 21px;
                    span{
                        font-size: 9px;
                    }
                }
            }
        }
    }//greeting
    .philosophy{
        position: relative;
        padding-bottom: 86px;
        &.default{
            & h2,
            & .philosophy_txt{
                visibility: hidden;
            }
        }
        &.active{
            & h2{
                visibility: visible;
                @include animation(contentsFromLeft 1s);
            }
            & .philosophy_txt{
                visibility: visible;
                @include animation(contentsFromLeft50 1.3s);
            }
        }
        h2{
            width: 903px;
            padding-bottom: 43px;
        }
        &_contents{
            position: absolute;
            z-index: 3;
            top: -75px;
            right: 3.6%;
            &_img{
                width: 201px;
                display: block;
            }
            &_name{
                font-size: 16px;
                color: $c_white;
                background-color: $c_orange;
                display: inline-block;
                text-align: center;
                width: 150px;
                padding: 2.5px 0;
                margin-left: 51px;
            }
            &.default{
                visibility: hidden;
            }
            &.active{
                visibility: visible;
                @include animation(contentsFloating50 1.3s);
            }
        }
    }//philosophy
    .managementPolicy{
        position: relative;
        padding-bottom: 86px;
        &.default{
            & h2,
            & .managementPolicy_txt{
                visibility: hidden;
            }
        }
        &.active{
            & h2{
                visibility: visible;
                @include animation(contentsFromLeft 1s);
            }
            & .managementPolicy_txt{
                visibility: visible;
                @include animation(contentsFromLeft50 1.3s);
            }
        }
        h2{
            width: 696px;
            padding-bottom: 43px;
        }
        &_contents{
            position: absolute;
            top: -111px;
            right: 17.4%;
            &_img{
                width: 251px;
                display: block;
                position: relative;
                z-index: 2;
            }
            &_name{
                font-size: 16px;
                color: $c_white;
                background-color: $c_orange;
                display: inline-block;
                text-align: center;
                width: 150px;
                padding: 2.5px 0;
                margin-left: 100px;
                position: relative;
                z-index: 2;
            }
            &.default{
                visibility: hidden;
            }
            &.active{
                visibility: visible;
                @include animation(contentsFloating50 1.4s);
            }
            &::after{
                content: "";
                display: block;
                width: 350px;
                height: 233px;
                background: $c_orange;
                opacity: 0.15;
                position: absolute;
                top: -22px;
                left: 26px;
            }
        }
    }//managementPolicy
    .coporateVision{
        position: relative;
        padding-bottom: 86px;
        &.default{
            & h2,
            & .coporateVision_txt{
                visibility: hidden;
                
            }
        }
        &.active{
            & h2{
                visibility: visible;
                @include animation(contentsFromLeft 1s);
            }
            & .coporateVision_txt{
                visibility: visible;
                @include animation(contentsFromLeft50 1.3s);
            }
        }
        h2{
            width: 899px;
            padding-bottom: 43px;
        }
        &_contents{
            position: absolute;
            top: -52px;
            right: 6.64%;
            &_img{
                width: 201px;
                display: block;
                position: relative;
                z-index: 1;
            }
            &_name{
                font-size: 16px;
                color: $c_white;
                background-color: $c_orange;
                display: inline-block;
                text-align: center;
                width: 151px;
                padding: 2.5px 0;
                margin-left: 50px;
            }
            &.default{
                visibility: hidden;
            }
            &.active{
                visibility: visible;
                @include animation(contentsFloating50 1.5s);
            }
            &::after{
                content: "";
                display: block;
                width: 278px;
                height: 170px;
                background: $c_orange;
                opacity: 0.15;
                position: absolute;
                top: -23px;
                left: 8px;
            }
        }
    }//coporateVision
}