@charset "UTF-8";
// **************************************************
// * ファイル名：./sass/base.scss                     *
// * 概要     ：共通のsass                            *
// **************************************************
@import "../_common";
// **************************************************
// * reset                                          *
// **************************************************
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    display: inline-block;
    color: $c_white;
}
ul li{
    list-style: none;
}
img{
    width: 100%;
    max-width: 100%;
}
// **************************************************
// * common                                         *
// **************************************************
body{
    background: url(../../common/img/bg.jpg) no-repeat;
    background-size: cover;
    background-position-y: -268px;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Noto Sans JP', "游ゴシック体", YuGothic ,arial,sans-serif;
}
.wrapper{
    overflow: hidden;
}
.is_hidden{
    display: none;
}
// **************************************************
// * loading画面                                     *
// **************************************************
.loading{
    width: 100vw;
    height: 100vh;
    background: $c_black;

    &_inner{
        width: 60px;
        height: 100px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);

        &_icon{
            background: url(../../common/img/icon_loading_back.svg) no-repeat;
            background-size: contain;
            img{
                clip-path: inset(100px 0px 0px 0px);
            }
            &::after{
                content: "";
                display: block;
                width: 100%;
                height: 100%;
                background: url(../../common/img/icon_loading_grad.svg) no-repeat;
                background-size: contain;
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0;
                transition: opacity 0.6s;
            }
            &.comp{
                &.loading_inner_icon::after{
                    opacity: 1;
                }
            }
        }
        &_percent{
            margin-top: 10px;
            @include font_renner;
            color: #7ad6ec;
            font-size: 20px;
            text-align: center;
        }
    }
    
}
// **************************************************
// * header                                         *
// **************************************************
.header{
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    &_inner{
        background: $c_black;
        height: calc(90px - 19px);
        padding: 19px 30px 0 17px;
        display: flex;
        align-items: center;
        &_logo{
            width: 45.3vw;
        }
        &_btnNav{
            width: 30px;
            height: 30px;
            margin-left: auto;
            position: relative;
            &::before{
                content:"";
                display: block;
                width: 30px;
                height: harf(28px);
                background: url(../../common/img/btn_nav.svg) no-repeat;
                background-size: cover;
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0;
                transition: 0.3s all;
            }
            &::after{
                @extend .header_inner_btnNav::before;
                width: 30px;
                height: 30px;
                background: url(../../common/img/btn_close.svg) no-repeat;
                background-size: cover;
                top: -8px;
                opacity: 0;
            }
        }
    }
    &_nav{
        background: $c_black;
        height: calc(100vh - 90px);
        padding: 40px 0 0;
        display: none;
        position: absolute;
        transition: 0.3s all;
        ul{
            li{
                width: 49vw;
                padding-bottom: 78px;
                display: inline-block;
                text-align: center;
                a{
                    height: 14.5px;
                    img{
                        width: auto;
                        height: 100%;
                    }
                }
                &:last-child{
                    a{
                        height: 19px;
                    }
                }
            }
        }
    }
    // メニュー非表示
    &.default{
        .header_inner_btnNav{
            &::before{
                opacity: 1;
            }
            &::after{
                opacity: 0;
            }
        }
        .header_nav{
            display: block;
            transform: translateX(100%);
        }
    }
    // メニュー表示
    &.active{
        .header_inner_btnNav{
            &::before{
                opacity: 0;
            }
            &::after{
                opacity: 1;
            }
        }
        .header_nav{
            display: block;
            transform: translateX(0);
        }
    }

}
// **************************************************
// * main                                           *
// **************************************************
main{
    margin-top: calc(90px + 19.5px);
    color: $c_white;
    .player{
        width: 100vw;
        height: 100vh;
        text-align: center;
        background: $c_black;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2;
        display: none;
        &_main{
            width: 340px;
            height: 0;
            padding-top: 192px;
            @include border($c_orange);
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            #player_main_iframe{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
        &_btnClose{
            width: harf(222px);
            position: absolute;
            top: 70%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        &.active{
            display: block;
        }
    }
}
// **************************************************
// * footer                                         *
// **************************************************
.footer{
    background: $c_orange;
    text-align: center;
    position: relative;
    padding-top: 36px;
    &_arrowToTop{
        width: 9.5px;
        position: absolute;
        top: -36px;
        left: 50%;
    }
    &_btnToTop{
       width: 121.5px;
       margin-bottom: 25px;
    }
    &_copyRight{
        font-size: 14px;
        padding: 29.5px 0 21.5px;
    }
}