main h1 {
  width: 375px;
  padding: 0 calc(50% - 375px/2);
  margin-bottom: 21px;
}

main .select {
  width: 340px;
  line-height: 1;
  padding: 13.25px 0;
  margin: 0 calc(50% - 340px/2) 44.5px;
  border: solid 2px #fff;
  color: #fff;
  font-size: 16px;
  position: relative;
}

main .select_label {
  text-align: center;
}

main .select_label::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../../common/img/btn_left.svg) no-repeat;
  background-size: contain;
  transform: rotate(-90deg);
  margin-right: 9px;
}

main .select_selectCategory {
  width: 340px;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

main .contents {
  position: relative;
  margin-bottom: 117px;
  padding-bottom: 30px;
  width: 340px;
  margin: 0 calc(50% - 340px/2) 117px;
}

main .contents_inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

main .contents_inner_item {
  width: 153px;
  margin-bottom: 30px;
}

main .contents_inner_item_img {
  border: solid 2px #f6821e;
  font-size: 0;
}

main .contents_inner_item_ttl {
  background: #f6821e;
  color: #000;
  padding: 5px;
}

main .contents_inner_item_ttl h2 {
  font-size: 14px;
}

main .contents_inner_item_ttl_price {
  font-size: 12px;
}
