@charset "UTF-8";

/* reset */
*{
    margin: 0;
    padding: 0;
}


/* common */
body{
    font-size: 13px;
}
main{
    width: 50vw;
    margin: 80px auto;
}
h1{
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: solid 1px #000;
}
label{
    display: block;
    width: 118px;
}
.main_form div{
    display: flex;
    margin-bottom: 10px;
}
input[type="button"]{
    font-size: 10px;
    padding: 0 5px;
}

p[class$="error"]{
    margin-left: 5px;
    color: #f00;
}