h2, span {
  color: #f6d221;
}

main h1 {
  width: 233.5px;
  padding: 0 calc(50% - 233.5px/2);
  margin-bottom: 25.5px;
}

main .contents {
  width: 340px;
  margin: 0 calc(50vw - 340px/2) 0;
}

main .contents h2 {
  font-size: 13px;
  text-align: center;
  margin-bottom: 26px;
}

main .contents h2:after {
  content: "";
  width: 2px;
  height: 33.5px;
  background: #fff;
  display: block;
  margin: 19.5px auto 0;
}

main .contents_inner {
  display: flex;
  flex-wrap: wrap;
}

main .contents_inner_item {
  letter-spacing: -1.2px;
  margin-bottom: 41.5px;
}

main .contents_inner_item_position {
  font-size: 15.5px;
}

main .contents_inner_item_main {
  display: flex;
  align-items: center;
}

main .contents_inner_item_main_name {
  font-size: 20px;
}

main .contents_inner_item_btn {
  width: 22px;
  height: 22px;
  box-sizing: border-box;
  border: solid 2px #f6821e;
  margin-left: 9px;
  background: #000;
  position: relative;
}

main .contents_inner_item_btn::before, main .contents_inner_item_btn::after {
  content: "";
  width: 13px;
  height: 3px;
  display: block;
  background: #f6821e;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(calc(-100%/2), calc(-100%/2));
  -moz-transform: translate(calc(-100%/2), calc(-100%/2));
  -ms-transform: translate(calc(-100%/2), calc(-100%/2));
  -o-transform: translate(calc(-100%/2), calc(-100%/2));
  -webkit-transform: translate(calc(-100%/2), calc(-100%/2));
}

main .contents_inner_item_btn::after {
  transform: translate(calc(-100%/2), calc(-100%/2)) rotate(90deg);
  -moz-transform: translate(calc(-100%/2), calc(-100%/2)) rotate(90deg);
  -ms-transform: translate(calc(-100%/2), calc(-100%/2)) rotate(90deg);
  -o-transform: translate(calc(-100%/2), calc(-100%/2)) rotate(90deg);
  -webkit-transform: translate(calc(-100%/2), calc(-100%/2)) rotate(90deg);
}

main .contents_inner_item .towLine .contents_inner_item_btn {
  margin-top: -29px;
}

main .staff .contents_inner_item:nth-child(1), main .staff .contents_inner_item:nth-child(3) {
  width: 183px;
}

main .staff .contents_inner_item:last-child {
  margin-bottom: 57.5px;
}

main .staff_note {
  font-size: 8px;
}

main .cast {
  padding-top: 60.5px;
  position: relative;
  margin-bottom: 117px;
}

main .cast:before {
  content: "";
  width: 45px;
  height: 2px;
  background: #fff;
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(calc(-45px/2));
}

main .cast .contents_inner_item:nth-child(odd) {
  width: 183px;
}

main .cast .contents_inner_item:nth-last-child(1), main .cast .contents_inner_item:nth-last-child(2) {
  margin-bottom: 0;
}

main .comment_item {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background: #000;
  padding-top: 90px;
  display: none;
}

main .comment_item_btnClose {
  width: 71.5px;
  height: 71.5px;
  border-left: solid 2px #f6821e;
  border-bottom: solid 2px #f6821e;
  position: absolute;
  top: 0;
  right: 0;
}

main .comment_item_btnClose::before, main .comment_item_btnClose::after {
  content: "";
  width: 6.5px;
  height: 45px;
  background: #f6821e;
  display: block;
  transform: translate(-50%, -50%) rotate(45deg);
  position: absolute;
  top: 50%;
  left: 50%;
}

main .comment_item_btnClose::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

main .comment_item_inner {
  width: 340px;
  box-sizing: border-box;
  margin: 0 auto;
  padding-bottom: 78px;
  border-top: solid 2px #f6821e;
  border-left: solid 2px #f6821e;
  border-right: solid 2px #f6821e;
  position: relative;
}

main .comment_item_inner::before, main .comment_item_inner::after {
  content: "";
  width: 21.5px;
  height: 2px;
  background: #f6821e;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
}

main .comment_item_inner::after {
  width: 165px;
  right: 0;
  left: auto;
}

main .comment_item_inner_head {
  text-align: center;
  margin: 54.5px 0;
}

main .comment_item_inner_head_position {
  font-size: 15.5px;
}

main .comment_item_inner_head_name {
  font-size: 28.5px;
}

main .comment_item_inner_txt {
  width: 280px;
  height: 238.5px;
  font-size: 16.5px;
  font-weight: normal;
  letter-spacing: -0.1px;
  margin: 0 auto;
  overflow-y: scroll;
  overflow-x: hidden;
}

main .comment_item_inner_txt::-webkit-scrollbar {
  display: none;
}

main .comment_item_inner h3 {
  width: 145px;
  position: absolute;
  bottom: 0;
  left: 26px;
  transform: translateY(50%);
}

main .comment_item.active {
  display: block;
}
