@charset "UTF-8";
// **************************************************
// * ファイル名：./css/style.scss             *
// * 概要     ：homeのsass                        *
// **************************************************
@import '../common/common';
// **************************************************
// * common                                         *
// **************************************************
// **************************************************
// * main                                           *
// **************************************************
main{
    padding-left: 81px;
    .mainVisual{
        position: relative;
        text-align: center;
        margin-bottom: 6px;
        &_video{
            height: 84vh;
            width: 100%;
            overflow: hidden;
            video{
                width: 100%;
            }
        }
        &_logo{
            fill: $c_orange;
            height: 60vh;
            overflow: hidden;
            position: absolute;
            top: 43%;
            left: 50%;
            transform: translate(-50%, -50%);
            &_inner{
                display: flex;
                padding-bottom: 20px;
                .mainVisual_logo_img{
                    position: relative;
                    padding-right: 10px;
                    &_svg_paint{
                        height: 15.5vh;
                    }
                    @keyframes isOpenAnimation{
                        0%{opacity:0;-webkit-transform:translate(0);transform:translate(0)}5%{opacity:1;-webkit-transform:translate(0);transform:translate(0)}6%{opacity:0;-webkit-transform:translate(10px);transform:translate(10px)}7%{opacity:1;-webkit-transform:translate(0);transform:translate(0)}10%{opacity:0;-webkit-transform:translate(10px);transform:translate(10px)}11%{opacity:1;-webkit-transform:translate(0);transform:translate(0)}12%{opacity:0;-webkit-transform:translate(10px);transform:translate(10px)}19%{opacity:1;-webkit-transform:translate(0);transform:translate(0)}20%{opacity:0;-webkit-transform:translate(0);transform:translate(0)}21%{opacity:1;-webkit-transform:translate(0);transform:translate(0)}25%{opacity:1;-webkit-transform:translate(0);transform:translate(0)}26%{opacity:0;-webkit-transform:translate(5px);transform:translate(5px)}27%{opacity:1;-webkit-transform:translate(0);transform:translate(0)}31%{opacity:1;-webkit-transform:translate(0);transform:translate(0)}32%{opacity:0;-webkit-transform:translate(5px);transform:translate(5px)}33%{opacity:1;-webkit-transform:translate(0);transform:translate(0)}34%{opacity:1;-webkit-transform:translate(0);transform:translate(0)}35%{opacity:0;-webkit-transform:translate(10px);transform:translate(10px)}36%{opacity:1;-webkit-transform:translate(0);transform:translate(0)}37%{opacity:1;-webkit-transform:translate(0);transform:translate(0)}38%{opacity:0;-webkit-transform:translate(20px);transform:translate(20px)}39%{opacity:1;-webkit-transform:translate(0);transform:translate(0)}43%{opacity:1;-webkit-transform:translate(-1px);transform:translate(-1px)}44%{-webkit-transform:translate(1px);transform:translate(1px)}44.1%{opacity:1;-webkit-transform:translate(-1px);transform:translate(-1px)}44.2%{opacity:1;-webkit-transform:translate(1px);transform:translate(1px)}44.3%{opacity:1;-webkit-transform:translate(-1px);transform:translate(-1px)}44.4%{opacity:1;-webkit-transform:translate(1px);transform:translate(1px)}44.5%{opacity:1;-webkit-transform:translate(-1px);transform:translate(-1px)}44.6%{opacity:1;-webkit-transform:translate(1px);transform:translate(1px)}44.7%{opacity:1;-webkit-transform:translate(-1px);transform:translate(-1px)}44.8%{opacity:1;-webkit-transform:translate(1px);transform:translate(1px)}44%{opacity:1;-webkit-transform:translate(-1px);transform:translate(-1px)}45%{opacity:0;-webkit-transform:translate(1px);transform:translate(1px)}46%{opacity:1;-webkit-transform:translate(-1px);transform:translate(-1px)}47%{opacity:1;-webkit-transform:translate(0);transform:translate(0)}47.1%{opacity:1;-webkit-transform:translate(2px);transform:translate(2px)}47.2%{opacity:1;-webkit-transform:translate(-2px);transform:translate(-2px)}47.3%{opacity:1;-webkit-transform:translate(2px);transform:translate(2px)}47.4%{opacity:1;-webkit-transform:translate(-2px);transform:translate(-2px)}48%{opacity:0;-webkit-transform:translate(0);transform:translate(0)}49%{opacity:1;-webkit-transform:translate(0);transform:translate(0)}55%{opacity:1;-webkit-transform:translate(0);transform:translate(0)}56%{opacity:0;-webkit-transform:translate(5px);transform:translate(5px)}57%{opacity:1;-webkit-transform:translate(0);transform:translate(0)}60%{opacity:1;-webkit-transform:translate(0);transform:translate(0)}61%{opacity:0;-webkit-transform:translate(0);transform:translate(0)}63%{opacity:1;-webkit-transform:translate(0);transform:translate(0)}70%{opacity:1;-webkit-transform:translate(0);transform:translate(0)}71%{opacity:0;-webkit-transform:translate(10px);transform:translate(10px)}72%{opacity:1;-webkit-transform:translate(0);transform:translate(0)}73%{opacity:1;-webkit-transform:translate(0);transform:translate(0)}74%{opacity:0;-webkit-transform:translate(10px);transform:translate(10px)}75%{opacity:1;-webkit-transform:translate(0);transform:translate(0)}76%{opacity:1;-webkit-transform:translate(0);transform:translate(0)}78%{opacity:0;-webkit-transform:translate(20px);transform:translate(20px)}80%{opacity:1;-webkit-transform:translate(0);transform:translate(0)}86%{opacity:1;-webkit-transform:translate(0);transform:translate(0)}87%{opacity:0;-webkit-transform:translate(0);transform:translate(0)}88%{opacity:1;-webkit-transform:translate(0);transform:translate(0)}89%{opacity:1;-webkit-transform:translate(0);transform:translate(0)}90%{opacity:1;-webkit-transform:translate(5px);transform:translate(5px)}93%{opacity:1;-webkit-transform:translate(5px);transform:translate(5px)}94%{opacity:1;-webkit-transform:translate(0);transform:translate(0)}94.1%{opacity:1;-webkit-transform:translate(2px);transform:translate(2px)}94.2%{opacity:1;-webkit-transform:translate(-2px);transform:translate(-2px)}94.3%{opacity:1;-webkit-transform:translate(2px);transform:translate(2px)}94.4%{opacity:1;-webkit-transform:translate(-2px);transform:translate(-2px)}95%{opacity:0;-webkit-transform:translate(0);transform:translate(0)}96%{opacity:1;-webkit-transform:translate(0);transform:translate(0)}to{opacity:1;-webkit-transform:translate(0);transform:translate(0)}
                    }
                    @keyframes isPunkAnimation{
                        0%{opacity:0;-webkit-transform:translate(0);transform:translate(0)}5%{opacity:0;-webkit-transform:translate(0);transform:translate(0)}6%{opacity:0;-webkit-transform:translate(0);transform:translate(0)}7%{opacity:0;-webkit-transform:translate(0);transform:translate(0)}10%{opacity:1;-webkit-transform:translate(-5px);transform:translate(-5px)}11%{opacity:0;-webkit-transform:translate(0);transform:translate(0)}12%{opacity:1;-webkit-transform:translate(-5px);transform:translate(-5px)}19%{opacity:0;-webkit-transform:translate(0);transform:translate(0)}20%{opacity:1;-webkit-transform:translate(-3px);transform:translate(-3px)}20.1%{opacity:1;-webkit-transform:translate(0);transform:translate(0)}20.2%{opacity:1;-webkit-transform:translate(3px);transform:translate(3px)}20.3%{opacity:1;-webkit-transform:translate(-3px);transform:translate(-3px)}20.4%{opacity:1;-webkit-transform:translate(3px);transform:translate(3px)}20.5%{opacity:1;-webkit-transform:translate(-3px);transform:translate(-3px)}20.6%{opacity:1;-webkit-transform:translate(3px);transform:translate(3px)}20.7%{opacity:1;-webkit-transform:translate(-3px);transform:translate(-3px)}20.8%{opacity:1;-webkit-transform:translate(0);transform:translate(0)}21%{opacity:0;-webkit-transform:translate(0);transform:translate(0)}22%{opacity:1;-webkit-transform:translate(0);transform:translate(0)}23%{opacity:0;-webkit-transform:translate(0);transform:translate(0)}25%{opacity:0;-webkit-transform:translate(0);transform:translate(0)}26%{opacity:1;-webkit-transform:translate(5px);transform:translate(5px)}27%{opacity:0;-webkit-transform:translate(0);transform:translate(0)}31%{opacity:0;-webkit-transform:translate(0);transform:translate(0)}32%{opacity:1;-webkit-transform:translate(-5px);transform:translate(-5px)}33%{opacity:0;-webkit-transform:translate(0);transform:translate(0)}34%{opacity:0;-webkit-transform:translate(0);transform:translate(0)}35%{opacity:1;-webkit-transform:translate(5px);transform:translate(5px)}36%{opacity:0;-webkit-transform:translate(0);transform:translate(0)}37%{opacity:0;-webkit-transform:translate(0);transform:translate(0)}38%{opacity:1;-webkit-transform:translate(-5px);transform:translate(-5px)}39%{opacity:0;-webkit-transform:translate(0);transform:translate(0)}45%{opacity:0;-webkit-transform:translate(0);transform:translate(0)}45%{opacity:1;-webkit-transform:translate(-3px);transform:translate(-3px)}45.1%{opacity:1;-webkit-transform:translate(0);transform:translate(0)}45.2%{opacity:1;-webkit-transform:translate(3px);transform:translate(3px)}45.3%{opacity:1;-webkit-transform:translate(-3px);transform:translate(-3px)}45.4%{opacity:1;-webkit-transform:translate(3px);transform:translate(3px)}45.5%{opacity:1;-webkit-transform:translate(-3px);transform:translate(-3px)}45.6%{opacity:1;-webkit-transform:translate(3px);transform:translate(3px)}45.7%{opacity:1;-webkit-transform:translate(-3px);transform:translate(-3px)}45.8%{opacity:1;-webkit-transform:translate(0);transform:translate(0)}46%{opacity:0;-webkit-transform:translate(0);transform:translate(0)}48%{opacity:1;-webkit-transform:translate(0);transform:translate(0)}48.2%{opacity:1;-webkit-transform:translate(-3px);transform:translate(-3px)}48.4%{opacity:1;-webkit-transform:translate(3px);transform:translate(3px)}48.6%{opacity:1;-webkit-transform:translate(-3px);transform:translate(-3px)}48.8%{opacity:1;-webkit-transform:translate(3px);transform:translate(3px)}49%{opacity:0;-webkit-transform:translate(0);transform:translate(0)}55%{opacity:0;-webkit-transform:translate(0);transform:translate(0)}56%{opacity:1;-webkit-transform:translate(-5px);transform:translate(-5px)}57%{opacity:0;-webkit-transform:translate(0);transform:translate(0)}60%{opacity:0;-webkit-transform:translate(0);transform:translate(0)}61%{opacity:1;-webkit-transform:translate(3px);transform:translate(3px)}61.2%{opacity:1;-webkit-transform:translate(-3px);transform:translate(-3px)}61.4%{opacity:1;-webkit-transform:translate(3px);transform:translate(3px)}61.6%{opacity:1;-webkit-transform:translate(-3px);transform:translate(-3px)}61.8%{opacity:1;-webkit-transform:translate(3px);transform:translate(3px)}62%{opacity:0;-webkit-transform:translate(0);transform:translate(0)}70%{opacity:0;-webkit-transform:translate(0);transform:translate(0)}71%{opacity:1;-webkit-transform:translate(-5px);transform:translate(-5px)}72%{opacity:0;-webkit-transform:translate(0);transform:translate(0)}73%{opacity:0;-webkit-transform:translate(0);transform:translate(0)}74%{opacity:1;-webkit-transform:translate(5px);transform:translate(5px)}75%{opacity:0;-webkit-transform:translate(0);transform:translate(0)}76%{opacity:0;-webkit-transform:translate(0);transform:translate(0)}78%{opacity:1;-webkit-transform:translate(-5px);transform:translate(-5px)}80%{opacity:0;-webkit-transform:translate(0);transform:translate(0)}86%{opacity:0;-webkit-transform:translate(0);transform:translate(0)}87%{opacity:1;-webkit-transform:translate(5px);transform:translate(5px)}87.1%{opacity:1;-webkit-transform:translate(-3px);transform:translate(-3px)}87.2%{opacity:1;-webkit-transform:translate(3px);transform:translate(3px)}87.3%{opacity:1;-webkit-transform:translate(-3px);transform:translate(-3px)}87.4%{opacity:1;-webkit-transform:translate(3px);transform:translate(3px)}87.5%{opacity:1;-webkit-transform:translate(-3px);transform:translate(-3px)}87.6%{opacity:1;-webkit-transform:translate(3px);transform:translate(3px)}87.7%{opacity:1;-webkit-transform:translate(-3px);transform:translate(-3px)}87.8%{opacity:1;-webkit-transform:translate(3px);transform:translate(3px)}87.9%{opacity:1;-webkit-transform:translate(-3px);transform:translate(-3px)}88%{opacity:0;-webkit-transform:translate(0);transform:translate(0)}89%{opacity:0;-webkit-transform:translate(0);transform:translate(0)}90%{opacity:1;-webkit-transform:translate(3px);transform:translate(3px)}90.1%{opacity:1;-webkit-transform:translate(-3px);transform:translate(-3px)}90.2%{opacity:1;-webkit-transform:translate(3px);transform:translate(3px)}90.3%{opacity:1;-webkit-transform:translate(-3px);transform:translate(-3px)}90.4%{opacity:1;-webkit-transform:translate(3px);transform:translate(3px)}90.5%{opacity:1;-webkit-transform:translate(-3px);transform:translate(-3px)}90.6%{opacity:1;-webkit-transform:translate(3px);transform:translate(3px)}90.7%{opacity:1;-webkit-transform:translate(-3px);transform:translate(-3px)}90.8%{opacity:1;-webkit-transform:translate(3px);transform:translate(3px)}90.9%{opacity:1;-webkit-transform:translate(-3px);transform:translate(-3px)}91%{opacity:0;-webkit-transform:translate(0);transform:translate(0)}92%{opacity:0;-webkit-transform:translate(0);transform:translate(0)}92.1%{opacity:1;-webkit-transform:translate(-3px);transform:translate(-3px)}92.2%{opacity:1;-webkit-transform:translate(3px);transform:translate(3px)}92.3%{opacity:1;-webkit-transform:translate(-3px);transform:translate(-3px)}92.4%{opacity:1;-webkit-transform:translate(3px);transform:translate(3px)}92.5%{opacity:1;-webkit-transform:translate(-3px);transform:translate(-3px)}92.6%{opacity:1;-webkit-transform:translate(3px);transform:translate(3px)}92.7%{opacity:1;-webkit-transform:translate(-3px);transform:translate(-3px)}92.8%{opacity:1;-webkit-transform:translate(3px);transform:translate(3px)}92.9%{opacity:1;-webkit-transform:translate(-3px);transform:translate(-3px)}93%{opacity:0;-webkit-transform:translate(0);transform:translate(0)}to{opacity:0;-webkit-transform:translate(0);transform:translate(0)}
                    }
                    @keyframes isBombAnimation{
                        0%{opacity:0;-webkit-transform:translate(0);transform:translate(0)}to{opacity:0;-webkit-transform:translate(0);transform:translate(0)}
                    }
                    .is_punk{
                        @include animation(isPunkAnimation 5s steps(1) 0s infinite);
                        position: absolute;
                        top: 0;
                        left: 0;
                    }
                    .is_bomb{
                        @include animation(isBombAnimation 5s steps(1) 0s infinite);
                        position: absolute;
                        top: 0;
                        left: 0;
                    }
                    .is_open{
                        @include animation(isOpenAnimation 5s steps(1) 0s infinite);
                    }

                }
            }
        }
        &_icon{
            width: 115px;
            position: absolute;
            top: 84vh;
            right: 48px;
            transform: translateY(-100%);
        }
        &_txt{
            width: 102px;
            margin: 0 auto;
            padding: 24px 0 6px;
        }
        &.active{
            .mainVisual_video{
                @include keyframe(videoScale){
                    0%{
                        width: 100vw;
                        margin-left: -81px;
                    }
                    100%{
                        width: 100%;
                        margin-left: 0;
                    }
                }
                @include animation(videoScale 1s);
            }
            .mainVisual_logo{
                @include animation(contentsFloating50 1.3s);
            }
        }
    }

    // section共通
    section{
        padding-top: 175px;
        padding-left: calc(81px + 38px);
        position: relative;
        h2{
            background: $c_orange;
            width: 100vw;
            line-height: 450px;
            margin-left: -218px;
            padding-left: 176px;
            position: absolute;
            top: 0;
            z-index: 2;
            &::before{
                content: "";
                display: block;
                width: 4px;
                height: 140px;
                border-left: solid 4px $c_white;
                position: absolute;
                top: 0;
                left: 185px;
            }
            &::after{
                content: "";
                display: block;
                width: 4px;
                height: 140px;
                border-left: solid 4px $c_white;
                position: absolute;
                bottom: 0;
                left: 185px;
            }
            img{
                vertical-align: middle;
            }
            &.default{
                img{
                    visibility: hidden;
                }
            }
            &.active{
                img{
                    visibility: visible;
                    @include keyframe(h2Animation){
                        0%{
                            transform: scaleX(0);
                        }
                        100%{
                            transform: scaleX(1);
                        }
                    }
                    @include transform-origin(top left);
                    @include animation(h2Animation 0.1s);
                }
            }
        }
    }
    // section個別
    .news{
        padding-left: 26px;
        h2{
            margin-left:-137px;
            img{
                width: 446px;
            }
        }
        &_contents{
            display: flex;
            background: url(../common/img/top/bgTxt_news.png) no-repeat bottom right;
            padding-bottom: 77px;
            &_imgs{
                width: 533px;
                padding-right: 147px;
                position: relative;
                &_img01{
                    width: 533px;
                    padding-bottom: 34px;
                }
                &_img02{
                    width: 533px;
                }
                h3{
                    width: 236px;
                    position: absolute;
                    top: 315px;
                    left: -12px;
                }
            }
            &_info{
                width: 365px;
                &_item{
                    display: inline-block;
                    letter-spacing: -1.3px;
                    &:not(:first-child){
                        border-top: dotted 1px $c_black;
                        & .news_contents_info_item_date{
                            margin-top: 22px;
                        }
                    }
                    &:hover{
                        .news_contents_info_item_btnReadMore{
                            transform: translate(6px);
                            -moz-transform: translate(6px);
                            -ms-transform: translate(6px);
                            -o-transform: translate(6px);
                            -webkit-transform: translate(6px);
                            transition: transform 0.3s linear;
                        }
                    }
                    &_date{
                        font-size: 12px;
                    }
                    &_ttl{
                        font-size: 16px;
                        line-height: 23px;
                        padding: 0 5px;
                        display: inline-block;
                        color: $c_white;
                        background: $c_orange;
                        margin: 10px 0;
                    }
                    &_btnReadMore{
                        width: 115px;
                        padding: 14px 0 18px 250px;
                        transition: transform 0.3s linear;
                    }
                }
                &_btnToNews{
                    width: 261px;
                    height: 41px;
                    line-height: 41px;
                    display: block;
                    text-align: center;
                    margin: 0 auto;
                    border: solid 1px $c_black;
                    box-sizing: border-box;
                    position: relative;
                    &::after{
                        content:"";
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        z-index: -1;
                        background: $c_orange;
                        @include transform-origin(top left);
                        @include transform(scaleX(0));
                        @include transition(transform 0.3s);

                    }
                    p{
                        transition: transform 0.3s linear;
                        &::after{
                            content: "";
                            display: inline-block;
                            width: 26px;
                            height: 13px;
                            margin-left: 4px;
                            background: url(../common/img/btn_icon_arrow_black.png) no-repeat;
                        }
                    }
                    &:hover{
                        color: $c_white;
                        border: none;
                        &::after{
                            @include transform(scaleX(1));
                        }
                        p{
                            transform: translate(6px);
                            -moz-transform: translate(6px);
                            -ms-transform: translate(6px);
                            -o-transform: translate(6px);
                            -webkit-transform: translate(6px);
                            transition: transform 0.3s linear;
                            &::after{
                                background: url(../common/img/btn_icon_arrow_white.png) no-repeat;
                            }
                        }
                    }
                }
            }
        }
        &.default{
            .news_contents{
                visibility: hidden;
            }
        }
        &.active{
            .news_contents_imgs{
                &_img01{
                    @include animation(contentsFloating 0.3s);
                }
                &_img02{
                    @include animation(contentsFloating50 0.6s);
                }
                h3{
                    @include animation(contentsFloating50 0.9s);
                }
            }
            .news_contents_info{
                @include animation(contentsFromBottom 1s);
                &_btnToNews{
                    @include animation(contentsFromRight50 1.2s);
                }
            }
        }
    }// news
    .greeting{
        &::before{
            content: "";
            display: block;
            width: 725px;
            height: 469px;
            background: $c_orange;
            opacity: 0.25;
            position: absolute;
            bottom: 0;
            left: -81px;
            z-index: 0;
        }
        h2{
            img{
                width: 429px;
            }
        }
        &_contents{
            display: flex;
            padding-bottom: 176px;
            background: url(../common/img/top/bgTxt_greeting.png) no-repeat bottom right;
            position: relative;
            z-index: 1;
            &_txt{
                width: 423px;
                padding-right: 27px;
                h3{
                    width: 232px;
                }
                &_inner{
                    line-height: 2.5;
                    padding: 43px 0 52px;
                }
                &_btnToGreeting{
                    @extend .news_contents_info_btnToNews;
                }
            }
            &_img{
                width: 550px;
                margin-top: -50px;
            }
            
        }
        &.default{
            .greeting_contents{
                visibility: hidden;
            }
        }
        &.active{
            .greeting_contents_txt{
                @include animation(contentsFromLeft 0.3s);
                &_btnToGreeting{
                    @include animation(contentsFromBottom50 0.6s);
                }
            }
            .greeting_contents_img{
                @include animation(contentsFloating 1s);
            }
        }
    }//greeting
    .outline{
        &::before{
            width: 1025px;
            height: 603px;
        }
        h2{
            img{
                width: 444px;
            }
        }
        &_contents{
            @extend .greeting_contents;
            background: url(../common/img/top/bgTxt_outline.png) no-repeat bottom right;
            padding-bottom: 96px;
            &_txt{
                padding-right: 62px;
                h3{
                    width: 236px;
                    padding: 0 0 46px 55px;
                }
                table{
                    padding-bottom: 58px;
                    tr{
                        &:last-child{
                            td{
                                padding-top: 1em;
                            }
                        }
                        td{
                            vertical-align: baseline;
                            &:first-child{
                                width: 100px;
                            }
                            span{
                                font-size: 12px;
                            }
                        }
                    }
                }
                &_btnToOutline{
                    @extend .news_contents_info_btnToNews; 
                }
            }
            &_img{
                width: 558px;
                height: 100%;
                margin-top: -175px;
            }
        }
        &.default{
            .outline_contents{
                visibility: hidden;
            }
        }
        &.active{
            .outline_contents_txt{
                h3{
                    @include animation(contentsFromLeft 0.3s);
                }
                table{
                    @include animation(contentsFromBottom50 0.6s);
                }
                &_btnToOutline{
                    @include animation(contentsFromBottom50 0.9s);
                }
            }
            .outline_contents_img{
                @include animation(contentsFloating 1s);
            }
        }
    }//outline
    .branding{
        &::before{
            width: 1097px;
            height: 662px;
        }
        h2{
            img{
                width: 434px;
            }
        }
        &_contents{
            @extend .greeting_contents;
            background: url(../common/img/top/bgTxt_branding.png) no-repeat bottom right;
            padding-bottom: 180px;
            &_txt{
                padding-right: 133px;
                h3{
                    padding-bottom: 66px;
                    img{
                        width: 235px;
                    }
                }
                &_logoList{
                    width: 338px;
                    padding-bottom: 81px;
                    &_box{
                        display: inline-block;
                        &:nth-child(odd){
                            width: 148px;
                            padding-right: 56px;
                        }
                        &:not(:last-child){
                            padding-bottom: 26px;
                        }
                        p{
                            font-size: 13px;
                        }
                        a{
                            display: inline-block;
                            &:hover{
                                opacity: 0.7;
                            }
                            .logo_keinomori{
                                width: 124px;
                            }
                            .logo_kurumanomori{
                                width: 102px;
                            }
                            .logo_keipark{
                                width: 147px;
                            }   
                            .logo_shinsyaichiba{
                                width: 134px;
                            }
                            .logo_mahhashaken{
                                width: 141px;
                            }
                            .logo_picars{
                                width: 73px;
                            }
                            .logo_sensha{
                                width: 146px;
                            }
                        }
                    }
                }
                &_btnToBranding{
                    @extend .news_contents_info_btnToNews; 
                    margin: 0;
                }
            }
            &_img{
                width: 530px;
                margin-top: -175px;
                img{
                    display: inline-block;
                    &:first-child{
                        padding-bottom: 24px;
                    }
                }

            }
        }
        &.default{
            .branding_contents{
                visibility: hidden;
            }
        }
        &.active{
            .branding_contents_txt{
                h3{
                    @include animation(contentsFromLeft 0.3s);
                }
                &_logoList_box{
                    &:nth-child(1),
                    &:nth-child(4){
                        @include animation(contentsFromLeft50 0.5s);
                    }
                    &:nth-child(2),
                    &:nth-child(5){
                        @include animation(contentsFromLeft50 0.6s);
                    }
                    &:nth-child(3),
                    &:nth-child(6){
                        @include animation(contentsFromLeft50 0.7s);
                    }
                    &:nth-child(7){
                        @include animation(contentsFromLeft50 0.8s);
                    }
                }
                &_btnToBranding{
                    @include animation(contentsFromLeft50 1s);
                }
            }
            .branding_contents_img{
                img{
                    &:first-child{
                        @include animation(contentsFloating 1s);
                    }
                    &:last-child{
                        @include animation(contentsFloating50 1.1s);
                    }
                }
            }
        }
    }//branding
    .recruit{
        &::before{
            width: 1025px;
            height: 604px;
        }
        h2{
            img{
                width: 436px;
            }
        }
        &_contents{
            @extend .greeting_contents;
            background: url(../common/img/top/bgTxt_recruit.png) no-repeat bottom right;
            padding-bottom: 174px;
            position: relative;
            &_txt{
                width: 550px;
                h3{
                    padding-bottom: 49px;
                    img{
                        width: 234px;
                    }
                }
                &_inner{
                    display: flex;
                    padding-top: 98px;
                    width: 918px;
                    ul{
                        width: 549px;
                        padding-right: 70px;
                        display: flex;
                        flex-wrap: wrap;
                        li{
                            font-size: 18px;
                            line-height: 26px;
                            width: 161px;
                            height: 97px;
                            margin: 0 33px 26px 0;
                            text-align: center;
                            position: relative;
                            &:nth-child(3n){
                                margin-right: 0;
                            }
                            &:nth-child(n+3){
                                margin-bottom: 0;
                            }
                            .boxShadow{
                                width: 161px;
                                height: 97px;
                                background: $c_beige;
                                position: absolute;
                                top: 5px;
                                left: 5px;
                                z-index: 0;
                            }
                            a{
                                display: inline-block;
                                color: $c_white;
                                width: 100%;
                                height: 100%;
                                background: $c_orange;
                                position: relative;
                                z-index: 1;
                                p{
                                    white-space: nowrap;
                                    position: absolute;
                                    top: 50%;
                                    left: 50%;
                                    transform: translateX(-50%) translateY(-50%);
                                }
                                .shadow{
                                    width: 41px;
                                    height: 41px;
                                    background-color: $c_beige;
                                    border-radius: 50%;
                                    position: absolute;
                                    bottom: -16px;
                                    right: -10px;
                                    &::before{
                                        @extend .shadow;
                                        content:"";
                                        width: 44px;
                                        height: 44px;
                                        bottom: 2px;
                                        right: 2px;
                                    }
                                }
                                .icon{
                                    width: 41px;
                                    line-height: 41px;
                                    background-color: $c_orange;
                                    border-radius: 50%;
                                    position: absolute;
                                    bottom: -14px;
                                    right: -8px;
                                    img{
                                        vertical-align: middle;
                                    }
                                    &_eigyou{
                                        img{
                                            width:14px;
                                        }
                                    }
                                    &_seibi{
                                        img{
                                            width: 26px;
                                        }
                                    }
                                    &_front{
                                        img{
                                            width: 28px;
                                        }
                                    }
                                    &_customer{
                                        img{
                                            width: 19px;
                                        }
                                    }
                                    &_kanri{
                                        img{
                                            width: 29px;
                                        }
            
                                    }
                                    &_hokenbu{
                                        img{
                                            width: 26px;
                                        }
                                    }
                                }
                                .hoverBg{
                                    width: 100%;
                                    height: 100%;
                                    position: relative;
                                    overflow: hidden;
                                }
                                &:hover{
                                    .hoverBg{
                                        &::after{
                                            content: "";
                                            display: block;
                                            width: 200%;
                                            height: 100%;
                                            position: absolute;
                                            top: 0;
                                            left: -100%;
                                            background: url(../common/img/top/btn_recruit_hoverBg.svg) no-repeat;
                                            @include keyframe(bgAnimation){
                                                0%{
                                                    @include transform(translateX(0));
                                                }
                                                100%{
                                                    @include transform(translateX(50%));
                                                }
                                            }
                                            @include animation(bgAnimation 5s linear infinite);
                                        }
                                    }
                                    
                                }
                            }
                        }
                    }
                    &_btnToRecruit{
                        @extend .branding_contents_txt_btnToBranding;
                        margin-top: 177px;
                    }
                }
            }
            &_img{
                width: 463px;
                position: absolute;
                top: -113px;
                right: 0;
            }
        }
        &.default{
            .recruit_contents{
                visibility: hidden;
            }
        }
        &.active{
            .recruit_contents_txt{
                h3{
                    @include animation(contentsFromLeft 0.3s);
                }
                p{
                    @include animation(contentsFromLeft50 0.4s);
                }
                &_inner{
                    li{
                        &:nth-child(1){
                            @include animation(contentsFloating50 0.5s);
                        }
                        &:nth-child(2){
                            @include animation(contentsFloating50 0.6s);
                        }
                        &:nth-child(3){
                            @include animation(contentsFloating50 0.7s);
                        }
                        &:nth-child(4){
                            @include animation(contentsFloating50 0.8s);
                        }
                        &:nth-child(5){
                            @include animation(contentsFloating50 0.9s);
                        }
                        &:nth-child(6){
                            @include animation(contentsFloating50 1s);
                        }
                    }
                    &_btnToRecruit{
                        @include animation(contentsFromRight50 1.3s);
                    }
                }
            }
            .recruit_contents_img{
                @include animation(contentsFloating 1s);
            }
        }
    }//recruit
}