@charset "UTF-8";

/* reset */
*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}

/* common */
*{
    font-size: 18px;
}
main{
    width: 50vw;
    margin: 80px auto;
}
h1{
    margin-bottom: 20px;
}
.l-main{
    display: flex;
    justify-content: space-between;
}
.btn_opn{
    width: 67px;
    height: 18px;
    font-size: 10px;
}

.bg{
    width: 100vw;
    height: 100vh;
    background-color: rgb(139, 139, 139, 0.5);
    position: absolute;
    top: 0;
    left: 0;
}

/* modal中身 */
.modal{
    width: 403px;
    position: fixed;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 15px #888;
}
.modal_header{
    display: flex;
    padding: 13px 9px;
    border-radius: 10px 10px 0 0;
    background: linear-gradient(to bottom, #fff, #1D86D8 50%, #FFF);
}
h2{
    color: #fff;
}
.btn_close{
    width: 20px;
    height: 20px;
    margin-left: auto;
    margin-top: 4px;
    border-radius: 5px;
    background-color: rgba(255, 0, 0, 0.5);
    border: solid 1px #f00;
    color: #fff;
}
.modal_main{
    width: 341px;
    height: 122px;
    text-align: center;
    border: solid 1px #000;
    background-color: #f00;
    margin: 30px auto 12px;
}
.modal_nav{
    width: 112px;
    margin: 0 auto 30px;
    display: flex;
    justify-content: space-between;

}
.modal_nav li{
    width: 16px;
    height: 16px;
    border: solid 1px #000;
}
.modal_nav li:first-child{
    background-color: #f00;
}
.modal_nav li:nth-child(2){
    background-color: #ff0;
}
.modal_nav li:nth-child(3){
    background-color: #0f0;
}
.modal_nav li:nth-child(4){
    background-color: #f0f;
}
.modal_nav li:last-child{
    background-color: #00f;
}