@charset "UTF-8";
// **************************************************
// * ファイル名：./sass/staff-cast/style.scss          *
// * 概要     ：staff-castのsass                      *
// **************************************************
@import "../_common";
// **************************************************
// * common                                         *
// **************************************************
h2,span{
    color: $c_yellow;
}
// **************************************************
// * main                                           *
// **************************************************
main{
    h1{
        width: harf(467px);
        padding: 0 calc(50% - 233.5px/2);
        margin-bottom: harf(51px);
    }
    .contents{
        width: 340px;
        margin: 0 calc(50vw - 340px/2) 0;
        h2{
            font-size: harf(26px);
            text-align: center;
            margin-bottom: harf(52px);
            &:after{
                content: "";
                width: harf(4px);
                height: harf(67px);
                background: $c_white;
                display: block;
                margin: harf(39px) auto 0;
            }
        }
        &_inner{
            display: flex;
            flex-wrap: wrap;
            &_item{
                letter-spacing: -1.2px;
                margin-bottom: harf(83px);
                &_position{
                    font-size: harf(31px);
                }
                &_main{
                    display: flex;
                    align-items: center;
                    &_name{
                        font-size: harf(40px);
                    }
                }
                &_btn{
                    width: harf(44px);
                    height: harf(44px);
                    box-sizing: border-box;
                    @include border($c_orange);
                    margin-left: harf(18px);
                    background: $c_black;
                    position: relative;
                    &::before{
                        content: "";
                        width: harf(26px);
                        height: harf(6px);
                        display: block;
                        background: $c_orange;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        @include transform(translate(calc(-100%/2), calc(-100%/2)));
                    }
                    &::after{
                        @extend .contents_inner_item_btn::before;
                        @include transform(translate(calc(-100%/2), calc(-100%/2)) rotate(90deg));
                    }
                }
                .towLine{
                    .contents_inner_item_btn{
                        margin-top: -29px;
                    }
                }
            }
            
        }
    }
    .staff{
        .contents_inner_item{
            &:nth-child(1),
            &:nth-child(3){
                width: harf(366px);
            }
            &:last-child{
                margin-bottom: harf(115px);
            }
        }
        &_note{
            font-size: harf(16px);
        }
    }
    .cast{
        padding-top: harf(121px);
        position: relative;
        margin-bottom: 117px;
        &:before{
            content: "";
            width: harf(90px);
            height: harf(4px);
            background: $c_white;
            display: block;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(calc(-45px/2));
        }
        .contents_inner_item{
            &:nth-child(odd){
                width: harf(366px);
            }
            &:nth-last-child(1),
            &:nth-last-child(2){
                margin-bottom: 0;
            }
    }
    }
    .comment{
        &_item{
            width: 100vw;
            height: 100vh;
            position: fixed;
            z-index: 2;
            top: 0;
            left: 0;
            background: $c_black;
            padding-top: harf(180px);
            display: none;
            &_btnClose{
                width: harf(143px);
                height: harf(143px);
                border-left: solid 2px $c_orange;
                border-bottom: solid 2px $c_orange;
                position: absolute;
                top: 0;
                right: 0;
                &::before{
                    content: "";
                    width: harf(13px);
                    height: harf(90px);
                    background: $c_orange;
                    display: block;
                    transform: translate(-50%, -50%) rotate(45deg);
                    position: absolute;
                    top: 50%;
                    left: 50%;
                }
                &::after{
                    @extend .comment_item_btnClose::before;
                    transform: translate(-50%, -50%) rotate(-45deg);
                }
            }
            &_inner{
                width: harf(680px);
                box-sizing: border-box;
                margin: 0 auto;
                padding-bottom: harf(156px);
                border-top: solid 2px $c_orange;
                border-left: solid 2px $c_orange;
                border-right: solid 2px $c_orange;
                position: relative;
                // innerの下枠
                &::before{
                    content: "";
                    width: harf(43px);
                    height: 2px;
                    background: $c_orange;
                    display: block;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                }
                &::after{
                    @extend .comment_item_inner::before;
                    width: harf(330px);
                    right: 0;
                    left: auto;
                }
                &_head{
                    text-align: center;
                    margin: harf(109px) 0;
                    &_position{
                        font-size: harf(31px);
                    }
                    &_name{
                        font-size: harf(57px);
                    }
                }
                &_txt{
                    width: harf(560px);
                    height: harf(477px);
                    font-size: harf(33px);
                    font-weight: normal;
                    letter-spacing: -0.1px;
                    margin: 0 auto;
                    overflow-y: scroll;
                    overflow-x: hidden;
                    &::-webkit-scrollbar {
                        display:none;
                    }
                }
                h3{
                    width: harf(290px);
                    position: absolute;
                    bottom: 0;
                    left: harf(52px);
                    transform: translateY(50%);
                }
            }
            // 表示
            &.active{
                display: block;
            }
        }
    }
}