@charset "UTF-8";
// **************************************************
// * ファイル名：./outline/css/style.scss             *
// * 概要     ：outlineのsass                        *
// **************************************************
@import '../common/common';
// **************************************************
// * common                                         *
// **************************************************
body{
    border-top: solid 10px $c_orange;
}
// **************************************************
// * main                                           *
// **************************************************
main{
    background: url(../../common/img/branding/bgTxt_branding.png) no-repeat top left,
    url(../../common/img/branding/bgTxt_service.png) no-repeat bottom right;
    .service{
        padding-bottom: 119px;
        line-height: 21px;
        h1{
            width: 1143px;
            padding: 184px 0 33px;
        }
        &_reading{
            padding-bottom: 39px;
        }
        &_contents{
            &_item{
                display: inline-block;
                width: 457px;
                margin-bottom: 15px;
                border-bottom: solid 3px $c_orange;
                padding: 0 28px 25px;
                position: relative;
                transition: opacity 0.3s;
                &::before{
                    content: "";
                    display: block;
                    width: 16px;
                    height: 145px;
                    border-top: solid 3px $c_orange;
                    border-left: solid 3px $c_orange;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                }
                &::after{
                    content: "";
                    display: block;
                    width: 329px;
                    height: 145px;
                    border-top: solid 3px $c_orange;
                    border-right: solid 3px $c_orange;
                    position: absolute;
                    bottom: 0;
                    right: 0;
                }
                h2{
                    padding-bottom: 18px;
                }
                .logo_keinomori{
                    width: 114px;
                }
                .logo_kurumanomori{
                    width: 93px;
                }
                .logo_keipark{
                    width: 135px;
                }
                .logo_shinsyaichiba{
                    width: 122px;
                }
                .logo_mahhashaken{
                    width: 129px;
                }
                .logo_picars{
                    width: 100px;
                    padding-bottom: 8px;
                }
                .logo_sensha{
                    width: 140px;
                    padding-bottom: 8px;
                }
                &:nth-child(odd){
                    margin-right: 32px;
                }
                &:hover{
                    opacity: 0.7;
                }
                &_info{
                    display: flex;
                    img{
                        width: 132px;
                        margin-right: 25px;
                    }
                }
            }
        }
        &.active{
            & h1{
                @include animation(contentsFromLeft 1s);
            }
        }
    }//service

    .domain{
        position: relative;
        padding-bottom: 123px;
        line-height: 21px;
        h1{
            width: 998px;
        }
        &_reading{
            padding-bottom: 27px;
        }
        &_contents{
            width: 589px;
            display: flex;
            flex-wrap: wrap;
            position: relative;
            li{
                width: 115px;
                height: 115px;
                border-radius: 50%;
                border: solid 1px $c_black;
                box-sizing: border-box;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                background: url(../../common/img/bg.png);
                z-index: 1;
                &:nth-child(n-4){
                    margin-bottom: 46px;
                }
                &:not(:nth-child(4n)){
                    margin-right: 40px;
                }
                &.active{
                    border: none;
                    background: $c_orange;
                    color: $c_white;
                    &::before{
                        content: "";
                        position: absolute;
                        display: block;
                        width: 143px;
                        height: 143px;
                        background: url(../../common/img/branding/pointer_domain.png) no-repeat;
                        @include transform-origin(center center);
                        @include keyframe(domain_pointerRotate){
                            0%{
                                @include transform(rotate(0deg));
                            }
                            100%{
                                @include transform(rotate(365deg));
                            }
                        }
                        @include animation(domain_pointerRotate 12s linear infinite);
                    }
                }
            }
            &:before{
                content: "";
                display: block;
                width: 502px;
                height: 183px;
                border: solid 20px $c_orange;
                opacity: 0.15;
                position: absolute;
                top: 47px;
                left: 42px;
                z-index: 0;
                box-sizing: border-box;
            }
        }
        &_img{
            width: 470px;
            position: absolute;
            top: -15px;
            right: 0;
            z-index: 1;
        }
        &::after{
            content: "";
            display: block;
            width: 425px;
            height: 274px;
            background: $c_orange;
            opacity: 0.15;
            position: absolute;
            top: 97px;
            right: 0;
            z-index: 0;
        }
        &.default{
            & h1,
            & .domain_reading,
            & .domain_contents,
            & .domain_img{
                visibility: hidden;
            }
        }
        &.active{
            & h1{
                @include animation(contentsFromLeft 1s);
            }
            & .domain_reading{
                @include animation(contentsFromRight50 1.3s);
            }
            & .domain_contents{
                @include animation(contentsFromBottom50 1.6s);
            }
            & .domain_img{
                @include animation(contentsFromRight50 1.3s);
            }
        }
    }//domain

    .shops{
        background: url(../../common/img/branding/img_map.png) no-repeat 218px 37px;
        position: relative;
        padding-bottom: 164px;
        line-height: 22px;
        h1{
            width: 1000px;
            padding-bottom: 50px;
        }
        &_reading{
            padding-bottom: 68px;
        }
        &_contents{
            display: flex;
            justify-content: space-between;
            &_shopDetail{
                &_item{
                    width: 276px;
                    padding: 0 15px 25px; 
                    border-bottom: solid 3px $c_orange;
                    position: relative;
                    &::before{
                        content: "";
                        display: block;
                        width: 74px;
                        height: 292px;
                        border-top: solid 3px $c_orange;
                        border-left: solid 3px $c_orange;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        z-index: -1;
                    }
                    &::after{
                        content: "";
                        display: block;
                        width: 79px;
                        height: 292px;
                        border-top: solid 3px $c_orange;
                        border-right: solid 3px $c_orange;
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        z-index: -1;
                    }
                    &_logo{
                        margin: 0 auto;
                        padding-bottom: 11px;
                        width: 121.5px;
                        .logo_keinomori,.logo_sensha{
                            width: 108px;
                        }
                        .logo_kurumanomori,
                        .logo_picars{
                            width: 94.5px;
                        }
                        .logo_keipark,
                        .logo_shinsyaichiba,
                        .logo_mahhashaken{
                            width: 121.5px;
                        }
                        &_shopSup{
                            font-size: 10px;
                            font-weight: normal;
                            padding-bottom: 8px;
                        }
                    }
                    &_shopName{
                        font-size: 21px;
                    }
                    &_btnBox{
                        margin: 17px 0 19px;
                        font-size: 0;
                        a{
                            display: inline-block;
                            width: 133px;
                            border: solid 1px $c_black;
                            box-sizing: border-box;
                            padding: 7px 0;
                            position: relative;
                            @include transition(border 0.5s ease-out);
                            p{
                                font-size: 12px;
                                padding-left: 40px;
                                display: inline-block;
                                vertical-align: middle;
                                @include transition(transform 0.5s ease-out);
                                &::after{
                                    // btn矢印
                                    content: "";
                                    display: inline-block;
                                    width: 19px;
                                    height: 10px;
                                    background: url(../../common/img/btn_icon_arrow_black.png) no-repeat;
                                    background-size: contain;
                                    margin-left: 4px;
                                }
                            }
                            &::after{
                                // hover時の背景
                                content: "";
                                position: absolute;
                                z-index: -1;
                                top: -1px;
                                left: -1px;
                                bottom: -1px;
                                right: -1px;
                                background: $c_orange;
                                @include transform(scale(0, 1));
                                @include transform-origin(left top);
                                @include transition(transform 0.5s ease-out);
                            }
                            &:hover{
                                color: $c_white;
                                border: solid 1px transparent;
                                p{
                                    @include transform(translateX(15px));
                                    &::after{
                                        // btn矢印
                                        background: url(../../common/img/btn_icon_arrow_white.png) no-repeat;
                                        background-size: contain;
                                    }
                                }
                                &::after{
                                    @include transform(scale(1, 1));
                                }
                            }
                        }
                        .btnMap{
                            margin-right: 10px;
                            &::before{
                                // btnアイコン
                                content: "";
                                display: inline-block;
                                width: 10px;
                                height: 17px;
                                background: url(../../common/img/branding/btn_map_icon_black.png) no-repeat;
                                background-size: contain;
                                position: absolute;
                                top: 50%;
                                left: 23px;
                                @include transform(translateY(-50%));
                            }
                            &:hover{
                                &::before{
                                    background: url(../../common/img/branding/btn_map_icon_white.png) no-repeat;
                                    background-size: contain;
                                }
                            }
                        }
                        .btnShopInner{
                            &::before{
                                // btnアイコン
                                content: "";
                                display: inline-block;
                                width: 15px;
                                height: 22px;
                                background: url(../../common/img/branding/btn_shophukei_icon_black.png) no-repeat;
                                background-size: contain;
                                vertical-align: middle;
                                position: absolute;
                                top: 50%;
                                left: 20px;
                                @include transform(translateY(-50%));
                            }
                            &:hover{
                                &::before{
                                    background: url(../../common/img/branding/btn_shophukei_icon_white.png) no-repeat;
                                background-size: contain;
                                }
                            }
                        }
                    }
                    &_imgBox{
                        font-size: 0;
                        a{
                            width: 63px;
                            display: inline-block;
                            &:not(:last-child){
                                padding-right: 8px;
                            }
                        }
                    }
                    &.default{
                        display: none;
                    }
                    &.active{
                        display: block;
                    }
                }
                #shop13,#shop14{
                    &::before,&::after{
                        height: 240px;
                    }
                }
                #shop15{
                    &::before,&::after{
                        height: 218px;
                    }
                }
            }
            &_map{
                position: absolute;
                top: 0;
                left: 0;
                &_anchor{
                    width: 52px;
                    height: 52px;
                    border-radius: 50%;
                    background: $c_orange;
                    opacity: 0.5;
                    position: absolute;
                    &::after{
                        content: "";
                        display: block;
                        width: 150%;
                        height: 150%;
                        border-radius: 50%;
                        background: $c_orange;
                        opacity: 0.2;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        @include transform(translate(-50%, -50%));
                    }
                    &.default{
                        &::after{
                            @include keyframe(anchorAnimation){
                                0%{
                                    @include transform(translate(-50%, -50%) scale(1));
                                    opacity: 0.2;
                                }
                                100%{
                                    @include transform(translate(-50%, -50%) scale(2));
                                    opacity: 0;
                                }
                            }
                            @include animation(anchorAnimation 3s ease-out infinite);
                        }
                    }
                    &.active{
                        @include transform(scale(1.5));
                        opacity: 1;
                        &::before{
                            content: "";
                            display: block;
                            width: 125%;
                            height: 125%;
                            background: url(../../common/img/branding/pointer_domain.png) no-repeat;
                            background-size: 100%;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            @include transform-origin(center center);
                            @include keyframe(shops_pointerRotate){
                                0%{
                                    @include transform(translate(-50%, -50%) rotate(0deg));
                                }
                                100%{
                                    @include transform(translate(-50%, -50%) rotate(365deg));
                                }
                            }
                            @include animation(shops_pointerRotate 12s linear infinite);
                        }
                    }
                }
                #anchor01{
                    top: 357px;
                    left: 465px;
                }
                #anchor02{
                    top: 403px;
                    left: 481px;
                }
                #anchor03{
                    top: 458px;
                    left: 544px;
                }
                #anchor04{
                    top: 480px;
                    left: 459px;
                }
            }
            &_shopList{
                width: 262px;
                margin-right: 171px;
                li{
                    border-bottom: dotted 1px $c_black;
                    overflow: hidden;
                    a{
                        display: inline-block;
                        width: calc(100% - 37px);
                        padding: 6px 0 6px 37px;
                        position: relative;
                        &::after{
                            content: "";
                            display: block;
                            width: 8px;
                            height: 8px;
                            border-top: solid 1px $c_black;
                            border-right: solid 1px $c_black;
                            transform: rotate(45deg);
                            position: absolute;
                            top: 14px;
                            right: 19px;
                        }
                        &:hover,
                        &.active{
                            color: $c_orange;
                            background: url(../../common/img/data_image.png);
                            &::after{
                                border-top: solid 1px $c_orange;
                                border-right: solid 1px $c_orange;
                            }
                        }
                        &.active{
                            background: none;
                            &::before{
                                content:"";
                                display: block;
                                width: 200%;
                                height: 100%;
                                position: absolute;
                                top: 0;
                                left: -100%;
                                background: url(../../common/img/data_image.png);
                                @include keyframe(bgAnimation){
                                    0%{
                                        @include transform(translateX(0));
                                    }
                                    100%{
                                        @include transform(translateX(50%));
                                    }
                                }
                                @include animation(bgAnimation 10s linear infinite);
                            }
                        }
                    }
                }
            }
        }
        &.default{
            & h1,
            & .shops_reading,
            & .shops_contents{
                visibility: hidden;
            }
        }
        &.active{
            & h1,
            & .shops_contents_map_anchor{
                @include animation(contentsFromLeft 1s);
            }
            & .shops_reading{
                @include animation(contentsFromLeft50 1.3s);
            }
            & .shops_contents_shopDetail{
                @include animation(contentsFromLeft50 1.6s);
            }
            & .shops_contents_map_anchor.active::after,
            & .shops_contents_shopList{
                @include animation(contentsFromLeft50 1.9s);
            }
        }
    }//shops
}