@charset "UTF-8";

/* reset */
*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}

/* common */
*{
    font-size: 13px;
}

section{
    width: 840px;
    margin: 80px auto;
}
h1{
    font-size: 30px;
    padding-bottom: 20px;
}
h2{
    font-size: 20px;
    padding-bottom: 20px;
}
h3{
    font-size: 17px;
    padding-bottom: 20px;
}
h4{
    font-size: 12px;
    padding-bottom: 20px;
    font-weight: normal;
}

.content-01_txt{
    padding-bottom: 40px;
}
.content-01_txt rt{
    font-size: 8px;
}

.content-02_item{
    padding-bottom: 40px;
}
.content-02_item_books{
    display: flex;
    justify-content: space-between;
}
.content-02_item_books-img{
    width: 120px;
    line-height: 160px;
    vertical-align: middle;
    text-align: center;
    border: solid 1px #000;
    background-color: #D0E0E3;
}
.content-02_item_movie{
    background-color: #F4CCCC;
    width: 420px;
    height: 280px;
}