@charset "UTF-8";
// **************************************************
// * ファイル名：./sass/onair/style.scss               *
// * 概要     ：onairのsass                            *
// **************************************************
@import "../_common";
// **************************************************
// * common                                         *
// **************************************************
// **************************************************
// * main                                           *
// **************************************************
main{
    h1{
        width: harf(287px);
        padding: 0 calc(50% - 143.5px/2);
        margin-bottom:21px;
    }
    .tab{
        width: 340px;
        margin: 0 calc(50% - 340px/2) 34px;
        display: flex;
        &_item{
            @include border();
            text-align: center;
            width: 210px;
            line-height: 38.5px;
            &:first-child{
                margin-right: 9px;
            }
            // 選択中のタブ
            &.active{
                color: $c_black;
                background: $c_white;
            }
        }
    }
    .contents{
        width: 340px;
        margin: 0 calc(50% - 340px/2) 117px;
        display: none;
        h2{
            font-size: 15px;
            text-align: center;
            color: $c_yellow;
            &::after{
                content: "";
                display: block;
                width: 2.4px;
                height: 34px;
                background: $c_white;
                margin: 18.5px auto 25px;
            }
        }
        span{
            color: $c_yellow;
        }
        
        // 選択中のタブに対応するコンテンツ
        &.active{
            display: block;
        }
    }
    .housoInf{
        table{
            font-size: 20px;
            @include font_renner;
            tr{
                td{
                    padding-bottom: 35px;
                    &:first-child{
                        width: 138px;
                    }
                }
                &:last-child{
                    td{
                        padding-bottom: 27.5px;
                    }
                }
            }
        }
        &_note{
            font-size: 13px;
        }
    }
    .haishinInf{
        &_item_ttl{
            margin-bottom: 22.5px;
            &::before{
                content: "";
                display: inline-block;
                width: 24px;
                height: 18px;
                background: url(../../common/img/onair/icon_arrow.svg) no-repeat;
                background-size: contain;
                margin: 4px 6px 0 0;
                vertical-align: top;
            }
            h3{
                display: inline-block;
                @include font_renner;
            }
        }
        &_item{
            &:not(:last-child){
                padding-bottom: 27.5px;
            }
            ul{
                display: flex;
                flex-wrap: wrap;
                li{
                    margin-bottom: 15px;
                    &:nth-child(odd){
                        margin-right: 12px;
                    }
                    a{
                        width: 160px;
                        height: 64.5px;
                        @include border($c_orange);
                        background: $c_black;
                        font-size: 12.5px;
                        color: $c_orange;
                        text-align: center;
                        display: table-cell;
                        text-align: center;
                        vertical-align: middle; 
                    }
                }
            }
            &_note{
                font-size: 10px;
                margin-top: calc(19.5px - 15px);
            }
        }
    }
}