@charset "UTF-8";

/* reset */
*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}

/* common */
*{
    font-size: 13px;
}

main{
    width: 820px;
    margin: 80px auto;
}
form{
    text-align: center;
}
h1{
    width: 338px;
    line-height: 60px;
    border: solid 1px #000;
    background-color: #a4bfb4;
    text-align: center;
    margin-bottom: 20px;
}
table{
    border-collapse: collapse;
    width: 100%;
    text-align: left;
}
table:not(:last-child){
    margin-bottom: 40px;
}
tr th, tr td{
    border: solid 1px #000;
    padding-left: 20px;
    
}
tr th{
    text-align: left;
    font-size: 16px;
    background-color: #efefef;
    line-height: 40px;
}
tr td{
    padding: 20px;
}
tr td input[type="text"]{
    border: solid 1px #000;
}
tr td:first-child{
    width: 30%;
}
tr td li:not(:last-child){
    padding-bottom: 20px;
}
tr td input[type="radio"]:not(:first-child),
.builtType select:not(:first-child){
    margin-left: 1em;
}


.ttl_txt{
    width: calc(100% - 45px);
    display: inline-block;
}
.label-req{
    background-color: #ead1dc;
}
.label-req span{
    display: inline-block;
    line-height: 20px;
    width: 40px;
    text-align: center;
    background-color: #f00;
    color: #fff;
}
.label-opt span{
    display: inline-block;
    line-height: 20px;
    width: 40px;
    text-align: center;
    border: solid 1px #000;
    box-sizing: border-box;
}
.modelName input, .productNo input,
.tel input, .mail input{
    width: 300px;
}
.adress li:first-child input{
    width: 160px;
}
.adress li:not(:first-child) input{
    width: 360px;
}
.adress_ttl, .carry_ttl, .contact_ttl{
    vertical-align: baseline;
}

.carry li:not(:last-child){
    padding-bottom: 0;
}
.name li:first-child label{
    padding-left: 1em;
}
.name li input{
    width: 160px;
}
.bikou textarea{
    width: 95%;
}

input[type="button"]{
    width:460px;
    line-height: 60px;
    font-size: 16px;
    font-weight: bold;
    background-color: #c56480;
    border: solid 1px #000;
}