main h1 {
  width: 175px;
  padding: 0 calc(50% - 175px/2);
  margin-bottom: 21px;
}

main .select {
  width: 340px;
  line-height: 1;
  padding: 13.25px 0;
  margin: 0 calc(50% - 340px/2) 44.5px;
  border: solid 2px #fff;
  color: #fff;
  font-size: 16px;
  position: relative;
}

main .select_label {
  text-align: center;
}

main .select_label::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../../common/img/btn_left.svg) no-repeat;
  background-size: contain;
  transform: rotate(-90deg);
  margin-right: 9px;
}

main .select_selectCategory {
  width: 340px;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

main .contents {
  background: #000;
  border-top: solid 2px #f6821e;
  border-bottom: solid 2px #f6821e;
  position: relative;
  padding-top: 67px;
}

main .contents_tag {
  font-size: 11.5px;
  color: #000;
  background: #f6821e;
  padding: 0 33.5px;
  line-height: 23.5px;
  position: absolute;
  top: -1px;
  right: 17.5px;
}

main .contents_inner {
  width: 340px;
  margin: 0 calc(50vw - 340px/2) 10%;
  font-size: 15px;
}

main .contents_inner h2 {
  text-align: center;
  font-size: 19px;
  margin-bottom: 46.5px;
}

main .contents_inner_txt {
  margin-bottom: 5%;
}

main .contents_inner_txt dl dd {
  padding-left: calc(15px + 5px);
}

main .contents_inner_txt ul li {
  display: table-cell;
}

main .contents_inner_txt ul li:first-child {
  width: 3em;
}

main .contents_inner_txt .is_arrow::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 12px;
  background: url(../../common/img/bdDvd/icon_arrow.png) no-repeat;
  fill: #f6821e;
  background-size: contain;
  margin-right: 5px;
}

main .contents_inner_txt_ttl {
  color: #f6821e;
  margin-top: 5%;
}

main .contents_inner_txt_note {
  font-size: 11px;
  padding-left: calc(15px + 5px);
}

main .contents_inner_special {
  background: #f6821e;
  color: #000;
  padding: 0 20px 20px;
  margin: 10% 0;
}

main .contents_inner_special ul li {
  display: table-cell;
}

main .contents_inner_special ul li .is_line-through {
  text-decoration: line-through;
}

main .contents_inner_special_ttl {
  text-align: center;
  border-bottom: dotted 1px #000;
  padding: 5% 0 5%;
  position: relative;
}

main .contents_inner_special_ttl::before {
  content: "";
  display: block;
  width: 16.75px;
  height: 15px;
  background: url(../../common/img/bdDvd/icon_ribbon.svg) no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  right: 10px;
}

main .contents_inner_special_subTtl {
  text-align: center;
  margin: 5% 0 5%;
}

main .contents_inner_special_txt {
  margin-top: 5%;
  text-align: center;
}

main .contents_inner_special_shops {
  margin: 5% 0 5%;
}

main .contents_inner_special .is_red {
  color: #a90000;
  text-align: center;
}

main .contents_inner_special_note {
  font-size: 11px;
  text-align: center;
}

main .contents_inner_note {
  font-size: 11px;
  font-weight: normal;
}

main .pageNav ul {
  margin: 15% 0 30%;
  display: flex;
  justify-content: center;
}

main .pageNav ul li a {
  display: flex;
  align-items: center;
}

main .pageNav ul li:first-child a::before {
  content: "";
  display: block;
  width: 15px;
  height: 22.5px;
  background: url(../../common/img/btn_left.svg) no-repeat;
  background-size: cover;
  margin-right: 5px;
}

main .pageNav ul li:last-child a::after {
  content: "";
  display: block;
  width: 15px;
  height: 22.5px;
  background: url(../../common/img/btn_right.svg) no-repeat;
  background-size: cover;
  margin-left: 5px;
}

main .pageNav ul .is_border {
  width: 2px;
  height: 22.500;
  margin: 0 37.5px;
  background-color: #fff;
  display: block;
}

main .pageNav.default ul li:first-child, main .pageNav.default .is_border {
  display: none;
}
