@charset "UTF-8";

/* reset */
*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}

/* common */
*{
    font-size: 12px;
}
main{
    width: 820px;
    margin: 60px auto;
}
h1{
    font-size: 26px;
    text-shadow: 4px 3px 0px #666;
}
table{
    border-collapse: collapse;
    width: 400px;
}
table:first-child{
    margin-bottom: 20px;
}
table caption{
    letter-spacing: 0.25em;
    text-align: left;
}
table tr th, table tr td{
    border: solid 1px #000;
    border-top: dashed 1px #000;
    border-bottom: dashed 1px #000;
    padding: 0 3px;
}
table thead th{
    border: solid 1px #000;
}
table tbody th{
    font-weight: normal;
    text-align: left;
}
table tbody td:nth-child(2),
table tbody td:nth-child(4){
    text-align: right;
}
table tbody td:nth-child(3){
    text-align: center;
}
table tbody td:nth-child(2){
    background-color: #FDE5CD;
}
table tbody td:nth-child(2):empty{
    background-color: #fff;
}

footer{
    width: 820px;
    margin: 0 auto;
}
footer nav ul li{
    display: inline-block;
}
footer nav ul li:not(:first-child){
    margin-left: 40px;
}


/* class */
.l-main{
    display: flex;
    justify-content: space-between;
}

.l-left table thead th{
    background-color: #9A00FF;
    color: #fff;
}
.l-left table thead th:first-child{
    width: 160px;
}
.l-left tr th,
.l-left tr td{
    border-color: #9A00FF;
}
.l-left tbody tr:last-child th,
.l-left tbody tr:last-child td{
    background-color: #CFE2F4;
}
.l-left tbody tr:last-child th{
    text-align: center;
}

.l-right table thead th{
    background-color: #f00;
    color: #fff;
}
.l-right table thead th:first-child{
    width: 100px;
}
.l-right tr th,
.l-right tr td{
    border-color: #f00;
}
.l-right tr th{
    background-color: #F4CCCC;
}
.l-right tr th:empty{
    background-color: #fff;
}
.l-right tbody tr:last-child th,
.l-right tbody tr:last-child td{
    background-color: #F4CCCC;
}
.livingExpenses tbody td:nth-child(3){
    text-align: right;
}

.line-double th,
.line-double td{
    border-top: double #000;
    border-bottom: solid 1px #000;
}
.line-del th{
    text-decoration: line-through;
}
.color-red td:last-child{
    color: #f00;
}

/* 吹き出し設定 */
.opt-baloon{
    position: relative;
}
.baloon{
    position: absolute;
    top: -16px;
    left: -65px;
    width: 64px;
    border: solid 1px #000;
    background-color: #FFF2CC;
    border-radius: 5px;
    padding: 5px;
    text-align: left;
}
.baloon::before{
    content:"";
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 10px solid #000;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    transform: rotate(-45deg);
    bottom: 6px;
    right: -7px;
}
.baloon::after{
    content:"";
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 10px solid #FFF2CC;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    transform: rotate(-45deg);
    bottom: 5px;
    right: -3.5px;
}
.baloon p{
    font-size: 8px;
}
.baloon_img{
    width: 30px;
    height: auto;
    position: absolute;
    top: -10px;
    right: -10px;
    opacity: 60%;
} 