@charset "UTF-8";

/* reset */
*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}

/* common */
*{
    font-size: 18px;
}
main{
    width: 50vw;
    margin: 80px auto;
}
h1{
    margin-bottom: 20px;
}
.l-main{
    width: 600px;
}

nav ul{
    display: flex;
}
nav ul li a{
    display: inline-block;
    width: 90px;
    line-height: 38px;
    border: solid 1px #000;
    background-color: #FDE1B8;
    text-align: center;
    color: #000;
}
nav ul li a:hover{
    background-color: #FEDA30;
}

.imgs{
    border: solid 1px #000;
}
.imgs li{
    font-size: 0;
}
.imgs li img{
    width: 100%;
    height: 380px;
    object-fit: cover;
}

