@charset "UTF-8";

/* ******************************************* */
/* common/base.css                             */
/* ******************************************* */
/* ******************************************* */
/* reset                                       */
/* ******************************************* */
*{
    padding: 0;
    margin: 0;
}
h1, h2, h3, h4, h5, h6{
    font-weight: normal;
}
ul li{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    width: 100%;
    height: auto;
}

/* ******************************************* */
/* common                                      */
/* ******************************************* */
html{
    -webkit-text-size-adjust: 100%;
}
body{
    font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Arial, Meiryo, メイリオ, Osaka, 'MS PGothic',sans-serif;
    font-weight: bold;
    word-break: break-all;
}
.wrap{
    overflow: hidden;
}
.txtCenter{
    text-align: center;
}
.txtRight{
    text-align: right;
}
.bkGreen{
    background-image: url(../img/sp/back.png);
}
.bkWhite{
    background-color: #fff;
}
.br_pc{
    display: none;
}
@media screen and (min-width: 640px){
    .bkGreen{
        background-image: url(../img/back.png);
    }
    .br_sp{
        display: none;
    }
    .br_pc{
        display: inline;
    }
}
/* ******************************************* */
/*  header                                     */
/* ******************************************* */
header{
    color: #fff;
    position: relative;
    z-index: 7;
}
/* logo関連 */
.header_logo{
    position: fixed;
    top: -5%;
    left: calc(50% - 15%);
}
.header_logo_logo{
    background-color: #fff;
    border-radius: 50%;
    width: 30vw;
    height: 30vw;
    max-width: 112px;
    max-height: 112px;
    z-index: 6;
}
.header_logo_logo a{
    display: inline-block;
    width: 21vw;
    max-width: 79px;
    padding: 40% 0 0 16%;
    position: relative;
}
.header_logo_txt1,
.header_logo_txt2{
    display: none;
}
/* メニューボタン */
.header_btnNav{
    margin: 20px 20px 0 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 3;
}
.header_btnNav_inner{
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: relative;
    /* アニメーション */
    background: #fff;
    transition: background 0.2s linear;
    -moz-transition: background 0.2s linear;
    -o-transition: background 0.2s linear;
    -webkit-transition: background 0.2s linear;
}
.header_btnNav_inner span,
.header_btnNav_inner::before,
.header_btnNav_inner::after {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left:0;
    right: 0;
    width: 18px;
    height: 3.5px;
    margin: auto;
    /* アニメーション */
    background: #4b9237;
    transition: background 0.2s linear;
    -moz-transition: background 0.2s linear;
    -o-transition: background 0.2s linear;
    -webkit-transition: background 0.2s linear;
}
.header_btnNav_inner span {
    overflow: hidden;
    z-index: 1;
    color: #4b9237;
}
.header_btnNav_inner::before {
    content: "";
    z-index: 2;
    transform: translate(0, -6px);
    -moz-transform: translate(0, -6px);
    -ms-transform: translate(0, -6px);
    -o-transform: translate(0, -6px);
    -webkit-transform: translate(0, -6px);
}
.header_btnNav_inner::after {
    content: "";
    z-index: 2;
    transform: translate(0, 6px);
    -moz-transform: translate(0, 6px);
    -ms-transform: translate(0, 6px);
    -o-transform: translate(0, 6px);
    -webkit-transform: translate(0, 6px);
}
.header_btnNav_inner:hover{
    background: #e98a2b;
    transition: background 0.2s linear;
    -moz-transition: background 0.2s linear;
    -o-transition: background 0.2s linear;
    -webkit-transition: background 0.2s linear;
}
.header_btnNav_inner:hover span,
.header_btnNav_inner:hover::before,
.header_btnNav_inner:hover::after{
    background: #fff;
    transition: background 0.2s linear;
    -moz-transition: background 0.2s linear;
    -o-transition: background 0.2s linear;
    -webkit-transition: background 0.2s linear;
}
@keyframes lineTop {
    50% {
        transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
    }
    100% {
        transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }
}
@keyframes lineMiddle {
    50%, 100% {
        opacity: 0;
    }
}
@keyframes lineBottom {
    50% {
        transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
    }
    100% {
        transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }
}
.header_btnNav_inner.active{
    background: rgba(0,0,0,0);
}
.header_btnNav_inner.active span,
.header_btnNav_inner.active::before,
.header_btnNav_inner.active::after{
    background: #fff;
}
.header_btnNav_inner.active span {
    animation: lineMiddle 250ms step-end forwards;
    -moz-animation: lineMiddle 250ms step-end forwards;
    -o-animation: lineMiddle 250ms step-end forwards;
    -webkit-animation: lineMiddle 250ms step-end forwards;
}
.header_btnNav_inner.active::before {
    animation: lineTop 250ms forwards;
    -moz-animation: lineTop 250ms forwards;
    -o-animation: lineTop 250ms forwards;
    -webkit-animation: lineTop 250ms forwards;
}
.header_btnNav_inner.active::after {
    animation: lineBottom 250ms forwards;
    -moz-animation: lineBottom 250ms forwards;
    -o-animation: lineBottom 250ms forwards;
    -webkit-animation: lineBottom 250ms forwards;
}
.header_btnNav_inner.default span {
    animation: lineMiddle 250ms step-end reverse;
    -moz-animation: lineMiddle 250ms step-end reverse;
    -o-animation: lineMiddle 250ms step-end reverse;
    -webkit-animation: lineMiddle 250ms step-end reverse;
}
.header_btnNav_inner.default::before {
    animation: lineTop 250ms reverse;
    -moz-animation: lineTop 250ms reverse;
    -o-animation: lineTop 250ms reverse;
    -webkit-animation: lineTop 250ms reverse;
}
.header_btnNav_inner.default::after {
    animation: lineBottom 250ms reverse;
    -moz-animation: lineBottom 250ms reverse;
    -o-animation: lineBottom 250ms reverse;
    -webkit-animation: lineBottom 250ms reverse;
}

/* メニュー */
.headerNav{
    position: fixed;
    top: auto;
    left: auto;
    z-index: 2;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-image: url(../img/sp/back_menu.png);
    text-align: center;
    visibility: hidden;
}
@keyframes navActive {
    0% {
        visibility: hidden;
    }
    30%{
        visibility: hidden;
    }
    100% {
        visibility: visible;
    }
}
.headerNav.default{
    animation: navActive 0.1s reverse forwards;
    -moz-animation: navActive 0.1s reverse forwards;
    -o-animation: navActive 0.1s reverse forwards;
    -webkit-animation: navActive 0.1s reverse forwards;
}
.headerNav.active{
    animation: navActive 1s forwards;
    -moz-animation: navActive 1s forwards;
    -o-animation: navActive 1s forwards;
    -webkit-animation: navActive 1s forwards;
}
.headerNav ul{
    margin: 23.2% 0 27%;
}
.headerNav li{
    padding: 4%;
}
.headerNav a{
    display: inline-block;
}
.headerNav a:hover{
    opacity: 0.7;
}
.headerNav p{
    font-size: 10px;
}
.headerNav .nav_contact{
    margin-bottom: 5.3%;
}

@keyframes navInnerActive {
    from {
        transform: translate(100vw, 0);
        -moz-transform: translate(100vw, 0);
        -ms-transform: translate(100vw, 0);
        -o-transform: translate(100vw, 0);
        -webkit-transform: translate(100vw, 0);
    }
    to {
        transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
    }
}
.headerNav_inner.active{
    animation: navInnerActive 1s ease-out forwards;
    -moz-animation: navInnerActive 1s ease-out forwards;
    -o-animation: navInnerActive 1s ease-out forwards;
    -webkit-animation: navInnerActive 1s ease-out forwards;
}
.headerNav_inner.default{
    animation: navInnerActive 1s reverse ease-in forwards;
    -moz-animation: navInnerActive 1s reverse ease-in forwards;
    -o-animation: navInnerActive 1s reverse ease-in forwards;
    -webkit-animation: navInnerActive 1s reverse ease-in forwards;
}

@keyframes navBgActive{
    from{
        transform: scale(0.02);
        -moz-transform: scale(0.02);
        -ms-transform: scale(0.02);
        -o-transform: scale(0.02);
        -webkit-transform: scale(0.02);
    }
    to{
        transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        -webkit-transform: scale(1);
    }
}
.headerBg{
    content: "";
    width: 100vw;
    height: 100vw;
    position: fixed;
    top: calc(-100vw/2 + 40px);
    right: calc(-100vw/2 + 40px);
    display: block;
    background: url(../img/back_menu.png);
    border-radius: 50%;
    backface-visibility: hidden;
    transform: scale(.02);
    -moz-transform: scale(.02);
    -ms-transform: scale(.02);
    -o-transform: scale(.02);
    -webkit-transform: scale(.02);
}
.headerBg.active{
    animation: navBgActive 0.4s ease-out;
    -moz-animation: navBgActive 0.4s ease-out;
    -o-animation: navBgActive 0.4s ease-out;
    -webkit-animation: navBgActive 0.4s ease-out;
}
.headerBg.default{
    animation: navBgActive 0.4s ease-out reverse;
    -moz-animation: navBgActive 0.4s ease-out reverse;
    -o-animation: navBgActive 0.4s ease-out reverse;
    -webkit-animation: navBgActive 0.4s ease-out reverse;
}

@media screen and (min-width: 640px){
    /* logo関連 */
    .header_logo{
        left: 0;
        top: 0;
    }
    .header_logo_logo{
        width: 1215px;
        height: 215px;
        max-width: 215px;
        max-height: 215px;
        position: absolute;
        left: 49px;
        top: -13px;
    }
    .header_logo_logo a{
        width: 149px;
        max-width: 149px;
        padding-top: 34%;
    }
    .header_logo_txt1,
    .header_logo_txt2{
        display: block;
    }
    .header_logo_txt1{
        background-color: #fff;
        border-radius: 50%;
        width: 127px;
        height: 127px;
        position: absolute;
        top: 173px;
        left: 37px;
        z-index: 5;
    }
    .header_logo_txt1 img{
        width: 91px;
        padding: 37% 0 0 16%;
    }
    .header_logo_txt2{
        background-color: #fff;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        position: absolute;
        top: 273px;
        left: 112px;
        z-index: 4;
    }
    .header_logo_txt2 img{
        width: 69px;
        padding: 37% 0 0 16%;
    }

    @keyframes scaleLogo_def {
        0%{
            top: -53px;
            transform: scale(0.7);
            -moz-transform: scale(0.7);
            -ms-transform: scale(0.7);
            -o-transform: scale(0.7);
            -webkit-transform: scale(0.7);
        }
        100%{
            top: -13px;
            transform: scale(1);
            -moz-transform: scale(1);
            -ms-transform: scale(1);
            -o-transform: scale(1);
            -webkit-transform: scale(1);
        }
    }
    @keyframes translateTxt1_def {
        0%,50%{
            visibility: hidden;
            transform: translate(54px, -136px);
            -moz-transform: translate(54px, -136px);
            -ms-transform: translate(54px, -136px);
            -o-transform: translate(54px, -136px);
            -webkit-transform: translate(54px, -136px);
        }
        100%{
            visibility: visible;
            transform: translate(0,0);
            -moz-transform: translate(0,0);
            -ms-transform: translate(0,0);
            -o-transform: translate(0,0);
            -webkit-transform: translate(0,0);
        }
    }
    @keyframes translateTxt2_def {
        0%, 67%{
            visibility: hidden;
            transform: translate(-59px, -84px);
            -moz-transform: translate(-59px, -84px);
            -ms-transform: translate(-59px, -84px);
            -o-transform: translate(-59px, -84px);
            -webkit-transform: translate(-59px, -84px);
        }
        100%{
            visibility: visible;
            transform: translate(0,0);
            -moz-transform: translate(0,0);
            -ms-transform: translate(0,0);
            -o-transform: translate(0,0);
            -webkit-transform: translate(0,0);
        }
    }
    @keyframes scaleLogo_act {
        67%{
            top: -13px;
            transform: scale(1);
            -moz-transform: scale(1);
            -ms-transform: scale(1);
            -o-transform: scale(1);
            -webkit-transform: scale(1);
        }
        100%{
            top: -53px;
            transform: scale(0.7);
            -moz-transform: scale(0.7);
            -ms-transform: scale(0.7);
            -o-transform: scale(0.7);
            -webkit-transform: scale(0.7);
        }
    }
    @keyframes translateTxt1_act {
        50%{
            visibility: visible;
            transform: translate(0,0);
            -moz-transform: translate(0,0);
            -ms-transform: translate(0,0);
            -o-transform: translate(0,0);
            -webkit-transform: translate(0,0);
        }
        100%{
            visibility: hidden;
            transform: translate(54px, -136px);
            -moz-transform: translate(54px, -136px);
            -ms-transform: translate(54px, -136px);
            -o-transform: translate(54px, -136px);
            -webkit-transform: translate(54px, -136px);
        }
    }
    @keyframes translateTxt2_act {
        0%{
            visibility: visible;
            transform: translate(0,0);
            -moz-transform: translate(0,0);
            -ms-transform: translate(0,0);
            -o-transform: translate(0,0);
            -webkit-transform: translate(0,0);
        }
        100%{
            visibility: hidden;
            transform: translate(-59px, -84px);
            -moz-transform: translate(-59px, -84px);
            -ms-transform: translate(-59px, -84px);
            -o-transform: translate(-59px, -84px);
            -webkit-transform: translate(-59px, -84px);
        }
    }
    .header_logo.default .header_logo_logo{
        animation: scaleLogo_def 0.2s forwards;
        -moz-animation: scaleLogo_def 0.2s forwards;
        -o-animation: scaleLogo_def 0.2s forwards;
        -webkit-animation: scaleLogo_def 0.2s forwards;
    }
    .header_logo.default .header_logo_txt1{
        animation: translateTxt1_def 0.4s forwards;
        -moz-animation: translateTxt1_def 0.4s forwards;
        -o-animation: translateTxt1_def 0.4s forwards;
        -webkit-animation: translateTxt1_def 0.4s forwards;
    }
    .header_logo.default .header_logo_txt2{
        animation: translateTxt2_def 0.6s forwards;
        -moz-animation: translateTxt2_def 0.6s forwards;
        -o-animation: translateTxt2_def 0.6s forwards;
        -webkit-animation: translateTxt2_def 0.6s forwards;
    }
    .header_logo.active .header_logo_logo{
        animation: scaleLogo_act 0.6s  forwards;
        -moz-animation: scaleLogo_act 0.6s  forwards;
        -o-animation: scaleLogo_act 0.6s  forwards;
        -webkit-animation: scaleLogo_act 0.6s  forwards;
    }
    .header_logo.active .header_logo_txt1{
        animation: translateTxt1_act 0.4s forwards;
        -moz-animation: translateTxt1_act 0.4s forwards;
        -o-animation: translateTxt1_act 0.4s forwards;
        -webkit-animation: translateTxt1_act 0.4s forwards;
    }
    .header_logo.active .header_logo_txt2{
        animation: translateTxt2_act 0.2s forwards;
        -moz-animation: translateTxt2_act 0.2s  forwards;
        -o-animation: translateTxt2_act 0.2s forwards;
        -webkit-animation: translateTxt2_act 0.2s forwards;
    }
    
    /* メニューボタン */
    .header_btnNav{
        margin: 30px 30px 0 0;
    }
    .header_btnNav_inner{
        width: 40px;
        height: 40px;
    }
    .header_btnNav_inner span,
    .header_btnNav_inner::before,
    .header_btnNav_inner::after {
        width: 19px;
        height: 4px;
    }
    .header_btnNav_inner::before {
        transform: translate(0, -8px);
        -moz-transform: translate(0, -8px);
        -ms-transform: translate(0, -8px);
        -o-transform: translate(0, -8px);
        -webkit-transform: translate(0, -8px);
    }
    .header_btnNav_inner::after {
        transform: translate(0, 8px);
        -moz-transform: translate(0, 8px);
        -ms-transform: translate(0, 8px);
        -o-transform: translate(0, 8px);
        -webkit-transform: translate(0, 8px);
    }

    /* メニュー */
    .headerNav{
        background-image: url(../img/back_menu.png);
        width: 575px;
        right: 0;
    }
    .headerNav ul{
        margin: 11% 0 26%;
    }
    .headerNav li{
        padding: 2%;
    }
    .headerBg{
        width: 575px;
        height: 575px;
        top: -240px;
        right: -240px;
        background: url(../img/back_menu.png);
    }
}
/* ******************************************* */
/*  main                                       */
/* ******************************************* */
main{
    line-height: 1.8em;
    position: relative;
    z-index: 1;
}
@keyframes show{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.btn_toTop{
    width: 50px;
    position: fixed;
    bottom: 0;
    right: 20px;
    display: none;
}
.btn_toTop.isActive{
    display: block;
}
.btn_toTop.isShow{
    display: block;
    animation: show 1s linear;
    -moz-animation: show 1s linear;
    -o-animation: show 1s linear;
    -webkit-animation: show 1s linear;
}
.btn_toTop a{
    display: inline-block;
    background-color: #fff;
    border-radius: 25px;
    width: 49px;
    height: 49px;
    position: absolute;
    bottom: -2px;
    right: 0;
}
.btn_toTop a::before{
    content: "";
    border-top: solid 4px #4b9237;
    border-left: solid 4px #4b9237;
    width: 16px;
    height: 16px;
    display: block;
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin: 39% auto;
}