@charset "UTF-8";

/* ========================================================
beachページ専用
======================================================== */
/* ========================================================
main
======================================================== */
/* スマホ用、共通*/
.mainRead{
    padding-bottom: 30px;
}
.mainMapLst li{
    list-style: decimal;
    margin-left: 1.4em;
}
.main h2{
    padding: 20px 0;
    font-size: 18px;
}
.main h3{
    font-weight: bold;
}
.main h3 + p:not(:last-child){
    margin-bottom: 24px;
}

/* タブレット用〜643px以上の場合〜*/
@media screen and (min-width: 643px){
    .mainMap{
        width: 100%;
        display: flex;
    }
    .mainMap img{
        width: 43%;
    }
    .mainMapLst{
        margin-left: 20px;
    }
}

/* PC用〜998px以上の場合〜*/
@media screen and (min-width: 998px){
    .mainMap img{
        width: 50%;
    }
}