@charset "UTF-8";
@-webkit-keyframes contentsFromBottom {
  0% {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -ms-transform: translateY(200px);
    -o-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}

@-moz-keyframes contentsFromBottom {
  0% {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -ms-transform: translateY(200px);
    -o-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}

@keyframes contentsFromBottom {
  0% {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -ms-transform: translateY(200px);
    -o-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes contentsFromBottom50 {
  0%, 50% {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -ms-transform: translateY(200px);
    -o-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}

@-moz-keyframes contentsFromBottom50 {
  0%, 50% {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -ms-transform: translateY(200px);
    -o-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}

@keyframes contentsFromBottom50 {
  0%, 50% {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -ms-transform: translateY(200px);
    -o-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes contentsFromLeft {
  0% {
    transform: translateX(-200px);
    -moz-transform: translateX(-200px);
    -ms-transform: translateX(-200px);
    -o-transform: translateX(-200px);
    -webkit-transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1;
  }
}

@-moz-keyframes contentsFromLeft {
  0% {
    transform: translateX(-200px);
    -moz-transform: translateX(-200px);
    -ms-transform: translateX(-200px);
    -o-transform: translateX(-200px);
    -webkit-transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1;
  }
}

@keyframes contentsFromLeft {
  0% {
    transform: translateX(-200px);
    -moz-transform: translateX(-200px);
    -ms-transform: translateX(-200px);
    -o-transform: translateX(-200px);
    -webkit-transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes contentsFromLeft50 {
  0%, 50% {
    transform: translateX(-200px);
    -moz-transform: translateX(-200px);
    -ms-transform: translateX(-200px);
    -o-transform: translateX(-200px);
    -webkit-transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1;
  }
}

@-moz-keyframes contentsFromLeft50 {
  0%, 50% {
    transform: translateX(-200px);
    -moz-transform: translateX(-200px);
    -ms-transform: translateX(-200px);
    -o-transform: translateX(-200px);
    -webkit-transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1;
  }
}

@keyframes contentsFromLeft50 {
  0%, 50% {
    transform: translateX(-200px);
    -moz-transform: translateX(-200px);
    -ms-transform: translateX(-200px);
    -o-transform: translateX(-200px);
    -webkit-transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes contentsFromRight {
  0% {
    transform: translateX(200px);
    -moz-transform: translateX(200px);
    -ms-transform: translateX(200px);
    -o-transform: translateX(200px);
    -webkit-transform: translateX(200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1;
  }
}

@-moz-keyframes contentsFromRight {
  0% {
    transform: translateX(200px);
    -moz-transform: translateX(200px);
    -ms-transform: translateX(200px);
    -o-transform: translateX(200px);
    -webkit-transform: translateX(200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1;
  }
}

@keyframes contentsFromRight {
  0% {
    transform: translateX(200px);
    -moz-transform: translateX(200px);
    -ms-transform: translateX(200px);
    -o-transform: translateX(200px);
    -webkit-transform: translateX(200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes contentsFromRight50 {
  0%, 50% {
    transform: translateX(200px);
    -moz-transform: translateX(200px);
    -ms-transform: translateX(200px);
    -o-transform: translateX(200px);
    -webkit-transform: translateX(200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1;
  }
}

@-moz-keyframes contentsFromRight50 {
  0%, 50% {
    transform: translateX(200px);
    -moz-transform: translateX(200px);
    -ms-transform: translateX(200px);
    -o-transform: translateX(200px);
    -webkit-transform: translateX(200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1;
  }
}

@keyframes contentsFromRight50 {
  0%, 50% {
    transform: translateX(200px);
    -moz-transform: translateX(200px);
    -ms-transform: translateX(200px);
    -o-transform: translateX(200px);
    -webkit-transform: translateX(200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes contentsFloating {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes contentsFloating {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes contentsFloating {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes contentsFloating50 {
  0%, 50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes contentsFloating50 {
  0%, 50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes contentsFloating50 {
  0%, 50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

* {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #000;
}

ul li {
  list-style: none;
}

img {
  width: 100%;
}

body {
  color: #000;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
  font-size: 14px;
  line-height: 1.8;
  background: url(../../common/img/bg.png);
}

.wrapper {
  overflow: hidden;
}

@-webkit-keyframes loadingLine {
  0% {
    width: 0px;
    left: 35%;
  }
  50% {
    width: 30%;
    left: 35%;
  }
  100% {
    width: 0px;
    left: 65%;
  }
}

@-moz-keyframes loadingLine {
  0% {
    width: 0px;
    left: 35%;
  }
  50% {
    width: 30%;
    left: 35%;
  }
  100% {
    width: 0px;
    left: 65%;
  }
}

@keyframes loadingLine {
  0% {
    width: 0px;
    left: 35%;
  }
  50% {
    width: 30%;
    left: 35%;
  }
  100% {
    width: 0px;
    left: 65%;
  }
}

.loading {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.loading:before {
  content: "";
  display: block;
  height: 30px;
  background: #ea5514;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  animation: loadingLine 1s infinite;
  -moz-animation: loadingLine 1s infinite;
  -o-animation: loadingLine 1s infinite;
  -webkit-animation: loadingLine 1s infinite;
}

.hidden {
  display: none;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 0%;
}

.btnNav {
  position: fixed;
  z-index: 99;
}

.btnNav a {
  height: 100vh;
  padding-top: calc(50vh - 4px);
  padding-left: 28px;
  padding-right: 28px;
  display: inline-block;
}

.btnNav a span {
  display: block;
  width: 25px;
  height: 4px;
  background-color: #ea5514;
  transition: 0.2s all;
}

.btnNav a::before {
  content: "";
  display: block;
  width: 25px;
  height: 4px;
  background-color: #ea5514;
  position: absolute;
  top: calc(50vh - 13px);
  transition: 0.2s all;
}

.btnNav a::after {
  content: "";
  display: block;
  width: 25px;
  height: 4px;
  background-color: #ea5514;
  position: absolute;
  top: calc(50vh + 5px);
  transition: 0.2s all;
}

.btnNav a:hover a span {
  background-color: #fff;
  transition: 0.2s all;
}

.btnNav a:hover a::before {
  width: 18px;
  background-color: #fff;
  transform: rotate(-45deg) translate(-5.5px, 0px);
  transition: 0.2s all;
}

.btnNav a:hover a::after {
  width: 18px;
  background-color: #fff;
  transform: rotate(45deg) translate(-5.5px, 0px);
  transition: 0.2s all;
}

.btnNav.active a span {
  background-color: #fff;
  transition: 0.2s all;
}

.btnNav.active a::before {
  width: 18px;
  background-color: #fff;
  transform: rotate(-45deg) translate(-5.5px, 0px);
  transition: 0.2s all;
}

.btnNav.active a::after {
  width: 18px;
  background-color: #fff;
  transform: rotate(45deg) translate(-5.5px, 0px);
  transition: 0.2s all;
}

.headerNav {
  display: none;
  background: #808080;
  width: 350px;
  height: 100vh;
  text-align: center;
  color: #fff;
  font-size: 13px;
  font-weight: bold;
  position: relative;
  z-index: 98;
}

.headerNav_inner_logo {
  width: 207px;
  padding: 46px 0;
}

.headerNav_inner_nav ul li {
  padding: 10px 0;
}

.headerNav_inner_nav ul li:first-child {
  padding-top: 0;
}

.headerNav_inner_nav ul li a {
  display: inline-block;
  position: relative;
}

.headerNav_inner_nav ul li a:after {
  content: "";
  display: block;
  width: 0;
  height: 4px;
  background: #ea5514;
  position: absolute;
  top: 50%;
  left: -5px;
  transform: translateY(-50%);
  transition: 0.2s all;
}

.headerNav_inner_nav ul li a:hover:after {
  width: calc(100% + 10px);
}

.headerNav_inner_nav ul li a img {
  height: 20px;
  width: auto;
}

.headerNav_sns {
  margin: 20px 0 10px;
}

.headerNav_sns a {
  display: inline-block;
}

.headerNav_sns a:first-child {
  margin-right: 25px;
}

.headerNav_privacyPolicy {
  color: #fff;
}

.headerNav.active {
  display: block;
  transform: translateX(0);
  transition: transform 0.3s;
}

.headerNav.active .headerNav_inner {
  transform: translateX(0);
  transition: transform 0.6s;
}

.headerNav.default {
  display: block;
  transform: translateX(-350px);
  transition: transform 0.3s;
}

.headerNav.default .headerNav_inner {
  transform: translateX(-350px);
  transition: transform 0.3s;
}

main {
  padding-left: calc(81px + 56px);
}

main .btnToBack {
  display: inline-block;
  width: 1002px;
  background: url(../../common/img/btn_back_bg.png);
  text-align: center;
  padding: 10px 0;
  margin: 35px 0 207px;
}

main .btnToBack img {
  width: 94px;
}

main .btnToBack:hover img {
  opacity: 0.8;
}

footer {
  background: #808080;
  color: #fff;
  font-size: 13px;
  text-align: center;
}

.footer_logo {
  margin: 0 auto;
  padding: 60px 0;
  width: 324px;
}

.footer_nav ul {
  display: flex;
  justify-content: center;
}

.footer_nav ul li {
  border-left: solid 1px #fff;
  padding: 0 50px 0 16px;
}

.footer_nav ul li a {
  display: inline-block;
  width: 83px;
  position: relative;
}

.footer_nav ul li a:after {
  content: "";
  display: block;
  width: 0;
  height: 4px;
  background: #ea5514;
  position: absolute;
  top: 25%;
  left: 0;
  transform: translateY(-50%);
  transition: 0.2s all;
}

.footer_nav ul li a:hover:after {
  width: 100%;
}

.footer_sns {
  margin: 42px 0 10px;
}

.footer_sns a {
  display: inline-block;
}

.footer_sns a:first-child {
  margin-right: 25px;
}

.footer_privacyPolicy {
  color: #fff;
}

.footer_copyRight {
  padding: 10px 0 32px;
}

.footer_btnToTop {
  display: inline-block;
  width: 80px;
  height: 51px;
  background: #fff;
  position: relative;
  margin-bottom: -6px;
}

.footer_btnToTop::before {
  content: "";
  display: block;
  width: 10px;
  height: 2px;
  background-color: #ea5514;
  transform: rotate(45deg);
  position: absolute;
  top: 25px;
  left: 39px;
}

.footer_btnToTop::after {
  content: "";
  display: block;
  width: 10px;
  height: 2px;
  background-color: #ea5514;
  transform: rotate(-45deg);
  position: absolute;
  top: 25px;
  left: 33px;
}

.footer_btnToTop:hover {
  width: 0;
  height: 0;
  background: transparent;
  border-right: 72px solid transparent;
  border-bottom: 62px solid #fff;
  border-left: 72px solid transparent;
}

.footer_btnToTop:hover::before {
  left: -1px;
}

.footer_btnToTop:hover::after {
  left: -7px;
}
