main h1 {
  width: 224.5px;
  padding: 0 calc(50% - 224.5px/2);
  margin-bottom: 21px;
}

main .contents {
  width: 341.5px;
  margin: 0 calc(50vw - 341.5px/2) 117px;
  text-align: center;
  font-size: 16px;
  letter-spacing: -1.2px;
}

main .contents h2 {
  width: 326px;
  margin: 0 auto 31px;
}

main .contents h3 {
  width: 254px;
  margin: 0 auto 32.5px;
  padding: 89.5px 0 0;
  position: relative;
}

main .contents h3::before {
  content: "";
  display: block;
  width: 27px;
  height: 56.5px;
  background: url(../../common/img/kagakubu/icon_arrow.svg) no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

main .contents h4 {
  width: 146.5px;
  margin: 0 auto 21.5px;
}

main .contents_txt {
  line-height: 22px;
  margin-bottom: 28px;
}

main .contents_txt p {
  margin-top: 10px;
  background: #000;
  display: inline-block;
}

main .contents_txt p:first-child {
  margin-top: 0;
}

main .contents_txt span {
  color: #f6d221;
}

main .contents .txt-2 {
  margin-bottom: 53px;
}

main .contents_img {
  width: 309px;
  margin-left: auto;
  margin-bottom: 19px;
}
