@-webkit-keyframes contentsFromBottom {
  0% {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -ms-transform: translateY(200px);
    -o-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}

@-moz-keyframes contentsFromBottom {
  0% {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -ms-transform: translateY(200px);
    -o-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}

@keyframes contentsFromBottom {
  0% {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -ms-transform: translateY(200px);
    -o-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes contentsFromBottom50 {
  0%, 50% {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -ms-transform: translateY(200px);
    -o-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}

@-moz-keyframes contentsFromBottom50 {
  0%, 50% {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -ms-transform: translateY(200px);
    -o-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}

@keyframes contentsFromBottom50 {
  0%, 50% {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -ms-transform: translateY(200px);
    -o-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes contentsFromLeft {
  0% {
    transform: translateX(-200px);
    -moz-transform: translateX(-200px);
    -ms-transform: translateX(-200px);
    -o-transform: translateX(-200px);
    -webkit-transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1;
  }
}

@-moz-keyframes contentsFromLeft {
  0% {
    transform: translateX(-200px);
    -moz-transform: translateX(-200px);
    -ms-transform: translateX(-200px);
    -o-transform: translateX(-200px);
    -webkit-transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1;
  }
}

@keyframes contentsFromLeft {
  0% {
    transform: translateX(-200px);
    -moz-transform: translateX(-200px);
    -ms-transform: translateX(-200px);
    -o-transform: translateX(-200px);
    -webkit-transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes contentsFromLeft50 {
  0%, 50% {
    transform: translateX(-200px);
    -moz-transform: translateX(-200px);
    -ms-transform: translateX(-200px);
    -o-transform: translateX(-200px);
    -webkit-transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1;
  }
}

@-moz-keyframes contentsFromLeft50 {
  0%, 50% {
    transform: translateX(-200px);
    -moz-transform: translateX(-200px);
    -ms-transform: translateX(-200px);
    -o-transform: translateX(-200px);
    -webkit-transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1;
  }
}

@keyframes contentsFromLeft50 {
  0%, 50% {
    transform: translateX(-200px);
    -moz-transform: translateX(-200px);
    -ms-transform: translateX(-200px);
    -o-transform: translateX(-200px);
    -webkit-transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes contentsFromRight {
  0% {
    transform: translateX(200px);
    -moz-transform: translateX(200px);
    -ms-transform: translateX(200px);
    -o-transform: translateX(200px);
    -webkit-transform: translateX(200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1;
  }
}

@-moz-keyframes contentsFromRight {
  0% {
    transform: translateX(200px);
    -moz-transform: translateX(200px);
    -ms-transform: translateX(200px);
    -o-transform: translateX(200px);
    -webkit-transform: translateX(200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1;
  }
}

@keyframes contentsFromRight {
  0% {
    transform: translateX(200px);
    -moz-transform: translateX(200px);
    -ms-transform: translateX(200px);
    -o-transform: translateX(200px);
    -webkit-transform: translateX(200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes contentsFromRight50 {
  0%, 50% {
    transform: translateX(200px);
    -moz-transform: translateX(200px);
    -ms-transform: translateX(200px);
    -o-transform: translateX(200px);
    -webkit-transform: translateX(200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1;
  }
}

@-moz-keyframes contentsFromRight50 {
  0%, 50% {
    transform: translateX(200px);
    -moz-transform: translateX(200px);
    -ms-transform: translateX(200px);
    -o-transform: translateX(200px);
    -webkit-transform: translateX(200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1;
  }
}

@keyframes contentsFromRight50 {
  0%, 50% {
    transform: translateX(200px);
    -moz-transform: translateX(200px);
    -ms-transform: translateX(200px);
    -o-transform: translateX(200px);
    -webkit-transform: translateX(200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes contentsFloating {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes contentsFloating {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes contentsFloating {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes contentsFloating50 {
  0%, 50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes contentsFloating50 {
  0%, 50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes contentsFloating50 {
  0%, 50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body {
  border-top: solid 10px #ea5514;
}

main {
  background: url(../../common/img/news/bgTxt_news.png) no-repeat bottom right;
}

main h1 {
  padding: 76px 0 47px;
  width: 1002px;
}

main .itemWrap {
  display: flex;
}

main .itemWrap.default {
  visibility: hidden;
}

main .itemWrap.active {
  visibility: visible;
  animation: contentsFromBottom 0.5s;
  -moz-animation: contentsFromBottom 0.5s;
  -o-animation: contentsFromBottom 0.5s;
  -webkit-animation: contentsFromBottom 0.5s;
}

main .itemWrap .item {
  display: inline-block;
  width: 300px;
  border-bottom: dotted 1px #000;
  margin: 38px 48px 0 0;
  position: relative;
}

main .itemWrap .item:last-child {
  margin-right: 0;
}

main .itemWrap .item:before {
  content: "";
  display: block;
  position: absolute;
  top: -18px;
  left: -19px;
  width: 0;
  height: 0;
  border-top: solid 0 #ea5514;
  border-left: solid 0 #ea5514;
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
}

main .itemWrap .item:after {
  content: "";
  display: block;
  position: absolute;
  bottom: -18px;
  right: -19px;
  width: 0;
  height: 0;
  border-right: solid 0 #ea5514;
  border-bottom: solid 0 #ea5514;
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
}

main .itemWrap .item:hover:before {
  content: "";
  display: block;
  position: absolute;
  top: -18px;
  left: -19px;
  width: 61px;
  height: 81px;
  border-top: solid 3px #ea5514;
  border-left: solid 3px #ea5514;
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
}

main .itemWrap .item:hover:after {
  content: "";
  display: block;
  position: absolute;
  bottom: -18px;
  right: -19px;
  width: 61px;
  height: 81px;
  border-right: solid 3px #ea5514;
  border-bottom: solid 3px #ea5514;
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
}

main .itemWrap .item:hover .item_btnReadMore {
  transform: translate(6px);
  -moz-transform: translate(6px);
  -ms-transform: translate(6px);
  -o-transform: translate(6px);
  -webkit-transform: translate(6px);
  transition: transform 0.3s linear;
  -moz-transition: transform 0.3s linear;
  -o-transition: transform 0.3s linear;
  -webkit-transition: transform 0.3s linear;
}

main .itemWrap .item_img {
  padding: 0 0 15px;
}

main .itemWrap .item_date {
  font-size: 9px;
  padding-bottom: 10px;
}

main .itemWrap .item_ttl {
  font-size: 17px;
  color: #fff;
  background: #ea5514;
  padding: 4px 5px;
  margin-bottom: 18px;
}

main .itemWrap .item_txt {
  padding-bottom: 9px;
}

main .itemWrap .item_btnReadMore {
  width: 115px;
  padding: 0 0 38px 185px;
  transition: transform 0.3s linear;
}
