@charset "UTF-8";
// **************************************************
// * ファイル名：./sass/news/style.scss               *
// * 概要     ：newsのsass                            *
// **************************************************
@import "../_common";
// **************************************************
// * common                                         *
// **************************************************

// **************************************************
// * main                                           *
// **************************************************
main{
    h1{
        width: 116px;
        padding: 0 calc(50% - 116px/2);
        margin-bottom:13.5px;
    }
    .select{
            width: 340px;
            line-height: 1;
            padding: 13.25px 0;
            margin: 0 calc(50% - 340px/2);
            @include border();
            color: $c_white;
            font-size: 16px;
            position: relative;
        &_label{
            text-align: center;
            &::before{
                content: "";
                display: inline-block;
                width: 20px;
                height: 20px;
                background: url(../../common/img/btn_left.svg) no-repeat;
                background-size: contain;
                transform: rotate(-90deg);
                margin-right: 9px;
            }
        }
        &_selectCategory{
            width: 340px;
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    .contents{
        width: 340px;
        margin: 47px auto 0;
        &_inner{
            &_item{
                background: $c_black;
                @include border($c_orange);
                padding: 13px 14.5px 30px;
                margin-bottom: 24px;
                position: relative;
                &:last-child{
                    margin-bottom: 0;
                }
                &_date{
                    font-size: 16.5px;
                    color: $c_orange;
                    margin-bottom: 11.5px;
                }
                h2{
                    font-size: 20px;
                }
                &_category{
                    width: 89.5px;
                    line-height: 23.5px;
                    background: $c_orange;
                    color: $c_black;
                    font-size: 11px;
                    text-align: center;
                    position: absolute;
                    bottom: -1px;
                    right: -1px;
                }
            }
        }
    }
    .pageNav{
        margin: 84px 0;
        &_inner{
            display: flex;
            justify-content: space-around;
            align-items: center;
            font-size: 26.5px;
            &_arrow{
                &:first-child{
                    a{
                        height: 26.5px;
                        img{
                            height: 100%;
                            width: auto;
                            vertical-align: text-top;
                        }
                    }
                }
                &:last-child{
                    @extend .pageNav_inner_arrow:first-child;
                }
            }
            &_item{
                a:hover{
                    color: $c_orange;
                }
                &.active{
                    a{
                        color: $c_orange;
                    }
                }
            }
        }
    }
}