@charset "UTF-8";
// **************************************************
// * ファイル名：./common/_common.scss                *
// * 概要     ：共通で使用するsass変数関数をまとめる      *
// **************************************************
// **************************************************
// * 変数                                            *
// **************************************************
$c_black : #000;
$c_white : #fff;
$c_gray : #808080;
$c_orange: #ea5514;
$c_orange_l: #ed7133;
$c_beige: #c7bbab;

// **************************************************
// * 関数                                            *
// **************************************************
@mixin transform($transform_style){
    transform: $transform_style;
    -moz-transform: $transform_style;
    -ms-transform: $transform_style;
    -o-transform: $transform_style;
    -webkit-transform: $transform_style;
}
@mixin transform-origin($transform-origin_style){
    transform-origin: $transform-origin_style;
    -moz-transform-origin: $transform-origin_style;
    -ms-transform-origin: $transform-origin_style;
    -o-transform-origin: $transform-origin_style;
    -webkit-transform-origin: $transform-origin_style;
}
@mixin transition($transition_style){
    transition: $transition_style;
    -moz-transition: $transition_style;
    -o-transition: $transition_style;
    -webkit-transition: $transition_style;
}
@mixin animation($animation_name){
    animation: $animation_name;
    -moz-animation: $animation_name;
    -o-animation: $animation_name;
    -webkit-animation: $animation_name;
}
@mixin keyframe($animation_name){
    @-webkit-keyframes #{$animation_name} {
        @content;
      }
      @-moz-keyframes #{$animation_name} {
        @content;
      }
      @keyframes #{$animation_name} {
        @content;
      }
}
// **************************************************
// * 共通アニメーション                                *
// **************************************************
// コンテンツ下から表示するアニメーション
@include keyframe(contentsFromBottom){
    0%{
        @include transform(translateY(200px));
        opacity: 0;
    }
    100%{
        @include transform(translateY(0));
        opacity:1;
    }
}
@include keyframe(contentsFromBottom50){
    0%, 50%{
        @include transform(translateY(200px));
        opacity: 0;
    }
    100%{
        @include transform(translateY(0));
        opacity:1;
    }
}
// コンテンツ左横から表示するアニメーション
@include keyframe(contentsFromLeft){
    0%{
        @include transform(translateX(-200px));
        opacity: 0;
    }
    100%{
        @include transform(translateX(0));
        opacity:1;
    }
}
@include keyframe(contentsFromLeft50){
    0%, 50%{
        @include transform(translateX(-200px));
        opacity: 0;
    }
    100%{
        @include transform(translateX(0));
        opacity:1;
    }
}
// コンテンツ右横から表示するアニメーション
@include keyframe(contentsFromRight){
    0%{
        @include transform(translateX(200px));
        opacity: 0;
    }
    100%{
        @include transform(translateX(0));
        opacity:1;
    }
}
@include keyframe(contentsFromRight50){
    0%, 50%{
        @include transform(translateX(200px));
        opacity: 0;
    }
    100%{
        @include transform(translateX(0));
        opacity:1;
    }
}
// コンテンツふわっと表示するアニメーション
@include keyframe(contentsFloating){
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@include keyframe(contentsFloating50){
    0%, 50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
// 画像ホバーアニメーション
@include keyframe(imgHoverAnimation){
    // ????
}