@charset "UTF-8";
// **************************************************
// * ファイル名：./common/base.scss                   *
// * 概要     ：共通のsass                            *
// **************************************************
@import './common';
// **************************************************
// * reset                                          *
// **************************************************
*{
    margin: 0;
    padding: 0;
    font-weight: bold;
}
a{
    text-decoration: none;
    color: $c_black;
}
ul li{
    list-style: none;
}
img{
    width: 100%;
}
// **************************************************
// * common                                         *
// **************************************************
body{
    color: $c_black;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
    font-size: 14px;
    line-height: 1.8;
    background: url(../../common/img/bg.png);
}
.wrapper{
    overflow: hidden;
}
@include keyframe(loadingLine){
    0%{
        width: 0px;
        left: 35%;
    }
    50%{
        width: 30%;
        left: 35%;
        
    }
    100%{
        width: 0px;
        left: 65%;
    }
        
}
.loading{
    width: 100vw;
    height: 100vh;
    position: relative;
    &:before{
        content:"";
        display: block;
        height: 30px;
        background: $c_orange;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        @include animation(loadingLine 1s infinite);
    }
}
.hidden{
    display: none;
}
// **************************************************
// * header                                         *
// **************************************************
header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 0%;
}
.btnNav{
    position: fixed;
    z-index: 99;
    a{
        height: 100vh;
        padding-top: calc(50vh - 4px);
        padding-left: 28px;
        padding-right: 28px;
        display: inline-block;
        span{
            display: block;
            width: 25px;
            height: 4px;
            background-color: $c_orange;
            transition: 0.2s all;
        }
        &::before{
            content: "";
            display: block;
            width: 25px;
            height: 4px;
            background-color: $c_orange;
            position: absolute;
            top: calc(50vh - 13px);
            transition: 0.2s all;
        }
        &::after{
            content: "";
            display: block;
            width: 25px;
            height: 4px;
            background-color: $c_orange;
            position: absolute;
            top: calc(50vh + 5px);
            transition: 0.2s all;
        }
        &:hover{
            a{
                span{
                    background-color: $c_white;
                    transition: 0.2s all;
                }
                &::before{
                    width: 18px;
                    background-color: $c_white;
                    transform: rotate(-45deg) translate(-5.5px, 0px);
                    transition: 0.2s all;
                }
                &::after{
                    width: 18px;
                    background-color: $c_white;
                    transform: rotate(45deg) translate(-5.5px, 0px);
                    transition: 0.2s all;
                }
            }
        }
    }
    &.active{
        a{
            span{
                background-color: $c_white;
                transition: 0.2s all;
            }
            &::before{
                width: 18px;
                background-color: $c_white;
                transform: rotate(-45deg) translate(-5.5px, 0px);
                transition: 0.2s all;
            }
            &::after{
                width: 18px;
                background-color: $c_white;
                transform: rotate(45deg) translate(-5.5px, 0px);
                transition: 0.2s all;
            }
        }
    }
}//btnNav
.headerNav{
    display: none;
    background: $c_gray;
    width: 350px;
    height: 100vh;
    text-align: center;
    color: $c_white;
    font-size: 13px;
    font-weight: bold;
    position: relative;
    z-index: 98;
    &_inner{
        &_logo{
            width: 207px;
            padding: 46px 0;
        }
        &_nav{
            ul{
                li{
                    padding: 10px 0;
                    &:first-child{
                        padding-top: 0;
                    }
                    a{
                        display: inline-block;
                        position: relative;
                        &:after{
                            content: "";
                            display: block;
                            width: 0;
                            height: 4px;
                            background: $c_orange;
                            position: absolute;
                            top: 50%;
                            left: -5px;
                            transform: translateY(-50%);
                            transition: 0.2s all;
                        }
                        &:hover{
                            &:after{
                                width: calc(100% + 10px);
                            }
                        }
                        img{
                            height: 20px;
                            width: auto;
                        }
                    }//a
                }//li
            }//ul
        }//nav
    }
    &_sns{
        margin: 20px 0 10px;
        a{
            display: inline-block;
            &:first-child{
                margin-right: 25px;
            }
        }
    }
    &_privacyPolicy{
        color: $c_white;
    }
    &.active{
        // 表示アニメーション
        display: block;
        transform: translateX(0);
        transition: transform 0.3s;
        .headerNav_inner{
            transform: translateX(0);
            transition: transform 0.6s;
        }
    }
    &.default{
        // 非表示アニメーション
        display: block;
        transform: translateX(-350px);
        transition: transform 0.3s;
        .headerNav_inner{
            transform: translateX(-350px);
            transition: transform 0.3s;
        }
    }
}

// **************************************************
// * main                                           *
// **************************************************
main{
    padding-left: calc(81px + 56px); //topだけ値が違うかも
    .btnToBack{
        display: inline-block;
        width: 1002px;
        background: url(../../common/img/btn_back_bg.png);
        text-align: center;
        padding: 10px 0;
        margin: 35px 0 207px;
        img{
            width: 94px;
        }
        &:hover img{
            opacity: 0.8;
        }
    }
}

// **************************************************
// * footer                                         *
// **************************************************
footer{
    background: $c_gray;
    color: $c_white;
    font-size: 13px;
    text-align: center;
}
.footer{
    &_logo{
        margin: 0 auto;
        padding: 60px 0;
        width: 324px;
    }
    &_nav{
        ul{
            display: flex;
            justify-content: center;
            li{
                border-left: solid 1px $c_white;
                padding: 0 50px 0 16px;
                a{
                    display: inline-block;
                    width: 83px;
                    position: relative;
                    &:after{
                        content: "";
                        display: block;
                        width: 0;
                        height: 4px;
                        background: $c_orange;
                        position: absolute;
                        top: 25%;
                        left: 0;
                        transform: translateY(-50%);
                        transition: 0.2s all;
                    }
                    &:hover{
                        &:after{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
    &_sns{
        margin: 42px 0 10px;
        a{
            display: inline-block;
            &:first-child{
                margin-right: 25px;
            }
        }
    }
    &_privacyPolicy{
        color: $c_white;
    }
    &_copyRight{
        padding: 10px 0 32px;
    }
    &_btnToTop{
        display: inline-block;
        width: 80px;
        height: 51px;
        background: $c_white;
        position: relative;
        margin-bottom: -6px;
        &::before{
            content: "";
            display: block;
            width: 10px;
            height: 2px;
            background-color: $c_orange;
            transform: rotate(45deg);
            position: absolute;
            top: 25px;
            left: 39px;
        }
        &::after{
            content: "";
            display: block;
            width: 10px;
            height: 2px;
            background-color: $c_orange;
            transform: rotate(-45deg);
            position: absolute;
            top: 25px;
            left: 33px;
        }
        &:hover{
            width: 0;
            height: 0;
            background: transparent;
            border-right: 72px solid transparent;
            border-bottom: 62px solid $c_white;
            border-left: 72px solid transparent;
            &::before{
                left: -1px;
            }
            &::after{
                left: -7px;
            }
        }
    }
}