@charset "UTF-8";

/* reset */
*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}

/* common */
*{
    font-size: 18px;
}
main{
    width: 50vw;
    margin: 80px auto;
}
h1{
    margin-bottom: 20px;
}
form{
    font-size: 10px;
    margin-bottom: 20px;
}

.input_txt{
    font-size: 10px;
    line-height: 15px;
}
.btn_search{
    font-size: 10px;
}
.output_txearea{
    font-size: 13px;
    font-weight: normal;
}