@-webkit-keyframes contentsFromBottom {
  0% {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -ms-transform: translateY(200px);
    -o-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}

@-moz-keyframes contentsFromBottom {
  0% {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -ms-transform: translateY(200px);
    -o-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}

@keyframes contentsFromBottom {
  0% {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -ms-transform: translateY(200px);
    -o-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes contentsFromBottom50 {
  0%, 50% {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -ms-transform: translateY(200px);
    -o-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}

@-moz-keyframes contentsFromBottom50 {
  0%, 50% {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -ms-transform: translateY(200px);
    -o-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}

@keyframes contentsFromBottom50 {
  0%, 50% {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -ms-transform: translateY(200px);
    -o-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes contentsFromLeft {
  0% {
    transform: translateX(-200px);
    -moz-transform: translateX(-200px);
    -ms-transform: translateX(-200px);
    -o-transform: translateX(-200px);
    -webkit-transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1;
  }
}

@-moz-keyframes contentsFromLeft {
  0% {
    transform: translateX(-200px);
    -moz-transform: translateX(-200px);
    -ms-transform: translateX(-200px);
    -o-transform: translateX(-200px);
    -webkit-transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1;
  }
}

@keyframes contentsFromLeft {
  0% {
    transform: translateX(-200px);
    -moz-transform: translateX(-200px);
    -ms-transform: translateX(-200px);
    -o-transform: translateX(-200px);
    -webkit-transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes contentsFromLeft50 {
  0%, 50% {
    transform: translateX(-200px);
    -moz-transform: translateX(-200px);
    -ms-transform: translateX(-200px);
    -o-transform: translateX(-200px);
    -webkit-transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1;
  }
}

@-moz-keyframes contentsFromLeft50 {
  0%, 50% {
    transform: translateX(-200px);
    -moz-transform: translateX(-200px);
    -ms-transform: translateX(-200px);
    -o-transform: translateX(-200px);
    -webkit-transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1;
  }
}

@keyframes contentsFromLeft50 {
  0%, 50% {
    transform: translateX(-200px);
    -moz-transform: translateX(-200px);
    -ms-transform: translateX(-200px);
    -o-transform: translateX(-200px);
    -webkit-transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes contentsFromRight {
  0% {
    transform: translateX(200px);
    -moz-transform: translateX(200px);
    -ms-transform: translateX(200px);
    -o-transform: translateX(200px);
    -webkit-transform: translateX(200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1;
  }
}

@-moz-keyframes contentsFromRight {
  0% {
    transform: translateX(200px);
    -moz-transform: translateX(200px);
    -ms-transform: translateX(200px);
    -o-transform: translateX(200px);
    -webkit-transform: translateX(200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1;
  }
}

@keyframes contentsFromRight {
  0% {
    transform: translateX(200px);
    -moz-transform: translateX(200px);
    -ms-transform: translateX(200px);
    -o-transform: translateX(200px);
    -webkit-transform: translateX(200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes contentsFromRight50 {
  0%, 50% {
    transform: translateX(200px);
    -moz-transform: translateX(200px);
    -ms-transform: translateX(200px);
    -o-transform: translateX(200px);
    -webkit-transform: translateX(200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1;
  }
}

@-moz-keyframes contentsFromRight50 {
  0%, 50% {
    transform: translateX(200px);
    -moz-transform: translateX(200px);
    -ms-transform: translateX(200px);
    -o-transform: translateX(200px);
    -webkit-transform: translateX(200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1;
  }
}

@keyframes contentsFromRight50 {
  0%, 50% {
    transform: translateX(200px);
    -moz-transform: translateX(200px);
    -ms-transform: translateX(200px);
    -o-transform: translateX(200px);
    -webkit-transform: translateX(200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes contentsFloating {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes contentsFloating {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes contentsFloating {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes contentsFloating50 {
  0%, 50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes contentsFloating50 {
  0%, 50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes contentsFloating50 {
  0%, 50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body {
  border-top: solid 10px #ea5514;
}

main {
  background: url(../../common/img/greeting/bgTxt_greeting.png) no-repeat top left, url(../../common/img/greeting/bgTxt_Pholosophy.png) no-repeat bottom right;
}

main .greeting.active h1 {
  animation: contentsFromLeft 1s;
  -moz-animation: contentsFromLeft 1s;
  -o-animation: contentsFromLeft 1s;
  -webkit-animation: contentsFromLeft 1s;
}

main .greeting.active .greeting_contents_img {
  animation: contentsFloating50 1.3s;
  -moz-animation: contentsFloating50 1.3s;
  -o-animation: contentsFloating50 1.3s;
  -webkit-animation: contentsFloating50 1.3s;
}

main .greeting.active .greeting_contents_item {
  animation: contentsFloating50 1.4s;
  -moz-animation: contentsFloating50 1.4s;
  -o-animation: contentsFloating50 1.4s;
  -webkit-animation: contentsFloating50 1.4s;
}

main .greeting h1 {
  padding: 228px 0 107px;
  width: 1000px;
}

main .greeting_contents {
  display: flex;
  padding-bottom: 197px;
}

main .greeting_contents_img {
  width: 458px;
  padding-right: 60px;
}

main .greeting_contents_item_ttl {
  font-size: 16px;
  padding-bottom: 34px;
}

main .greeting_contents_item_sender {
  font-size: 14px;
  padding-top: 21px;
}

main .greeting_contents_item_sender span {
  font-size: 9px;
}

main .philosophy {
  position: relative;
  padding-bottom: 86px;
}

main .philosophy.default h2,
main .philosophy.default .philosophy_txt {
  visibility: hidden;
}

main .philosophy.active h2 {
  visibility: visible;
  animation: contentsFromLeft 1s;
  -moz-animation: contentsFromLeft 1s;
  -o-animation: contentsFromLeft 1s;
  -webkit-animation: contentsFromLeft 1s;
}

main .philosophy.active .philosophy_txt {
  visibility: visible;
  animation: contentsFromLeft50 1.3s;
  -moz-animation: contentsFromLeft50 1.3s;
  -o-animation: contentsFromLeft50 1.3s;
  -webkit-animation: contentsFromLeft50 1.3s;
}

main .philosophy h2 {
  width: 903px;
  padding-bottom: 43px;
}

main .philosophy_contents {
  position: absolute;
  z-index: 3;
  top: -75px;
  right: 3.6%;
}

main .philosophy_contents_img {
  width: 201px;
  display: block;
}

main .philosophy_contents_name {
  font-size: 16px;
  color: #fff;
  background-color: #ea5514;
  display: inline-block;
  text-align: center;
  width: 150px;
  padding: 2.5px 0;
  margin-left: 51px;
}

main .philosophy_contents.default {
  visibility: hidden;
}

main .philosophy_contents.active {
  visibility: visible;
  animation: contentsFloating50 1.3s;
  -moz-animation: contentsFloating50 1.3s;
  -o-animation: contentsFloating50 1.3s;
  -webkit-animation: contentsFloating50 1.3s;
}

main .managementPolicy {
  position: relative;
  padding-bottom: 86px;
}

main .managementPolicy.default h2,
main .managementPolicy.default .managementPolicy_txt {
  visibility: hidden;
}

main .managementPolicy.active h2 {
  visibility: visible;
  animation: contentsFromLeft 1s;
  -moz-animation: contentsFromLeft 1s;
  -o-animation: contentsFromLeft 1s;
  -webkit-animation: contentsFromLeft 1s;
}

main .managementPolicy.active .managementPolicy_txt {
  visibility: visible;
  animation: contentsFromLeft50 1.3s;
  -moz-animation: contentsFromLeft50 1.3s;
  -o-animation: contentsFromLeft50 1.3s;
  -webkit-animation: contentsFromLeft50 1.3s;
}

main .managementPolicy h2 {
  width: 696px;
  padding-bottom: 43px;
}

main .managementPolicy_contents {
  position: absolute;
  top: -111px;
  right: 17.4%;
}

main .managementPolicy_contents_img {
  width: 251px;
  display: block;
  position: relative;
  z-index: 2;
}

main .managementPolicy_contents_name {
  font-size: 16px;
  color: #fff;
  background-color: #ea5514;
  display: inline-block;
  text-align: center;
  width: 150px;
  padding: 2.5px 0;
  margin-left: 100px;
  position: relative;
  z-index: 2;
}

main .managementPolicy_contents.default {
  visibility: hidden;
}

main .managementPolicy_contents.active {
  visibility: visible;
  animation: contentsFloating50 1.4s;
  -moz-animation: contentsFloating50 1.4s;
  -o-animation: contentsFloating50 1.4s;
  -webkit-animation: contentsFloating50 1.4s;
}

main .managementPolicy_contents::after {
  content: "";
  display: block;
  width: 350px;
  height: 233px;
  background: #ea5514;
  opacity: 0.15;
  position: absolute;
  top: -22px;
  left: 26px;
}

main .coporateVision {
  position: relative;
  padding-bottom: 86px;
}

main .coporateVision.default h2,
main .coporateVision.default .coporateVision_txt {
  visibility: hidden;
}

main .coporateVision.active h2 {
  visibility: visible;
  animation: contentsFromLeft 1s;
  -moz-animation: contentsFromLeft 1s;
  -o-animation: contentsFromLeft 1s;
  -webkit-animation: contentsFromLeft 1s;
}

main .coporateVision.active .coporateVision_txt {
  visibility: visible;
  animation: contentsFromLeft50 1.3s;
  -moz-animation: contentsFromLeft50 1.3s;
  -o-animation: contentsFromLeft50 1.3s;
  -webkit-animation: contentsFromLeft50 1.3s;
}

main .coporateVision h2 {
  width: 899px;
  padding-bottom: 43px;
}

main .coporateVision_contents {
  position: absolute;
  top: -52px;
  right: 6.64%;
}

main .coporateVision_contents_img {
  width: 201px;
  display: block;
  position: relative;
  z-index: 1;
}

main .coporateVision_contents_name {
  font-size: 16px;
  color: #fff;
  background-color: #ea5514;
  display: inline-block;
  text-align: center;
  width: 151px;
  padding: 2.5px 0;
  margin-left: 50px;
}

main .coporateVision_contents.default {
  visibility: hidden;
}

main .coporateVision_contents.active {
  visibility: visible;
  animation: contentsFloating50 1.5s;
  -moz-animation: contentsFloating50 1.5s;
  -o-animation: contentsFloating50 1.5s;
  -webkit-animation: contentsFloating50 1.5s;
}

main .coporateVision_contents::after {
  content: "";
  display: block;
  width: 278px;
  height: 170px;
  background: #ea5514;
  opacity: 0.15;
  position: absolute;
  top: -23px;
  left: 8px;
}
