@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: inline-block;
  color: #fff;
}

ul li {
  list-style: none;
}

img {
  width: 100%;
  max-width: 100%;
}

body {
  background: url(../../common/img/bg.jpg) no-repeat;
  background-size: cover;
  background-position-y: -268px;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Noto Sans JP', "游ゴシック体", YuGothic ,arial,sans-serif;
}

.wrapper {
  overflow: hidden;
  height: auto;
}

.loading {
  width: 100vw;
  height: 100vh;
  background: #000;
}

.loading_inner {
  width: 60px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loading_inner_icon {
  background: url(../../common/img/icon_loading_back.svg) no-repeat;
  background-size: contain;
}

.loading_inner_icon img {
  clip-path: inset(100px 0px 0px 0px);
}

.loading_inner_icon::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: url(../../common/img/icon_loading_grad.svg) no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.6s;
}

.loading_inner_icon.comp.loading_inner_icon::after {
  opacity: 1;
}

.loading_inner_percent {
  margin-top: 10px;
  font-family: "renner";
  color: #7ad6ec;
  font-size: 20px;
  text-align: center;
}

.header {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.header_inner {
  background: #000;
  height: calc(90px - 19px);
  padding: 19px 30px 0 17px;
  display: flex;
  align-items: center;
}

.header_inner_logo {
  width: 45.3vw;
}

.header_inner_btnNav {
  width: 30px;
  height: 30px;
  margin-left: auto;
  position: relative;
}

.header_inner_btnNav::before, .header_inner_btnNav::after {
  content: "";
  display: block;
  width: 30px;
  height: 14px;
  background: url(../../common/img/btn_nav.svg) no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.3s all;
}

.header_inner_btnNav::after {
  width: 30px;
  height: 30px;
  background: url(../../common/img/btn_close.svg) no-repeat;
  background-size: cover;
  top: -8px;
  opacity: 0;
}

.header_nav {
  background: #000;
  height: calc(100vh - 90px);
  padding: 40px 0 0;
  display: none;
  position: absolute;
  transition: 0.3s all;
}

.header_nav ul li {
  width: 49vw;
  padding-bottom: 78px;
  display: inline-block;
  text-align: center;
}

.header_nav ul li a {
  height: 14.5px;
}

.header_nav ul li a img {
  width: auto;
  height: 100%;
}

.header_nav ul li:last-child a {
  height: 19px;
}

.header.default .header_inner_btnNav::before, .header.default .header_inner_btnNav::after {
  opacity: 1;
}

.header.default .header_inner_btnNav::after {
  opacity: 0;
}

.header.default .header_nav {
  display: block;
  transform: translateX(100%);
}

.header.active .header_inner_btnNav::before, .header.active .header_inner_btnNav::after {
  opacity: 0;
}

.header.active .header_inner_btnNav::after {
  opacity: 1;
}

.header.active .header_nav {
  display: block;
  transform: translateX(0);
}

main {
  margin-top: calc(90px + 19.5px);
  color: #fff;
}

main .player {
  width: 100vw;
  height: 100vh;
  text-align: center;
  background: #000;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  display: none;
}

main .player_main {
  width: 340px;
  height: 0;
  padding-top: 192px;
  border: solid 2px #f6821e;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

main .player_main #player_main_iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

main .player_btnClose {
  width: 111px;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

main .player.active {
  display: block;
}

.footer {
  background: #f6821e;
  text-align: center;
  position: relative;
  padding-top: 36px;
}

.footer_arrowToTop {
  width: 9.5px;
  position: absolute;
  top: -36px;
  left: 50%;
}

.footer_btnToTop {
  width: 121.5px;
  margin-bottom: 25px;
}

.footer_copyRight {
  font-size: 14px;
  padding: 29.5px 0 21.5px;
}

.is_hidden {
  visibility: hidden;
  height: 0;
}

.now_loading {
  height: 100vh;
}
