main h1 {
  width: 263px;
  padding: 0 calc(50% - 263px/2);
  margin-bottom: 21px;
}

main .contents {
  width: 340px;
  margin: 0 calc(50vw - 340px/2) calc(117px + 30px + 90px);
}

main .contents_inner_item_img {
  border: solid 2px #f6821e;
  font-size: 0;
}

main .contents_inner_item h2 {
  color: #000;
  font-size: 12px;
  text-align: center;
  background: #f6821e;
  line-height: 22px;
}
