@charset "UTF-8";
/* ******************************************* */
/* recruit/style.css                           */
/* ******************************************* */
/* ******************************************* */
/* common                                      */
/* ******************************************* */
body{
    color: #4b9237;
    font-size: 11px;
    letter-spacing: 1px;
}
main{
    margin: 30% 5.4% 12.8%;
}
main h1{
    width: 38.2vw;
    margin: 0 auto 10.8%;
}
main h3,h4,h5{
    font-weight: bold;
}
section{
    background-color: #fff;
    position: relative;
}
section h2{
    width: 73vw;
    margin: 0 auto 3.8%;
}
section h3{
    font-size: 20px;
    color: #e98a2b;
    position: relative;
    padding-left: 5.3%;
    text-decoration: underline;
    text-underline-position: under;
    margin-bottom: 1em;
}
section h3::before{
    content: "";
    background: url(../../common/img/icon_check.png) no-repeat;
    display: block;
    width: 27px;
    height: 32px;
    position: absolute;
    top: -10px;
    left: -14px;
}
section h4{
    text-decoration: underline;
}
.ltSpacing0{
    letter-spacing: 0;
}
.txtIndent{
    text-indent: 1em;
}
@media screen and (min-width: 640px){
    body{
        font-size: 16px;
    }
    main{
        width: 70vw;
        max-width: 885px;
        margin: 90px auto 120px auto;
    }
    main h1{
        width: 192px;
        margin: 0 auto 85px auto;
    }
    section h2{
        width: 432px;
        margin-bottom: 30px;
    }
    section h3{
        font-size: 24px;
        padding-left: 0;
    }
    section h3::before{
        top: -6px;
        left: -29px;        
    }
}
/* ******************************************* */
/* aboutCompany                                */
/* ******************************************* */
.aboutCompany{
    margin: 0 0 9%;
}
.aboutCompany section{
    margin: 0 0 3.3%;
}
.aboutCompany section:first-child{
    line-height: 1.7em;
    padding: 7.3% 0 22.1%;
}
.aboutCompany section:first-child::after,
.aboutCompany section:nth-child(2)::after,
.aboutCompany section:nth-child(3)::after{
    font-size: 52px;
    color: #4b9237;
    position: absolute;
}
.aboutCompany section:first-child::after{
    content: "1";
    bottom: 8px;
    right: 0;
}
.aboutCompany section:nth-child(2)::after{
    content: "2";
    bottom: 9px;
    right: 10px;
}
.aboutCompany section:nth-child(3)::after{
    content: "3";
    bottom: 10px;
    right: 10px;
}
.aboutCompany section:not(:first-child){
    padding: 10.8% 7% 16%;
}
.aboutCompany section h4+p:not(:last-child){
    padding-bottom: 2em;
}
.aboutCompany section:not(:last-child):before{
    content: "";
    display: block;
    width: 25px;
    height: 25px;
    border-bottom: 4px solid #e98a2b;
    border-right: 4px solid #e98a2b;
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    position: absolute;
    bottom: 21px;
    left: 45%;
}
.aboutCompany section:nth-child(2) h3{
    margin-bottom: 10.5%;
}
.aboutCompany section:nth-child(2) p{
    margin-bottom: 9.4%;
}
.aboutCompany .subTtl{
    font-size: 24px;
}
@media screen and (min-width: 640px){
    .aboutCompany section{
        margin-bottom: 13px;
    }
    .aboutCompany section:first-child{
        padding: 45px 42px 67px;
    }
    .aboutCompany section:first-child p:not(:last-child){
        padding-bottom: 30px;
    }
    .aboutCompany section:not(:last-child):before{
        width: 30px;
        height: 30px;
        bottom: 19px;
        left: 48%;
    }
    .aboutCompany section:first-child::after,
    .aboutCompany section:nth-child(2)::after,
    .aboutCompany section:nth-child(3)::after{
        font-size: 85px;
    }
    .aboutCompany section:first-child::after {
        right: 19px;
    }
    .aboutCompany section:nth-child(2)::after{
        bottom: 19px;
        right: 20px;
    }
    .aboutCompany section:nth-child(3)::after{
        bottom: 20px;
        right: 20px;    
    }
    .aboutCompany section:not(:first-child){
        padding: 55px 131px;
    }
    .aboutCompany section:nth-child(2) h3{
        margin-bottom: 36px;
    }
    .aboutCompany section:nth-child(2) p{
        margin-bottom: 21px;
    }
    
}
/* ******************************************* */
/* aboutJobs                                   */
/* ******************************************* */
/* aboutJobs_tabMenu */
.aboutJobs .tabMenu{
    display: flex;
}
.aboutJobs li{
    width: 50%;
}
.aboutJobs li a{
    text-align: center;
    background: #fff;
    display: inline-block;
    width: 100%;
    padding: 5.6% 0;
    color: #4b9237;
    font-size: 14px;
}
.aboutJobs ul span{
    border-bottom: 2px solid #4b9237;
}
.aboutJobs_tabOff{
    opacity: 0.6;
}

/* aboutJobs_section */
.aboutJobs section:first-child{
    padding-top: 10.8%;
}
.aboutJobs section{
    padding: 3% 6.3% 0;
    letter-spacing: 0.6px;
}
.aboutJobs section:last-child{
    padding-bottom: 9%;
}
.aboutJobs section h3{
    padding-left: 28px;
}
.aboutJobs section h3::before{
    content: "";
    background: url(../../common/img/icon_check.png) no-repeat;
    display: block;
    width: 27px;
    height: 32px;
    position: absolute;
    top: -10px;
    left: 0px;
}
.aboutJobs article{
    padding: 0 0 1em 0;
}
.aboutJobs section h4{
    padding-bottom: 1em;
}
.aboutJobs .detail_jobName{
    padding-bottom: 1em;
}
.aboutJobs .detail .detail_item:not(:last-child){
    padding-bottom: 1em;
}
.aboutJobs h4{
    text-decoration: none;
}
.aboutJobs h4 span,
.aboutJobs p span{
    border-bottom: 2px solid #4b9237;
}
.aboutJobs h5{
    color: #e98a2b;
    padding-bottom: 1em;
}
.aboutJobs h5 span{
    border-bottom: 2px solid #e98a2b;
}
.aboutJobs section ul{
    padding-left: 1em;
}
.aboutJobs section ul li{
    text-indent: -1em;
}
.aboutJobs section ul li::before{
    content: "・";
}
.aboutJobs .holiday .detail .detail_item:not(:last-child),
.aboutJobs .application .detail .detail_item:not(:last-child),
.aboutJobs .application h5{
    padding-bottom: 0;
}
@media screen and (min-width: 640px){
    .aboutJobs article{
        display: flex;
        justify-content: flex-end;
    }
    .aboutJobs .detail{
        width: 43.8vw;
        max-width: 561px;
        margin-left: auto;
    }
    .aboutJobs li a{
        padding: 7px 0;
    }
    .aboutJobs section:first-child{
        padding-top: 82px;
    }
    .aboutJobs section h3::before{
        top: -5px;
    }
    .aboutJobs h5{
        font-size: 15px;
    }
}