@charset "UTF-8";
/* ========================================================
共通
======================================================== */
/* スマホ用、共通*/
html{
    -webkit-text-size-adjust: 100%;
}
body{
    font-size: 15px;
    line-height: 1.5;
    font-family: "YuMincho", serif;
    background-image: url(../img/backgroundimage.jpg);
}
img{
    max-width: 100%;
    height: auto;
}

/* ========================================================
header(top以外)
======================================================== */
/* スマホ用、共通*/
.header{
    width: 100%;
    background: url(../img/headerBackground.jpeg) no-repeat top right;
    background-size: cover;
}
.headerLogo{
    padding: 15px 0 4px 0;
    width: 181px;
    margin: 0 auto;
}
.headerLogo a{
    display: block;
}
.headerNav a, #headerNav-sp{
    color: #fff;
    display: block;
    padding: 14px 0;
    text-align: center;
    border-top: solid 1px #fff;
    background-color: rgb(0, 0, 0, 0.3);
}
.headerNav ul{
    display: none;
}

/* タブレット用〜643px以上の場合〜*/
@media screen and (min-width: 643px){
    .headerNav ul{
        display: flex;
        justify-content: center;
    }
    .headerNav a{
        border: none;
        background-color: transparent;
        padding: 12px 0;
    }
    .headerLogo a:hover,
    .headerNav a:hover{
        opacity: 0.7;
        -webkit-transition: all 0.4s;
        -moz-transition: all 0.4s;
        -ms-transition: all 0.4s;
        -o-transition: all 0.4s;
        transition: all 0.4s;
    }
    .headerNav li:not(:last-child) a{
        margin-right: 20px;
    }
    #headerNav-sp{
        display: none;
    }
}
/* PC用〜998px以上の場合〜*/
@media screen and (min-width: 998px){
    .header_container{
        display: flex;
        align-items: center;
        width: 967px;
        margin: auto;
    }
    .headerLogo{
        margin: 0 auto 0 0;
    }
    .headerNav li:not(:last-child) a{
        margin-right: 15px;
    }
}
/* ========================================================
main
======================================================== */
/* スマホ用、共通*/
.main{
    margin: 20px 0;
    background: #fff;
    border: solid 1px #efefef;
    box-shadow: 2px 2px #efefef;
}
.main section{
    padding: 37px 20px;
    border-bottom: 1px dotted #0095d9;
}
.main h1{
    font-size: 24px;
    padding-bottom:14px;
}
.recommendTtl{
    font-size: 18px;
    text-align: center;
    padding: 16px;
}
.recommendLst{
    margin: 0 auto 8px auto;
    text-align: center;
}
.recommendLst:last-child{
    margin-bottom: 20px;
}
.recommendLst li{
    display: inline-block;
    margin: 5px 0px;
}
.recommendLst a{
    display: block;
    font-size: 13px;
    color: #0095d9;
    border: 1px solid #0095d9;
    border-radius: 3px;
    padding: 10px;
}
.recommendLst a:hover{
    background-color: #0095d9;
    color: #fff;
}

/* タブレット用〜643px以上の場合〜*/
@media screen and (min-width: 643px){
    .main{
        margin: 20px; 
    }
}
/* PC用〜998px以上の場合〜*/
@media screen and (min-width: 998px){
    .main{
        width: 958px;
        margin: 20px auto;
    }
    .main section{
        padding: 40px 50px;
    }
} 
/* ========================================================
footer(top以外)
======================================================== */
/* スマホ用、共通*/
.footer{
    width: 100%;
    padding: 12px 0;
    border-top: 1px dotted #666;
}
.footerNav{
    width: 242px;
    margin: 0 auto;
}
.footerNav li{
    display: inline-block;
}
.footerNav li:first-child{
    margin-right: 12px;
}
.footerNav a{
    display: block;
    color: #666;
}
.footerNav a:hover{
    text-decoration: underline;
    opacity: 0.7;
}