@charset "UTF-8";

/* reset */
*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}

/* common */
*{
    font-size: 18px;
}
main{
    width: 50vw;
    margin: 80px auto;
}
h1{
    margin-bottom: 20px;
}
.l-main{
    display: flex;
    justify-content: space-between;
}
.box{
    width: 24vw;
    height: 24vw;
    background-color: #FDA576;
    text-align: center;
    position: relative;
}
.box p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* cssでhover */
#css:hover{
    transform: scale(1.1);
}