main {
  margin: 90px 0  117px;
}

main .mainVisual_imgs {
  width: 100vw;
}

main .mainVisual_btns {
  background: #000;
  display: flex;
  justify-content: center;
  line-height: 40px;
  margin-top: -6px;
}

main .mainVisual_btns_left, main .mainVisual_btns_right {
  width: 66.5px;
  margin: 0 48.5px 0 0;
}

main .mainVisual_btns_txt {
  font-size: 16.5px;
  font-family: "renner";
}

main .mainVisual_btns_right {
  margin: 0 0 0 48.5px;
}

main .mainVisual_banner {
  background: #000;
}

main .mainVisual_banner a {
  width: 80%;
  margin: 0 auto;
  display: block;
}

main .mainVisual_banner a img {
  padding: 10% 0 15%;
}

main .news {
  background: #f3eee9;
  border-top: solid 12px #736357;
  border-bottom: solid 12px #736357;
}

main .news h2 {
  width: 217.5px;
  margin: 43.5px auto 36.5px;
}

main .news_main {
  margin: 0 auto 38px;
  width: 315px;
}

main .news_main_item {
  border-bottom: solid 1.5px #736357;
  padding-bottom: 22.5px;
}

main .news_main_item:not(:first-child) {
  padding-top: 20.5px;
}

main .news_main_item h3 {
  color: #000;
  font-size: 15.5px;
}

main .news_main_item_date {
  color: #f6821e;
  font-size: 16.5px;
}

main .news_btn {
  width: 182px;
  margin: 0 auto 40px;
}

main .news_btn a {
  width: 100%;
  line-height: 44px;
  box-sizing: border-box;
  border: solid 2px #f6821e;
  font-family: "renner";
  color: #f6821e;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .news_btn a::before {
  content: "";
  display: block;
  width: 20.5px;
  height: 13.5px;
  background: url(../common/img/home/icon_list.svg) no-repeat;
  background-size: cover;
  margin-right: 10px;
}

main .news_btn a:hover {
  color: #fff;
  background: #f6821e;
}

main .news_btn a:hover::before {
  background: url(../common/img/home/icon_list_hover.svg) no-repeat;
  background-size: cover;
}

main .movie h2 {
  width: 220px;
  margin: 52.5px auto 0;
}

main .movie_main {
  width: 320.5px;
  margin: 0 auto 48px;
}

main .movie_main_item {
  margin-bottom: 30px;
}

main .movie_main_item_img {
  font-size: 0;
}

main .movie_main_item_ttl {
  background: #f6821e;
  color: #000;
  font-size: 12px;
  line-height: 24.5px;
  text-align: center;
  padding-right: 49.25px;
  position: relative;
}

main .movie_main_item_ttl::before {
  content: "";
  display: block;
  width: 49.25px;
  height: 24.5px;
  background: #000;
  position: absolute;
  top: 0;
  right: 0;
}

main .movie_main_item_ttl::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 0 5px 10px;
  border-color: transparent transparent transparent #f6821e;
  position: absolute;
  top: 50%;
  right: 24.625px;
  transform: translate(50%, -50%);
}

main .twitter h2 {
  width: 221.5px;
  margin: 0 auto;
  transform: translateY(49px);
}

main .twitter_main {
  width: 317px;
  margin: 0 auto;
  padding: 55.5px 0 28px;
  border-left: solid 2px #fff;
  border-right: solid 2px #fff;
  border-bottom: solid 2px #fff;
  position: relative;
}

main .twitter_main::before, main .twitter_main::after {
  content: "";
  display: block;
  width: 30.5px;
  height: 2px;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
}

main .twitter_main::after {
  left: auto;
  right: 0;
}

main .twitter_main_inner {
  text-align: center;
}
