@charset "UTF-8";
// **************************************************
// * ファイル名：./sass/style.scss          *
// * 概要     ：topのsass                      *
// **************************************************
@import "./_common";
// **************************************************
// * common                                         *
// **************************************************
// **************************************************
// * main                                           *
// **************************************************
main{
    margin: 90px 0  117px;
    .mainVisual{
        &_imgs{
            width: calc(100vw*5);
            display: flex;
            transition: all 0.3s;
            &_item{
                font-size: 0;
            }
        }
        &_btns{
            background: $c_black;
            display: flex;
            justify-content: center;
            line-height: harf(80px);
            &_left{
                width: harf(133px);
                margin: 0 harf(97px) 0 0;
            }
            &_txt{
                font-size: harf(33px);
                @include font_renner;
            }
            &_right{
                @extend .mainVisual_btns_left;
                margin: 0 0 0 harf(97px);
            }
        }
        &_banner{
            background: $c_black;
            a{
                width: 80%;
                margin: 0 auto;
                display: block;
                img{
                    padding:10% 0 15%;
                }
            }
        }
    }
    .news{
        background: #f3eee9;
        border-top: solid harf(24px) #736357;
        border-bottom: solid harf(24px) #736357;
        h2{
            width: harf(435px);
            margin: harf(87px) auto harf(73px);
        }
        &_main{
            margin: 0 auto harf(76px);
            width: harf(630px);
            &_item{
                border-bottom: solid 1.5px #736357;
                padding-bottom: harf(45px);
                &:not(:first-child){
                    padding-top: harf(41px);
                }
                h3{
                    color: $c_black;
                    font-size: harf(31px);
                }
                &_date{
                    color: $c_orange;
                    font-size: harf(33px);
                }
            }
        }
        &_btn{
            width: harf(364px);
            margin: 0 auto harf(80px);
            a{
                width: 100%;
                line-height: harf(88px);
                box-sizing: border-box;
                @include border($c_orange);
                @include font_renner;
                color: $c_orange;
                font-weight: bold;
                display: flex;
                justify-content: center;
                align-items: center;
                &::before{
                    content: "";
                    display: block;
                    width: harf(41px);
                    height: harf(27px);
                    background: url(../common/img/home/icon_list.svg) no-repeat;
                    background-size: cover;
                    margin-right: harf(20px);
                }
                &:hover{
                    color: $c_white;
                    background: $c_orange;
                    &::before{
                        background: url(../common/img/home/icon_list_hover.svg) no-repeat;
                        background-size: cover;
                    }
                }
            }
        }
    }
    .movie{
        h2{
            width: harf(440px);
            margin: harf(105px) auto 0;
        }
        &_main{
            width: harf(641px);
            margin: 0 auto harf(96px);
            &_item{
                margin-bottom: harf(60px);
                &_img{
                    font-size: 0;
                }
                &_ttl{
                    background: $c_orange;
                    color: $c_black;
                    font-size: 12px;
                    line-height: harf(49px);
                    text-align: center;
                    padding-right: harf(98.5px);
                    position: relative;
                    &::before{
                        content: "";
                        display: block;
                        width: harf(98.5px);
                        height: harf(49px);
                        background: $c_black;
                        position: absolute;
                        top: 0;
                        right: 0;
                    }
                    &::after{
                        content: "";
                        display: block;
                        width: 0;
                        height: 0;
                        border-style: solid;
                        border-width: 5px 0 5px 10px;
                        border-color: transparent transparent transparent $c_orange;
                        position: absolute;
                        top: 50%;
                        right: harf(harf(98.5px));
                        transform: translate(50%,-50%);
                    }
                }
            }
        }
    }
    .twitter{
        h2{
            width: harf(443px);
            margin: 0 auto;
            transform: translateY(49px);
        }
        &_main{
            width: harf(634px);
            margin: 0 auto;
            padding: harf(111px) 0 harf(56px);
            border-left: solid 2px $c_white;
            border-right: solid 2px $c_white;
            border-bottom: solid 2px $c_white;
            position: relative;
            &::before{
                content: "";
                display: block;
                width: harf(61px);
                height: 2px;
                background: $c_white;
                position: absolute;
                top: 0;
                left: 0;
            }
            &::after{
                @extend .twitter_main::before;
                left: auto;
                right: 0;
            }
            &_inner{
                text-align: center;
            }
        }
        

    }
}