@charset "UTF-8";
// **************************************************
// * ファイル名：./sass/special/style.scss          *
// * 概要     ：specialのsass                      *
// **************************************************
@import "../_common";
// **************************************************
// * common                                         *
// **************************************************
// **************************************************
// * main                                           *
// **************************************************
main{
    h1{
        width: 263px;
        padding: 0 calc(50% - 263px/2);
        margin-bottom: harf(42px);
    }
    .contents{
        width: 340px;
        margin: 0 calc(50vw - 340px/2) calc(117px + 30px + 90px);
        &_inner{
            &_item{
                &_img{
                    @include border($c_orange);
                    font-size: 0;
                }
                h2{
                    color: $c_black;
                    font-size: 12px;
                    text-align: center;
                    background: $c_orange;
                    line-height: 22px;
                }
            }
        }
        
    }
}