main h1 {
  width: 124.5px;
  padding: 0 calc(50% - 124.5px/2);
  margin-bottom: 21px;
}

main .select {
  width: 340px;
  line-height: 1;
  padding: 13.25px 0;
  margin: 0 calc(50% - 340px/2) 44.5px;
  border: solid 2px #fff;
  color: #fff;
  font-size: 16px;
  position: relative;
}

main .select_label {
  text-align: center;
}

main .select_label::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../../common/img/btn_left.svg) no-repeat;
  background-size: contain;
  transform: rotate(-90deg);
  margin-right: 9px;
}

main .select_selectCategory {
  width: 340px;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

main .contents {
  border-top: solid 2px #f6821e;
  border-bottom: solid 2px #f6821e;
  background: #000;
  position: relative;
  margin-bottom: 117px;
  padding-bottom: 30px;
}

main .contents_inner {
  width: 340px;
  margin: 0 calc(50% - 340px/2) 0;
  font-size: 14px;
  font-weight: normal;
}

main .contents_inner h2 {
  color: #f6821e;
  text-align: center;
  margin: 64.5px 0 34px;
}

main .contents_inner a {
  color: #f6821e;
}

main .contents_inner_tag {
  line-height: 23.5px;
  background: #f6821e;
  text-align: center;
  font-size: 11.5px;
  font-weight: bold;
  color: #000;
  padding: 0 6.5px;
  position: absolute;
  top: -1px;
  right: 17.5px;
}

main .contents_inner_img-main {
  font-size: 0;
  margin-bottom: 10px;
}

main .contents_inner_link {
  margin-top: 20px;
  position: relative;
}

main .contents_inner_link::after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 12px;
  background: url(../../common/img/music/icon_arrow.svg) no-repeat;
  background-size: cover;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

main .contents_inner_img-comment {
  margin: 30px 0;
}

main .contents_inner_txt-comment_item {
  margin-bottom: 1rem;
}
