@charset "UTF-8";

/* reset */
*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}

/* common */
*{
    font-size: 18px;
}
main{
    width: 40vw;
    margin: 80px auto;
}
h1{
    margin-bottom: 30px;
}
form{
    display: flex;
}
input[type="button"]{
    font-size: 13px;
    padding: 0 5px;
    margin-right: 5px;
}
.back{
    background-color: #888;
    opacity: 0.8;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}
.popup{
    width: 320px;
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: #fff;
    transform: translate(-50%, -50%);
    border-radius: 5px;
}
.poopup_header{
    display: flex;
    background: linear-gradient(#fff, #00f 50%, #fff);
    padding: 10px;
    border-radius: 5px 5px 0 0;
    color: #fff;
}
.btn_close{
    font-size: 13px;
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 5px;
    text-align: center;
    background-color: #f00;
    color: #fff;
    margin-left: auto;
}


.calender{
    border-collapse: collapse;
    table-layout: fixed;
    width: 280px;
    margin: 30px auto;
}
.calender td, .calender th{
    border: solid 1px #000;
    text-align: center;
}
.calender th a{
    display: inline-block;
    width: 100%;
}
.calender td:first-child{
    color: #f00;
}
.calender td:last-child{
    color: #00f;
}
.calender td.is-today{
    background-color: rgba(255, 0, 0, 0.3);
}
.calender td.is-holiday{
    color: #f00;
}
.calender td.is-click{
    font-weight: bold;
    color: #f00;
    background-color: #ff0;
}