@charset "UTF-8";
// **************************************************
// * ファイル名：./sass/bd-dvd/style.scss          *
// * 概要     ：bd-dvdのsass                      *
// **************************************************
@import "../_common";
// **************************************************
// * common                                         *
// **************************************************
// **************************************************
// * main                                           *
// **************************************************
main{
    h1{
        width: harf(350px);
        padding: 0 calc(50% - 175px/2);
        margin-bottom: harf(42px);
    }
    .select{
        width: 340px;
        line-height: 1;
        padding: 13.25px 0;
        margin: 0 calc(50% - 340px/2) harf(89px);
        @include border();
        color: $c_white;
        font-size: 16px;
        position: relative;
        &_label{
            text-align: center;
            &::before{
                content: "";
                display: inline-block;
                width: 20px;
                height: 20px;
                background: url(../../common/img/btn_left.svg) no-repeat;
                background-size: contain;
                transform: rotate(-90deg);
                margin-right: 9px;
            }
        }
        &_selectCategory{
            width: 340px;
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    .contents{
        border-top: solid 2px $c_orange;
        border-bottom: solid 2px $c_orange;
        position: relative;
        padding-top: harf(134px);
        &_tag{
            font-size: harf(23px);
            color: $c_black;
            background: $c_orange;
            padding: 0 harf(67px);
            line-height: harf(47px);
            position: absolute;
            top: -1px;
            right: harf(35px);
        }
        &_inner{
            width: 340px;
            margin: 0 calc(50vw - 340px/2) 10%;
            font-size: 15px;
            h2{
                text-align: center;
                font-size: 19px;
                margin-bottom: harf(93px);
            }
            &_txt{
                margin-bottom: 5%;
                dl{
                    dd{
                        padding-left: calc(15px + 5px);
                    }
                }
                ul{
                    li{
                        display: table-cell;
                        &:first-child{
                            width: 3em;
                        }
                    }
                }
                .is_arrow{
                    &::before{
                        content: "";
                        display: inline-block;
                        width: harf(30px);
                        height: 12px;
                        background: url(../../common/img/bdDvd/icon_arrow.png) no-repeat;
                        fill: $c_orange;
                        background-size: contain;
                        margin-right: 5px;
                    }
                }
                &_ttl{
                    color: $c_orange;
                    margin-top: 5%;
                }
                &_note{
                    font-size: 11px;
                    padding-left: calc(15px + 5px);
                }
            }
            &_special{
                background: $c_orange;
                color: $c_black;
                padding: 0 20px 20px;
                margin: 10% 0;
                ul{
                    li{
                        display: table-cell;
                        .is_line-through{
                            text-decoration: line-through;
                        }
                    }
                }
                &_ttl{
                    text-align: center;
                    border-bottom: dotted 1px $c_black;
                    padding: 5% 0 5%;
                    position: relative;
                    &::before{
                        content: "";
                        display: block;
                        width: 16.75px;
                        height: 15px;
                        background: url(../../common/img/bdDvd/icon_ribbon.svg) no-repeat;
                        background-size: cover;
                        position: absolute;
                        top:0;
                        right: 10px;
                    }
                }
                &_subTtl{
                    text-align: center;
                    margin: 5% 0 5%;
                }
                &_txt{
                    margin-top: 5%;
                    text-align: center;
                }
                &_shops{
                    margin: 5% 0 5%;
                }
                .is_red{
                    color: $c_red;
                    text-align: center;
                }
                &_note{
                    font-size: 11px;
                    text-align: center;
                }
            }
            &_note{
                font-size: 11px;
                font-weight: normal;
            }
        }
    }// contents
    .pageNav{
        ul{
            margin: 15% 0 30%;
            display: flex;
            justify-content: center;
            li{
                a{
                    display: flex;
                    align-items: center;
                }
                &:first-child{
                    a{
                        &::before{
                            content: "";
                            display: block;
                            width: 15px;
                            height: 22.5px;
                            background: url(../../common/img/btn_left.svg) no-repeat;
                            background-size: cover;
                            margin-right: 5px;
                        }
                    }
                }
                &:last-child{
                    a{
                        &::after{
                            content: "";
                            display: block;
                            width: 15px;
                            height: 22.5px;
                            background: url(../../common/img/btn_right.svg) no-repeat;
                            background-size: cover;
                            margin-left: 5px;
                        }
                    }
                }
            }
            .is_border{
                width: 2px;
                height: 22.500;
                margin: 0 37.5px;
                background-color: #fff;
                display: block;
            }
        }
        &.default{
            ul li:first-child,.is_border{
                display: none;
            }
        }
    }
}