@-webkit-keyframes contentsFromBottom {
  0% {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -ms-transform: translateY(200px);
    -o-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}

@-moz-keyframes contentsFromBottom {
  0% {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -ms-transform: translateY(200px);
    -o-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}

@keyframes contentsFromBottom {
  0% {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -ms-transform: translateY(200px);
    -o-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes contentsFromBottom50 {
  0%, 50% {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -ms-transform: translateY(200px);
    -o-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}

@-moz-keyframes contentsFromBottom50 {
  0%, 50% {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -ms-transform: translateY(200px);
    -o-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}

@keyframes contentsFromBottom50 {
  0%, 50% {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -ms-transform: translateY(200px);
    -o-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes contentsFromLeft {
  0% {
    transform: translateX(-200px);
    -moz-transform: translateX(-200px);
    -ms-transform: translateX(-200px);
    -o-transform: translateX(-200px);
    -webkit-transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1;
  }
}

@-moz-keyframes contentsFromLeft {
  0% {
    transform: translateX(-200px);
    -moz-transform: translateX(-200px);
    -ms-transform: translateX(-200px);
    -o-transform: translateX(-200px);
    -webkit-transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1;
  }
}

@keyframes contentsFromLeft {
  0% {
    transform: translateX(-200px);
    -moz-transform: translateX(-200px);
    -ms-transform: translateX(-200px);
    -o-transform: translateX(-200px);
    -webkit-transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes contentsFromLeft50 {
  0%, 50% {
    transform: translateX(-200px);
    -moz-transform: translateX(-200px);
    -ms-transform: translateX(-200px);
    -o-transform: translateX(-200px);
    -webkit-transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1;
  }
}

@-moz-keyframes contentsFromLeft50 {
  0%, 50% {
    transform: translateX(-200px);
    -moz-transform: translateX(-200px);
    -ms-transform: translateX(-200px);
    -o-transform: translateX(-200px);
    -webkit-transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1;
  }
}

@keyframes contentsFromLeft50 {
  0%, 50% {
    transform: translateX(-200px);
    -moz-transform: translateX(-200px);
    -ms-transform: translateX(-200px);
    -o-transform: translateX(-200px);
    -webkit-transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes contentsFromRight {
  0% {
    transform: translateX(200px);
    -moz-transform: translateX(200px);
    -ms-transform: translateX(200px);
    -o-transform: translateX(200px);
    -webkit-transform: translateX(200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1;
  }
}

@-moz-keyframes contentsFromRight {
  0% {
    transform: translateX(200px);
    -moz-transform: translateX(200px);
    -ms-transform: translateX(200px);
    -o-transform: translateX(200px);
    -webkit-transform: translateX(200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1;
  }
}

@keyframes contentsFromRight {
  0% {
    transform: translateX(200px);
    -moz-transform: translateX(200px);
    -ms-transform: translateX(200px);
    -o-transform: translateX(200px);
    -webkit-transform: translateX(200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes contentsFromRight50 {
  0%, 50% {
    transform: translateX(200px);
    -moz-transform: translateX(200px);
    -ms-transform: translateX(200px);
    -o-transform: translateX(200px);
    -webkit-transform: translateX(200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1;
  }
}

@-moz-keyframes contentsFromRight50 {
  0%, 50% {
    transform: translateX(200px);
    -moz-transform: translateX(200px);
    -ms-transform: translateX(200px);
    -o-transform: translateX(200px);
    -webkit-transform: translateX(200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1;
  }
}

@keyframes contentsFromRight50 {
  0%, 50% {
    transform: translateX(200px);
    -moz-transform: translateX(200px);
    -ms-transform: translateX(200px);
    -o-transform: translateX(200px);
    -webkit-transform: translateX(200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes contentsFloating {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes contentsFloating {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes contentsFloating {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes contentsFloating50 {
  0%, 50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes contentsFloating50 {
  0%, 50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes contentsFloating50 {
  0%, 50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body {
  border-top: solid 10px #ea5514;
}

main {
  background: url(../../common/img/recruit/bgTxt_recruit01.png) no-repeat top left, url(../../common/img/recruit/bgTxt_recuit02.png) no-repeat bottom right;
}

main .btnEntry {
  display: inline-block;
  width: calc(72px - 17px);
  background: #ea5514;
  padding: 23px 0 10px 17px;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  position: fixed;
  top: 408px;
  right: 0;
  z-index: 100;
}

main .btnEntry::before {
  content: "";
  display: block;
  width: 72px;
  height: 71px;
  transform: scale(1.4);
  background: #ea5514;
  opacity: 0.2;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  animation: anchorAnimation 1s ease-out infinite;
  -moz-animation: anchorAnimation 1s ease-out infinite;
  -o-animation: anchorAnimation 1s ease-out infinite;
  -webkit-animation: anchorAnimation 1s ease-out infinite;
}

@-webkit-keyframes anchorAnimation {
  0% {
    transform: scale(1.4);
    -moz-transform: scale(1.4);
    -ms-transform: scale(1.4);
    -o-transform: scale(1.4);
    -webkit-transform: scale(1.4);
    opacity: 0.2;
  }
  100% {
    transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
    -webkit-transform: scale(2);
    opacity: 0;
  }
}

@-moz-keyframes anchorAnimation {
  0% {
    transform: scale(1.4);
    -moz-transform: scale(1.4);
    -ms-transform: scale(1.4);
    -o-transform: scale(1.4);
    -webkit-transform: scale(1.4);
    opacity: 0.2;
  }
  100% {
    transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
    -webkit-transform: scale(2);
    opacity: 0;
  }
}

@keyframes anchorAnimation {
  0% {
    transform: scale(1.4);
    -moz-transform: scale(1.4);
    -ms-transform: scale(1.4);
    -o-transform: scale(1.4);
    -webkit-transform: scale(1.4);
    opacity: 0.2;
  }
  100% {
    transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
    -webkit-transform: scale(2);
    opacity: 0;
  }
}

main .btnEntry img {
  width: 46px;
}

main .recruit h1 {
  width: 1001px;
  padding: 154px 0 40px;
}

main .recruit ul {
  display: flex;
  padding-bottom: 196px;
}

main .recruit ul li {
  text-align: center;
}

main .recruit ul li:not(:last-child) {
  margin-right: 24px;
}

main .recruit ul li a {
  display: inline-block;
  width: 144px;
  height: 77px;
  border-top: solid 2px #000;
  border-left: solid 2px #000;
  position: relative;
}

main .recruit ul li a::before {
  content: "";
  display: block;
  width: 108px;
  height: 2px;
  border-bottom: solid 2px #000;
  position: absolute;
  bottom: 0;
  left: 0;
}

main .recruit ul li a::after {
  content: "";
  display: block;
  width: 2px;
  height: 63px;
  border-right: solid 2px #000;
  position: absolute;
  top: 0;
  right: 0;
}

main .recruit ul li a .hoverBg {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

main .recruit ul li a:hover {
  border-top: solid 2px #ea5514;
  border-left: solid 2px #ea5514;
}

main .recruit ul li a:hover::before {
  border-bottom: solid 2px #ea5514;
}

main .recruit ul li a:hover::after {
  border-right: solid 2px #ea5514;
}

main .recruit ul li a:hover .icon {
  background-color: #ea5514;
}

main .recruit ul li a:hover .hoverBg::before {
  content: "";
  display: block;
  width: 200%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  background: url(../../common/img/data_image.png);
  animation: bgAnimation 3s linear infinite;
  -moz-animation: bgAnimation 3s linear infinite;
  -o-animation: bgAnimation 3s linear infinite;
  -webkit-animation: bgAnimation 3s linear infinite;
}

@-webkit-keyframes bgAnimation {
  0% {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-transform: translateX(0);
  }
  100% {
    transform: translateX(50%);
    -moz-transform: translateX(50%);
    -ms-transform: translateX(50%);
    -o-transform: translateX(50%);
    -webkit-transform: translateX(50%);
  }
}

@-moz-keyframes bgAnimation {
  0% {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-transform: translateX(0);
  }
  100% {
    transform: translateX(50%);
    -moz-transform: translateX(50%);
    -ms-transform: translateX(50%);
    -o-transform: translateX(50%);
    -webkit-transform: translateX(50%);
  }
}

@keyframes bgAnimation {
  0% {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-transform: translateX(0);
  }
  100% {
    transform: translateX(50%);
    -moz-transform: translateX(50%);
    -ms-transform: translateX(50%);
    -o-transform: translateX(50%);
    -webkit-transform: translateX(50%);
  }
}

main .recruit ul li a p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

main .recruit ul li a .shadow {
  width: 41px;
  height: 41px;
  background-color: #c7bbab;
  border-radius: 50%;
  position: absolute;
  bottom: -10px;
  right: -10px;
}

main .recruit ul li a .icon {
  width: 41px;
  line-height: 41px;
  background-color: #000;
  border-radius: 50%;
  position: absolute;
  bottom: -8px;
  right: -8px;
}

main .recruit ul li a .icon img {
  vertical-align: middle;
}

main .recruit ul li a .icon_eigyou img {
  width: 14px;
}

main .recruit ul li a .icon_seibi img {
  width: 26px;
}

main .recruit ul li a .icon_front img {
  width: 28px;
}

main .recruit ul li a .icon_customer img {
  width: 19px;
}

main .recruit ul li a .icon_kanri img {
  width: 29px;
}

main .recruit ul li a .icon_hokenbu img {
  width: 26px;
}

main .recruit_inner {
  padding-bottom: 223px;
  position: relative;
}

main .recruit_inner.default .recruit_inner_contents_item,
main .recruit_inner.default .recruit_inner_contents_txt,
main .recruit_inner.default .recruit_inner_imgs {
  visibility: hidden;
}

main .recruit_inner:nth-child(odd).active .recruit_inner_contents_item,
main .recruit_inner:nth-child(odd).active .recruit_inner_contents_txt,
main .recruit_inner:nth-child(odd).active .recruit_inner_imgs {
  visibility: visible;
}

main .recruit_inner:nth-child(odd).active .recruit_inner_contents_item {
  animation: contentsFloating 1s;
  -moz-animation: contentsFloating 1s;
  -o-animation: contentsFloating 1s;
  -webkit-animation: contentsFloating 1s;
}

main .recruit_inner:nth-child(odd).active .recruit_inner_contents_txt {
  animation: contentsFloating50 2.3s;
  -moz-animation: contentsFloating50 2.3s;
  -o-animation: contentsFloating50 2.3s;
  -webkit-animation: contentsFloating50 2.3s;
}

main .recruit_inner:nth-child(odd).active .recruit_inner_imgs img:first-child {
  animation: contentsFromRight50 1.3s;
  -moz-animation: contentsFromRight50 1.3s;
  -o-animation: contentsFromRight50 1.3s;
  -webkit-animation: contentsFromRight50 1.3s;
}

main .recruit_inner:nth-child(odd).active .recruit_inner_imgs img:nth-child(2) {
  animation: contentsFromRight50 1.4s;
  -moz-animation: contentsFromRight50 1.4s;
  -o-animation: contentsFromRight50 1.4s;
  -webkit-animation: contentsFromRight50 1.4s;
}

main .recruit_inner:nth-child(odd).active .recruit_inner_imgs img:last-child {
  animation: contentsFromRight50 1.5s;
  -moz-animation: contentsFromRight50 1.5s;
  -o-animation: contentsFromRight50 1.5s;
  -webkit-animation: contentsFromRight50 1.5s;
}

main .recruit_inner:nth-child(even) {
  padding-left: calc(557px - 137px);
}

main .recruit_inner:nth-child(even).active .recruit_inner_contents_item,
main .recruit_inner:nth-child(even).active .recruit_inner_contents_txt,
main .recruit_inner:nth-child(even).active .recruit_contents_img {
  visibility: visible;
}

main .recruit_inner:nth-child(even).active .recruit_inner_contents_item {
  animation: contentsFloating 1s;
  -moz-animation: contentsFloating 1s;
  -o-animation: contentsFloating 1s;
  -webkit-animation: contentsFloating 1s;
}

main .recruit_inner:nth-child(even).active .recruit_inner_contents_txt {
  animation: contentsFloating50 2.3s;
  -moz-animation: contentsFloating50 2.3s;
  -o-animation: contentsFloating50 2.3s;
  -webkit-animation: contentsFloating50 2.3s;
}

main .recruit_inner:nth-child(even).active .recruit_inner_imgs img:first-child {
  animation: contentsFromLeft50 1.3s;
  -moz-animation: contentsFromLeft50 1.3s;
  -o-animation: contentsFromLeft50 1.3s;
  -webkit-animation: contentsFromLeft50 1.3s;
}

main .recruit_inner:nth-child(even).active .recruit_inner_imgs img:nth-child(2) {
  animation: contentsFromLeft50 1.4s;
  -moz-animation: contentsFromLeft50 1.4s;
  -o-animation: contentsFromLeft50 1.4s;
  -webkit-animation: contentsFromLeft50 1.4s;
}

main .recruit_inner:nth-child(even).active .recruit_inner_imgs img:last-child {
  animation: contentsFromLeft50 1.5s;
  -moz-animation: contentsFromLeft50 1.5s;
  -o-animation: contentsFromLeft50 1.5s;
  -webkit-animation: contentsFromLeft50 1.5s;
}

main .recruit_inner h2 {
  padding-bottom: 66px;
}

main .recruit_inner_contents_item {
  width: 580px;
  padding-bottom: 37px;
}

main .recruit_inner_contents_item h3 {
  font-size: 18px;
  color: #fff;
  background: #ea5514;
  padding: 0 8px 0 16px;
  margin-bottom: 17px;
  display: inline-block;
  position: relative;
}

main .recruit_inner_contents_item h3::after {
  content: "";
  display: block;
  width: 4px;
  height: 100%;
  background: url(../../common/img/bg.png);
  position: absolute;
  top: 0;
  left: 4px;
}

main .recruit_inner_imgs img {
  position: absolute;
}

main .recruit_inner_imgs img:first-child {
  width: 500px;
}

main .recruit_inner_imgs img:not(:first-child) {
  width: 320px;
}

main .recruit .eigyou h2 {
  width: 136px;
}

main .recruit .eigyou_txt {
  width: 338px;
  padding: 20px 0 0;
}

main .recruit .eigyou_img01 {
  top: -97px;
  right: 0;
}

main .recruit .eigyou_img02 {
  top: 362px;
  right: 0;
}

main .recruit .eigyou_img03 {
  top: 507px;
  right: 239px;
}

main .recruit .seibi h2 {
  width: 356px;
}

main .recruit .seibi_txt {
  width: 470px;
  padding: 23px 0 0;
}

main .recruit .seibi_img01 {
  top: -95px;
  left: -137px;
}

main .recruit .seibi_img02 {
  top: 365px;
  left: -77px;
}

main .recruit .seibi_img03 {
  top: 617px;
  left: 75px;
}

main .recruit .front h2 {
  width: 206px;
}

main .recruit .front_txt {
  width: 537px;
  padding: 43px 0 0;
}

main .recruit .front_img01 {
  top: -98px;
  right: 0;
}

main .recruit .front_img02 {
  top: 363px;
  right: 32px;
}

main .recruit .front_img03 {
  top: 582px;
  right: 170px;
}

main .recruit .customer h2 {
  width: 538px;
}

main .recruit .customer_txt {
  width: 537px;
  padding: 33px 0 0;
}

main .recruit .customer_img01 {
  top: -94px;
  left: -137px;
}

main .recruit .customer_img02 {
  top: 372px;
  left: -107px;
}

main .recruit .customer_img03 {
  top: 578px;
  left: 83px;
}

main .recruit .kanri h2 {
  width: 370px;
}

main .recruit .kanri_txt {
  width: 367px;
  padding: 27px 0 0;
}

main .recruit .kanri_img01 {
  top: -94px;
  right: 0;
}

main .recruit .kanri_img02 {
  top: 366px;
  right: 32px;
}

main .recruit .kanri_img03 {
  top: 578px;
  right: 190px;
}

main .recruit .hokenbu h2 {
  width: 207px;
}

main .recruit .hokenbu_txt {
  width: 367px;
  padding: 27px 0 0;
}

main .recruit .hokenbu_img01 {
  top: -96px;
  left: -137px;
}

main .recruit .hokenbu_img02 {
  top: 364px;
  left: -60px;
}

main .recruit .hokenbu_img03 {
  top: 617px;
  left: 75px;
}

main .working {
  padding-bottom: 124px;
}

main .working h1 {
  width: 1001px;
  padding-bottom: 57px;
}

main .working_movie {
  width: 800px;
  margin-left: 100px;
  position: relative;
}

main .working_movie_topLine::before, main .working_movie_topLine::after, main .working_movie_bottomLine::after, main .working_movie_bottomLine::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  border-top: solid 1px #ea5514;
  border-left: solid 1px #ea5514;
  position: absolute;
  top: -10px;
  left: -10px;
}

main .working_movie_topLine::after, main .working_movie_bottomLine::after {
  border-left: none;
  border-right: solid 1px #ea5514;
  top: -10px;
  left: auto;
  right: -10px;
}

main .working_movie_bottomLine::before {
  border-top: none;
  border-bottom: solid 1px #ea5514;
  top: auto;
  bottom: -2px;
}

main .working_movie_bottomLine::after {
  border-top: none;
  border-bottom: solid 1px #ea5514;
  top: auto;
  bottom: -2px;
}

main .careers {
  padding-bottom: 100px;
}

main .careers h1 {
  width: 1002px;
  padding-bottom: 50px;
}

main .careers_info {
  border-collapse: collapse;
  width: 1002px;
}

main .careers_info tr td {
  vertical-align: baseline;
  border-top: dotted 1px #000;
  border-bottom: dotted 1px #000;
}

main .careers_info tr td:first-child {
  width: 141px;
  color: #fff;
  padding: 1em 0 0 10px;
}

main .careers_info tr td:last-child {
  padding: 1em;
}

main .careers_info tr td:last-child.oneLine {
  padding-bottom: 2em;
}

main .careers_info tr:nth-child(odd) td:first-child {
  background: #ea5514;
}

main .careers_info tr:nth-child(even) td:first-child {
  background: #ed7133;
}

main .careers_info_payment_detail_txt {
  display: inline-block;
  vertical-align: top;
}

main .careers_info_payment_detail_txt:nth-child(odd) {
  padding-right: 38px;
}

main .careers_info_payment_detail_txt:nth-child(-n+2) {
  padding-bottom: 33px;
}

main .careers_info_place_detail_txt {
  display: inline-block;
  vertical-align: top;
}

main .careers_info_place_detail_txt:nth-child(odd) {
  width: 290px;
  padding-right: 38px;
}

main .careers_info_place_detail_txt:nth-child(-n+4) {
  padding-bottom: 27px;
}

main .entry h1 {
  width: 1002px;
  padding-bottom: 50px;
}

main .entry_sup {
  font-size: 12px;
  padding-bottom: 50px;
}

main .entry_sup a {
  color: #ea5514;
}

main .entry_btn {
  width: 769px;
  padding-left: 131px;
}

main .entry_btn a {
  display: inline-block;
}

main .entry_btn a:first-child {
  margin-right: 40px;
}
