@charset "UTF-8";

/* reset */
*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}

/* common */
body{
    font-size: 13px;
}


/* main */
main{
    width: 820px;
    margin: 80px auto 25px;
    border-top: solid 1px #000;
    border-bottom: solid 1px #000;
}
h1{
    font-size: 16px;
    color: #FF9901;
    padding-top: 20px;
}
.productLst{
    width: 693px;
    padding: 40px 0;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}
.productLst_item{
    width: 106px;
}
.productLst_item_img{
    line-height: 101px;
    text-align: center;
    background-color: #F4CCCC;
    font-weight: bold;
    border: solid 1px #000;
}
.productLst_item_ttl{
    font-size: 11px;
    color: #00f;
}
.productLst_item_eval{
    color: #F1C332;
}
.productLst_item_price{
    display: flex;
}
.productLst_item_price-num{
    color: #f00;
}
.productLst_item_price-opt{
    margin-left: auto;
    font-weight: bold;
    color: #3C79D9;
}
/* footer */
footer{
    text-align: center;
}