@-webkit-keyframes contentsFromBottom {
  0% {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -ms-transform: translateY(200px);
    -o-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}

@-moz-keyframes contentsFromBottom {
  0% {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -ms-transform: translateY(200px);
    -o-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}

@keyframes contentsFromBottom {
  0% {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -ms-transform: translateY(200px);
    -o-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes contentsFromBottom50 {
  0%, 50% {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -ms-transform: translateY(200px);
    -o-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}

@-moz-keyframes contentsFromBottom50 {
  0%, 50% {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -ms-transform: translateY(200px);
    -o-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}

@keyframes contentsFromBottom50 {
  0%, 50% {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -ms-transform: translateY(200px);
    -o-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes contentsFromLeft {
  0% {
    transform: translateX(-200px);
    -moz-transform: translateX(-200px);
    -ms-transform: translateX(-200px);
    -o-transform: translateX(-200px);
    -webkit-transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1;
  }
}

@-moz-keyframes contentsFromLeft {
  0% {
    transform: translateX(-200px);
    -moz-transform: translateX(-200px);
    -ms-transform: translateX(-200px);
    -o-transform: translateX(-200px);
    -webkit-transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1;
  }
}

@keyframes contentsFromLeft {
  0% {
    transform: translateX(-200px);
    -moz-transform: translateX(-200px);
    -ms-transform: translateX(-200px);
    -o-transform: translateX(-200px);
    -webkit-transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes contentsFromLeft50 {
  0%, 50% {
    transform: translateX(-200px);
    -moz-transform: translateX(-200px);
    -ms-transform: translateX(-200px);
    -o-transform: translateX(-200px);
    -webkit-transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1;
  }
}

@-moz-keyframes contentsFromLeft50 {
  0%, 50% {
    transform: translateX(-200px);
    -moz-transform: translateX(-200px);
    -ms-transform: translateX(-200px);
    -o-transform: translateX(-200px);
    -webkit-transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1;
  }
}

@keyframes contentsFromLeft50 {
  0%, 50% {
    transform: translateX(-200px);
    -moz-transform: translateX(-200px);
    -ms-transform: translateX(-200px);
    -o-transform: translateX(-200px);
    -webkit-transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes contentsFromRight {
  0% {
    transform: translateX(200px);
    -moz-transform: translateX(200px);
    -ms-transform: translateX(200px);
    -o-transform: translateX(200px);
    -webkit-transform: translateX(200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1;
  }
}

@-moz-keyframes contentsFromRight {
  0% {
    transform: translateX(200px);
    -moz-transform: translateX(200px);
    -ms-transform: translateX(200px);
    -o-transform: translateX(200px);
    -webkit-transform: translateX(200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1;
  }
}

@keyframes contentsFromRight {
  0% {
    transform: translateX(200px);
    -moz-transform: translateX(200px);
    -ms-transform: translateX(200px);
    -o-transform: translateX(200px);
    -webkit-transform: translateX(200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes contentsFromRight50 {
  0%, 50% {
    transform: translateX(200px);
    -moz-transform: translateX(200px);
    -ms-transform: translateX(200px);
    -o-transform: translateX(200px);
    -webkit-transform: translateX(200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1;
  }
}

@-moz-keyframes contentsFromRight50 {
  0%, 50% {
    transform: translateX(200px);
    -moz-transform: translateX(200px);
    -ms-transform: translateX(200px);
    -o-transform: translateX(200px);
    -webkit-transform: translateX(200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1;
  }
}

@keyframes contentsFromRight50 {
  0%, 50% {
    transform: translateX(200px);
    -moz-transform: translateX(200px);
    -ms-transform: translateX(200px);
    -o-transform: translateX(200px);
    -webkit-transform: translateX(200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes contentsFloating {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes contentsFloating {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes contentsFloating {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes contentsFloating50 {
  0%, 50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes contentsFloating50 {
  0%, 50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes contentsFloating50 {
  0%, 50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body {
  border-top: solid 10px #ea5514;
}

main {
  background: url(../../common/img/branding/bgTxt_branding.png) no-repeat top left, url(../../common/img/branding/bgTxt_service.png) no-repeat bottom right;
}

main .service {
  padding-bottom: 119px;
  line-height: 21px;
}

main .service h1 {
  width: 1143px;
  padding: 184px 0 33px;
}

main .service_reading {
  padding-bottom: 39px;
}

main .service_contents_item {
  display: inline-block;
  width: 457px;
  margin-bottom: 15px;
  border-bottom: solid 3px #ea5514;
  padding: 0 28px 25px;
  position: relative;
  transition: opacity 0.3s;
}

main .service_contents_item::before {
  content: "";
  display: block;
  width: 16px;
  height: 145px;
  border-top: solid 3px #ea5514;
  border-left: solid 3px #ea5514;
  position: absolute;
  bottom: 0;
  left: 0;
}

main .service_contents_item::after {
  content: "";
  display: block;
  width: 329px;
  height: 145px;
  border-top: solid 3px #ea5514;
  border-right: solid 3px #ea5514;
  position: absolute;
  bottom: 0;
  right: 0;
}

main .service_contents_item h2 {
  padding-bottom: 18px;
}

main .service_contents_item .logo_keinomori {
  width: 114px;
}

main .service_contents_item .logo_kurumanomori {
  width: 93px;
}

main .service_contents_item .logo_keipark {
  width: 135px;
}

main .service_contents_item .logo_shinsyaichiba {
  width: 122px;
}

main .service_contents_item .logo_mahhashaken {
  width: 129px;
}

main .service_contents_item .logo_picars {
  width: 100px;
  padding-bottom: 8px;
}

main .service_contents_item .logo_sensha {
  width: 140px;
  padding-bottom: 8px;
}

main .service_contents_item:nth-child(odd) {
  margin-right: 32px;
}

main .service_contents_item:hover {
  opacity: 0.7;
}

main .service_contents_item_info {
  display: flex;
}

main .service_contents_item_info img {
  width: 132px;
  margin-right: 25px;
}

main .service.active h1 {
  animation: contentsFromLeft 1s;
  -moz-animation: contentsFromLeft 1s;
  -o-animation: contentsFromLeft 1s;
  -webkit-animation: contentsFromLeft 1s;
}

main .domain {
  position: relative;
  padding-bottom: 123px;
  line-height: 21px;
}

main .domain h1 {
  width: 998px;
}

main .domain_reading {
  padding-bottom: 27px;
}

main .domain_contents {
  width: 589px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

main .domain_contents li {
  width: 115px;
  height: 115px;
  border-radius: 50%;
  border: solid 1px #000;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url(../../common/img/bg.png);
  z-index: 1;
}

main .domain_contents li:nth-child(n-4) {
  margin-bottom: 46px;
}

main .domain_contents li:not(:nth-child(4n)) {
  margin-right: 40px;
}

main .domain_contents li.active {
  border: none;
  background: #ea5514;
  color: #fff;
}

main .domain_contents li.active::before {
  content: "";
  position: absolute;
  display: block;
  width: 143px;
  height: 143px;
  background: url(../../common/img/branding/pointer_domain.png) no-repeat;
  transform-origin: center center;
  -moz-transform-origin: center center;
  -ms-transform-origin: center center;
  -o-transform-origin: center center;
  -webkit-transform-origin: center center;
  animation: domain_pointerRotate 12s linear infinite;
  -moz-animation: domain_pointerRotate 12s linear infinite;
  -o-animation: domain_pointerRotate 12s linear infinite;
  -webkit-animation: domain_pointerRotate 12s linear infinite;
}

@-webkit-keyframes domain_pointerRotate {
  0% {
    transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  100% {
    transform: rotate(365deg);
    -moz-transform: rotate(365deg);
    -ms-transform: rotate(365deg);
    -o-transform: rotate(365deg);
    -webkit-transform: rotate(365deg);
  }
}

@-moz-keyframes domain_pointerRotate {
  0% {
    transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  100% {
    transform: rotate(365deg);
    -moz-transform: rotate(365deg);
    -ms-transform: rotate(365deg);
    -o-transform: rotate(365deg);
    -webkit-transform: rotate(365deg);
  }
}

@keyframes domain_pointerRotate {
  0% {
    transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  100% {
    transform: rotate(365deg);
    -moz-transform: rotate(365deg);
    -ms-transform: rotate(365deg);
    -o-transform: rotate(365deg);
    -webkit-transform: rotate(365deg);
  }
}

main .domain_contents:before {
  content: "";
  display: block;
  width: 502px;
  height: 183px;
  border: solid 20px #ea5514;
  opacity: 0.15;
  position: absolute;
  top: 47px;
  left: 42px;
  z-index: 0;
  box-sizing: border-box;
}

main .domain_img {
  width: 470px;
  position: absolute;
  top: -15px;
  right: 0;
  z-index: 1;
}

main .domain::after {
  content: "";
  display: block;
  width: 425px;
  height: 274px;
  background: #ea5514;
  opacity: 0.15;
  position: absolute;
  top: 97px;
  right: 0;
  z-index: 0;
}

main .domain.default h1,
main .domain.default .domain_reading,
main .domain.default .domain_contents,
main .domain.default .domain_img {
  visibility: hidden;
}

main .domain.active h1 {
  animation: contentsFromLeft 1s;
  -moz-animation: contentsFromLeft 1s;
  -o-animation: contentsFromLeft 1s;
  -webkit-animation: contentsFromLeft 1s;
}

main .domain.active .domain_reading {
  animation: contentsFromRight50 1.3s;
  -moz-animation: contentsFromRight50 1.3s;
  -o-animation: contentsFromRight50 1.3s;
  -webkit-animation: contentsFromRight50 1.3s;
}

main .domain.active .domain_contents {
  animation: contentsFromBottom50 1.6s;
  -moz-animation: contentsFromBottom50 1.6s;
  -o-animation: contentsFromBottom50 1.6s;
  -webkit-animation: contentsFromBottom50 1.6s;
}

main .domain.active .domain_img {
  animation: contentsFromRight50 1.3s;
  -moz-animation: contentsFromRight50 1.3s;
  -o-animation: contentsFromRight50 1.3s;
  -webkit-animation: contentsFromRight50 1.3s;
}

main .shops {
  background: url(../../common/img/branding/img_map.png) no-repeat 218px 37px;
  position: relative;
  padding-bottom: 164px;
  line-height: 22px;
}

main .shops h1 {
  width: 1000px;
  padding-bottom: 50px;
}

main .shops_reading {
  padding-bottom: 68px;
}

main .shops_contents {
  display: flex;
  justify-content: space-between;
}

main .shops_contents_shopDetail_item {
  width: 276px;
  padding: 0 15px 25px;
  border-bottom: solid 3px #ea5514;
  position: relative;
}

main .shops_contents_shopDetail_item::before {
  content: "";
  display: block;
  width: 74px;
  height: 292px;
  border-top: solid 3px #ea5514;
  border-left: solid 3px #ea5514;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

main .shops_contents_shopDetail_item::after {
  content: "";
  display: block;
  width: 79px;
  height: 292px;
  border-top: solid 3px #ea5514;
  border-right: solid 3px #ea5514;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}

main .shops_contents_shopDetail_item_logo {
  margin: 0 auto;
  padding-bottom: 11px;
  width: 121.5px;
}

main .shops_contents_shopDetail_item_logo .logo_keinomori, main .shops_contents_shopDetail_item_logo .logo_sensha {
  width: 108px;
}

main .shops_contents_shopDetail_item_logo .logo_kurumanomori,
main .shops_contents_shopDetail_item_logo .logo_picars {
  width: 94.5px;
}

main .shops_contents_shopDetail_item_logo .logo_keipark,
main .shops_contents_shopDetail_item_logo .logo_shinsyaichiba,
main .shops_contents_shopDetail_item_logo .logo_mahhashaken {
  width: 121.5px;
}

main .shops_contents_shopDetail_item_logo_shopSup {
  font-size: 10px;
  font-weight: normal;
  padding-bottom: 8px;
}

main .shops_contents_shopDetail_item_shopName {
  font-size: 21px;
}

main .shops_contents_shopDetail_item_btnBox {
  margin: 17px 0 19px;
  font-size: 0;
}

main .shops_contents_shopDetail_item_btnBox a {
  display: inline-block;
  width: 133px;
  border: solid 1px #000;
  box-sizing: border-box;
  padding: 7px 0;
  position: relative;
  transition: border 0.5s ease-out;
  -moz-transition: border 0.5s ease-out;
  -o-transition: border 0.5s ease-out;
  -webkit-transition: border 0.5s ease-out;
}

main .shops_contents_shopDetail_item_btnBox a p {
  font-size: 12px;
  padding-left: 40px;
  display: inline-block;
  vertical-align: middle;
  transition: transform 0.5s ease-out;
  -moz-transition: transform 0.5s ease-out;
  -o-transition: transform 0.5s ease-out;
  -webkit-transition: transform 0.5s ease-out;
}

main .shops_contents_shopDetail_item_btnBox a p::after {
  content: "";
  display: inline-block;
  width: 19px;
  height: 10px;
  background: url(../../common/img/btn_icon_arrow_black.png) no-repeat;
  background-size: contain;
  margin-left: 4px;
}

main .shops_contents_shopDetail_item_btnBox a::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: -1px;
  left: -1px;
  bottom: -1px;
  right: -1px;
  background: #ea5514;
  transform: scale(0, 1);
  -moz-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  -o-transform: scale(0, 1);
  -webkit-transform: scale(0, 1);
  transform-origin: left top;
  -moz-transform-origin: left top;
  -ms-transform-origin: left top;
  -o-transform-origin: left top;
  -webkit-transform-origin: left top;
  transition: transform 0.5s ease-out;
  -moz-transition: transform 0.5s ease-out;
  -o-transition: transform 0.5s ease-out;
  -webkit-transition: transform 0.5s ease-out;
}

main .shops_contents_shopDetail_item_btnBox a:hover {
  color: #fff;
  border: solid 1px transparent;
}

main .shops_contents_shopDetail_item_btnBox a:hover p {
  transform: translateX(15px);
  -moz-transform: translateX(15px);
  -ms-transform: translateX(15px);
  -o-transform: translateX(15px);
  -webkit-transform: translateX(15px);
}

main .shops_contents_shopDetail_item_btnBox a:hover p::after {
  background: url(../../common/img/btn_icon_arrow_white.png) no-repeat;
  background-size: contain;
}

main .shops_contents_shopDetail_item_btnBox a:hover::after {
  transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
}

main .shops_contents_shopDetail_item_btnBox .btnMap {
  margin-right: 10px;
}

main .shops_contents_shopDetail_item_btnBox .btnMap::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 17px;
  background: url(../../common/img/branding/btn_map_icon_black.png) no-repeat;
  background-size: contain;
  position: absolute;
  top: 50%;
  left: 23px;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

main .shops_contents_shopDetail_item_btnBox .btnMap:hover::before {
  background: url(../../common/img/branding/btn_map_icon_white.png) no-repeat;
  background-size: contain;
}

main .shops_contents_shopDetail_item_btnBox .btnShopInner::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 22px;
  background: url(../../common/img/branding/btn_shophukei_icon_black.png) no-repeat;
  background-size: contain;
  vertical-align: middle;
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

main .shops_contents_shopDetail_item_btnBox .btnShopInner:hover::before {
  background: url(../../common/img/branding/btn_shophukei_icon_white.png) no-repeat;
  background-size: contain;
}

main .shops_contents_shopDetail_item_imgBox {
  font-size: 0;
}

main .shops_contents_shopDetail_item_imgBox a {
  width: 63px;
  display: inline-block;
}

main .shops_contents_shopDetail_item_imgBox a:not(:last-child) {
  padding-right: 8px;
}

main .shops_contents_shopDetail_item.default {
  display: none;
}

main .shops_contents_shopDetail_item.active {
  display: block;
}

main .shops_contents_shopDetail #shop13::before, main .shops_contents_shopDetail #shop13::after, main .shops_contents_shopDetail #shop14::before, main .shops_contents_shopDetail #shop14::after {
  height: 240px;
}

main .shops_contents_shopDetail #shop15::before, main .shops_contents_shopDetail #shop15::after {
  height: 218px;
}

main .shops_contents_map {
  position: absolute;
  top: 0;
  left: 0;
}

main .shops_contents_map_anchor {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background: #ea5514;
  opacity: 0.5;
  position: absolute;
}

main .shops_contents_map_anchor::after {
  content: "";
  display: block;
  width: 150%;
  height: 150%;
  border-radius: 50%;
  background: #ea5514;
  opacity: 0.2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

main .shops_contents_map_anchor.default::after {
  animation: anchorAnimation 3s ease-out infinite;
  -moz-animation: anchorAnimation 3s ease-out infinite;
  -o-animation: anchorAnimation 3s ease-out infinite;
  -webkit-animation: anchorAnimation 3s ease-out infinite;
}

@-webkit-keyframes anchorAnimation {
  0% {
    transform: translate(-50%, -50%) scale(1);
    -moz-transform: translate(-50%, -50%) scale(1);
    -ms-transform: translate(-50%, -50%) scale(1);
    -o-transform: translate(-50%, -50%) scale(1);
    -webkit-transform: translate(-50%, -50%) scale(1);
    opacity: 0.2;
  }
  100% {
    transform: translate(-50%, -50%) scale(2);
    -moz-transform: translate(-50%, -50%) scale(2);
    -ms-transform: translate(-50%, -50%) scale(2);
    -o-transform: translate(-50%, -50%) scale(2);
    -webkit-transform: translate(-50%, -50%) scale(2);
    opacity: 0;
  }
}

@-moz-keyframes anchorAnimation {
  0% {
    transform: translate(-50%, -50%) scale(1);
    -moz-transform: translate(-50%, -50%) scale(1);
    -ms-transform: translate(-50%, -50%) scale(1);
    -o-transform: translate(-50%, -50%) scale(1);
    -webkit-transform: translate(-50%, -50%) scale(1);
    opacity: 0.2;
  }
  100% {
    transform: translate(-50%, -50%) scale(2);
    -moz-transform: translate(-50%, -50%) scale(2);
    -ms-transform: translate(-50%, -50%) scale(2);
    -o-transform: translate(-50%, -50%) scale(2);
    -webkit-transform: translate(-50%, -50%) scale(2);
    opacity: 0;
  }
}

@keyframes anchorAnimation {
  0% {
    transform: translate(-50%, -50%) scale(1);
    -moz-transform: translate(-50%, -50%) scale(1);
    -ms-transform: translate(-50%, -50%) scale(1);
    -o-transform: translate(-50%, -50%) scale(1);
    -webkit-transform: translate(-50%, -50%) scale(1);
    opacity: 0.2;
  }
  100% {
    transform: translate(-50%, -50%) scale(2);
    -moz-transform: translate(-50%, -50%) scale(2);
    -ms-transform: translate(-50%, -50%) scale(2);
    -o-transform: translate(-50%, -50%) scale(2);
    -webkit-transform: translate(-50%, -50%) scale(2);
    opacity: 0;
  }
}

main .shops_contents_map_anchor.active {
  transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  opacity: 1;
}

main .shops_contents_map_anchor.active::before {
  content: "";
  display: block;
  width: 125%;
  height: 125%;
  background: url(../../common/img/branding/pointer_domain.png) no-repeat;
  background-size: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: center center;
  -moz-transform-origin: center center;
  -ms-transform-origin: center center;
  -o-transform-origin: center center;
  -webkit-transform-origin: center center;
  animation: shops_pointerRotate 12s linear infinite;
  -moz-animation: shops_pointerRotate 12s linear infinite;
  -o-animation: shops_pointerRotate 12s linear infinite;
  -webkit-animation: shops_pointerRotate 12s linear infinite;
}

@-webkit-keyframes shops_pointerRotate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
    -moz-transform: translate(-50%, -50%) rotate(0deg);
    -ms-transform: translate(-50%, -50%) rotate(0deg);
    -o-transform: translate(-50%, -50%) rotate(0deg);
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(365deg);
    -moz-transform: translate(-50%, -50%) rotate(365deg);
    -ms-transform: translate(-50%, -50%) rotate(365deg);
    -o-transform: translate(-50%, -50%) rotate(365deg);
    -webkit-transform: translate(-50%, -50%) rotate(365deg);
  }
}

@-moz-keyframes shops_pointerRotate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
    -moz-transform: translate(-50%, -50%) rotate(0deg);
    -ms-transform: translate(-50%, -50%) rotate(0deg);
    -o-transform: translate(-50%, -50%) rotate(0deg);
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(365deg);
    -moz-transform: translate(-50%, -50%) rotate(365deg);
    -ms-transform: translate(-50%, -50%) rotate(365deg);
    -o-transform: translate(-50%, -50%) rotate(365deg);
    -webkit-transform: translate(-50%, -50%) rotate(365deg);
  }
}

@keyframes shops_pointerRotate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
    -moz-transform: translate(-50%, -50%) rotate(0deg);
    -ms-transform: translate(-50%, -50%) rotate(0deg);
    -o-transform: translate(-50%, -50%) rotate(0deg);
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(365deg);
    -moz-transform: translate(-50%, -50%) rotate(365deg);
    -ms-transform: translate(-50%, -50%) rotate(365deg);
    -o-transform: translate(-50%, -50%) rotate(365deg);
    -webkit-transform: translate(-50%, -50%) rotate(365deg);
  }
}

main .shops_contents_map #anchor01 {
  top: 357px;
  left: 465px;
}

main .shops_contents_map #anchor02 {
  top: 403px;
  left: 481px;
}

main .shops_contents_map #anchor03 {
  top: 458px;
  left: 544px;
}

main .shops_contents_map #anchor04 {
  top: 480px;
  left: 459px;
}

main .shops_contents_shopList {
  width: 262px;
  margin-right: 171px;
}

main .shops_contents_shopList li {
  border-bottom: dotted 1px #000;
  overflow: hidden;
}

main .shops_contents_shopList li a {
  display: inline-block;
  width: calc(100% - 37px);
  padding: 6px 0 6px 37px;
  position: relative;
}

main .shops_contents_shopList li a::after {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border-top: solid 1px #000;
  border-right: solid 1px #000;
  transform: rotate(45deg);
  position: absolute;
  top: 14px;
  right: 19px;
}

main .shops_contents_shopList li a:hover, main .shops_contents_shopList li a.active {
  color: #ea5514;
  background: url(../../common/img/data_image.png);
}

main .shops_contents_shopList li a:hover::after, main .shops_contents_shopList li a.active::after {
  border-top: solid 1px #ea5514;
  border-right: solid 1px #ea5514;
}

main .shops_contents_shopList li a.active {
  background: none;
}

main .shops_contents_shopList li a.active::before {
  content: "";
  display: block;
  width: 200%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  background: url(../../common/img/data_image.png);
  animation: bgAnimation 10s linear infinite;
  -moz-animation: bgAnimation 10s linear infinite;
  -o-animation: bgAnimation 10s linear infinite;
  -webkit-animation: bgAnimation 10s linear infinite;
}

@-webkit-keyframes bgAnimation {
  0% {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-transform: translateX(0);
  }
  100% {
    transform: translateX(50%);
    -moz-transform: translateX(50%);
    -ms-transform: translateX(50%);
    -o-transform: translateX(50%);
    -webkit-transform: translateX(50%);
  }
}

@-moz-keyframes bgAnimation {
  0% {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-transform: translateX(0);
  }
  100% {
    transform: translateX(50%);
    -moz-transform: translateX(50%);
    -ms-transform: translateX(50%);
    -o-transform: translateX(50%);
    -webkit-transform: translateX(50%);
  }
}

@keyframes bgAnimation {
  0% {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-transform: translateX(0);
  }
  100% {
    transform: translateX(50%);
    -moz-transform: translateX(50%);
    -ms-transform: translateX(50%);
    -o-transform: translateX(50%);
    -webkit-transform: translateX(50%);
  }
}

main .shops.default h1,
main .shops.default .shops_reading,
main .shops.default .shops_contents {
  visibility: hidden;
}

main .shops.active h1,
main .shops.active .shops_contents_map_anchor {
  animation: contentsFromLeft 1s;
  -moz-animation: contentsFromLeft 1s;
  -o-animation: contentsFromLeft 1s;
  -webkit-animation: contentsFromLeft 1s;
}

main .shops.active .shops_reading {
  animation: contentsFromLeft50 1.3s;
  -moz-animation: contentsFromLeft50 1.3s;
  -o-animation: contentsFromLeft50 1.3s;
  -webkit-animation: contentsFromLeft50 1.3s;
}

main .shops.active .shops_contents_shopDetail {
  animation: contentsFromLeft50 1.6s;
  -moz-animation: contentsFromLeft50 1.6s;
  -o-animation: contentsFromLeft50 1.6s;
  -webkit-animation: contentsFromLeft50 1.6s;
}

main .shops.active .shops_contents_map_anchor.active::after,
main .shops.active .shops_contents_shopList {
  animation: contentsFromLeft50 1.9s;
  -moz-animation: contentsFromLeft50 1.9s;
  -o-animation: contentsFromLeft50 1.9s;
  -webkit-animation: contentsFromLeft50 1.9s;
}
