@charset "UTF-8";

/* reset */
*{
    margin: 0;
    padding: 0;
}

/* common */
*{
    font-size: 13px;
}
main{
    width: 232px;
    margin: 30px auto;
    padding: 60px 45px;
    text-align: center;
    border: solid 1px #000;
}
a{
    color: #000;
}

p > label{
    font-weight: bold;
}
input[type="text"],
input[type="password"],
input[type="button"]{
    width: 100%;
    line-height: 40px;
    border: solid 1px #000;
    background-color: #fff2cc;
}
input[type="button"]{
    background-color: #c9daf9;
    font-weight: bold;
    margin-bottom: 20px;
}

.content{
    text-align: left;
}
.item{
    width: 100%;
    padding-bottom: 20px;
}
.item:nth-child(2){
    padding-bottom: 40px;
}