@-webkit-keyframes contentsFromBottom {
  0% {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -ms-transform: translateY(200px);
    -o-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}

@-moz-keyframes contentsFromBottom {
  0% {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -ms-transform: translateY(200px);
    -o-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}

@keyframes contentsFromBottom {
  0% {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -ms-transform: translateY(200px);
    -o-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes contentsFromBottom50 {
  0%, 50% {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -ms-transform: translateY(200px);
    -o-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}

@-moz-keyframes contentsFromBottom50 {
  0%, 50% {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -ms-transform: translateY(200px);
    -o-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}

@keyframes contentsFromBottom50 {
  0%, 50% {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -ms-transform: translateY(200px);
    -o-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes contentsFromLeft {
  0% {
    transform: translateX(-200px);
    -moz-transform: translateX(-200px);
    -ms-transform: translateX(-200px);
    -o-transform: translateX(-200px);
    -webkit-transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1;
  }
}

@-moz-keyframes contentsFromLeft {
  0% {
    transform: translateX(-200px);
    -moz-transform: translateX(-200px);
    -ms-transform: translateX(-200px);
    -o-transform: translateX(-200px);
    -webkit-transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1;
  }
}

@keyframes contentsFromLeft {
  0% {
    transform: translateX(-200px);
    -moz-transform: translateX(-200px);
    -ms-transform: translateX(-200px);
    -o-transform: translateX(-200px);
    -webkit-transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes contentsFromLeft50 {
  0%, 50% {
    transform: translateX(-200px);
    -moz-transform: translateX(-200px);
    -ms-transform: translateX(-200px);
    -o-transform: translateX(-200px);
    -webkit-transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1;
  }
}

@-moz-keyframes contentsFromLeft50 {
  0%, 50% {
    transform: translateX(-200px);
    -moz-transform: translateX(-200px);
    -ms-transform: translateX(-200px);
    -o-transform: translateX(-200px);
    -webkit-transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1;
  }
}

@keyframes contentsFromLeft50 {
  0%, 50% {
    transform: translateX(-200px);
    -moz-transform: translateX(-200px);
    -ms-transform: translateX(-200px);
    -o-transform: translateX(-200px);
    -webkit-transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes contentsFromRight {
  0% {
    transform: translateX(200px);
    -moz-transform: translateX(200px);
    -ms-transform: translateX(200px);
    -o-transform: translateX(200px);
    -webkit-transform: translateX(200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1;
  }
}

@-moz-keyframes contentsFromRight {
  0% {
    transform: translateX(200px);
    -moz-transform: translateX(200px);
    -ms-transform: translateX(200px);
    -o-transform: translateX(200px);
    -webkit-transform: translateX(200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1;
  }
}

@keyframes contentsFromRight {
  0% {
    transform: translateX(200px);
    -moz-transform: translateX(200px);
    -ms-transform: translateX(200px);
    -o-transform: translateX(200px);
    -webkit-transform: translateX(200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes contentsFromRight50 {
  0%, 50% {
    transform: translateX(200px);
    -moz-transform: translateX(200px);
    -ms-transform: translateX(200px);
    -o-transform: translateX(200px);
    -webkit-transform: translateX(200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1;
  }
}

@-moz-keyframes contentsFromRight50 {
  0%, 50% {
    transform: translateX(200px);
    -moz-transform: translateX(200px);
    -ms-transform: translateX(200px);
    -o-transform: translateX(200px);
    -webkit-transform: translateX(200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1;
  }
}

@keyframes contentsFromRight50 {
  0%, 50% {
    transform: translateX(200px);
    -moz-transform: translateX(200px);
    -ms-transform: translateX(200px);
    -o-transform: translateX(200px);
    -webkit-transform: translateX(200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes contentsFloating {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes contentsFloating {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes contentsFloating {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes contentsFloating50 {
  0%, 50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes contentsFloating50 {
  0%, 50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes contentsFloating50 {
  0%, 50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body {
  border-top: solid 10px #ea5514;
}

main {
  background: url(../../common/img/outline/bgTxt_outline.png) no-repeat top left, url(../../common/img/outline/bgTxt_history.png) no-repeat bottom right;
}

main .outline {
  position: relative;
}

main .outline h1 {
  width: 559px;
  padding: 222px 0 37px;
}

main .outline .aboutLogo {
  width: 513px;
  background: #ea5514;
  text-align: center;
  position: absolute;
  top: 139px;
  right: 90px;
}

main .outline .aboutLogo img {
  width: 332px;
  padding: 61px 0 0;
}

main .outline .aboutLogo a {
  display: inline-block;
  width: 182px;
  color: #fff;
  border: solid 1px #fff;
  box-sizing: border-box;
  padding: 2px 0;
  margin: 35px 0;
  position: relative;
}

main .outline .aboutLogo a p {
  position: relative;
  z-index: 1;
}

main .outline .aboutLogo a:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #fff;
  transform: scale(0, 1);
  -moz-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  -o-transform: scale(0, 1);
  -webkit-transform: scale(0, 1);
  transform-origin: left top;
  -moz-transform-origin: left top;
  -ms-transform-origin: left top;
  -o-transform-origin: left top;
  -webkit-transform-origin: left top;
  transition: transform 0.3s;
  -moz-transition: transform 0.3s;
  -o-transition: transform 0.3s;
  -webkit-transition: transform 0.3s;
}

main .outline .aboutLogo a:hover {
  color: #ea5514;
}

main .outline .aboutLogo a:hover::after {
  transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
}

main .outline .aboutLogoBox {
  display: none;
  width: 890px;
  text-align: center;
  color: #ea5514;
  background: rgba(255, 255, 255, 0.95);
  position: absolute;
  top: 222px;
  left: 57px;
  z-index: 1;
}

main .outline .aboutLogoBox.default {
  display: none;
}

main .outline .aboutLogoBox.active {
  display: block;
}

main .outline .aboutLogoBox_btnClose {
  display: block;
  position: absolute;
  top: 47px;
  right: 32px;
}

main .outline .aboutLogoBox_btnClose::before {
  content: "";
  display: block;
  width: 41px;
  height: 1px;
  transform: rotate(45deg);
  background: #ea5514;
}

main .outline .aboutLogoBox_btnClose::after {
  content: "";
  display: block;
  width: 41px;
  height: 1px;
  transform: rotate(-45deg);
  background: #ea5514;
}

main .outline .aboutLogoBox h2 {
  width: 267px;
  margin: auto;
  padding: 62px 0 90px;
}

main .outline .aboutLogoBox_logo {
  width: 412px;
}

main .outline .aboutLogoBox_txt {
  width: 705px;
  text-align: left;
  padding: 78px 0 82px;
  margin: 0 auto;
}

main .outline_content {
  font-size: 13px;
}

main .outline_content tr:nth-child(n+8) td {
  padding-bottom: 1em;
}

main .outline_content tr td {
  vertical-align: baseline;
}

main .outline_content tr td:first-child {
  width: 100px;
}

main .outline_content tr td .txtBox {
  margin-bottom: 1em;
}

main .outline_content tr td .txtBox:nth-child(odd) {
  float: left;
  width: 422px;
}

main .outline::before {
  content: "";
  display: block;
  width: 581px;
  height: 357px;
  background: #ea5514;
  opacity: 0.15;
  position: absolute;
  top: 0;
  right: 0;
}

main .outline.active h1 {
  animation: contentsFromLeft 1s;
  -moz-animation: contentsFromLeft 1s;
  -o-animation: contentsFromLeft 1s;
  -webkit-animation: contentsFromLeft 1s;
}

main .outline.active .outline_content {
  animation: contentsFromBottom50 1.3s;
  -moz-animation: contentsFromBottom50 1.3s;
  -o-animation: contentsFromBottom50 1.3s;
  -webkit-animation: contentsFromBottom50 1.3s;
}

main .outline.active .aboutLogo a {
  animation: contentsFromBottom50 1.6s;
  -moz-animation: contentsFromBottom50 1.6s;
  -o-animation: contentsFromBottom50 1.6s;
  -webkit-animation: contentsFromBottom50 1.6s;
}

main .history {
  padding-bottom: 145px;
}

main .history h1 {
  width: 1002px;
  padding: 109px 0 35px;
}

main .history_inner {
  display: flex;
}

main .history_inner_content {
  padding-right: 20px;
  line-height: 22px;
  width: 566px;
}

main .history_inner_content_item {
  display: flex;
  padding: 56px 0 0;
}

main .history_inner_content_item img {
  width: 25px;
  height: 100%;
}

main .history_inner_content_item_box .year_08 {
  padding-bottom: 17px;
}

main .history_inner_content_item_box .year_09 {
  padding-bottom: 16px;
}

main .history_inner_content_item_box .year_11,
main .history_inner_content_item_box .year_14 {
  padding-bottom: 22px;
}

main .history_inner_content_item_box .year_12 {
  padding-bottom: 23px;
}

main .history_inner_content_item_box .year_13 {
  padding-bottom: 21px;
}

main .history_inner_content_item_box .year_15,
main .history_inner_content_item_box .year_17 {
  padding-bottom: 24px;
}

main .history_inner_content_item_box .year_16 {
  padding-bottom: 26px;
}

main .history_inner_content_item_box_year p span {
  text-align: right;
  display: inline-block;
  width: 51px;
  padding-right: 19px;
}

main .history_inner_imgs {
  width: 416px;
}

main .history_inner_imgs img {
  display: block;
}

main .history_inner_imgs img:first-child {
  margin-bottom: 24px;
}

main .history.default h1,
main .history.default .history_inner_content,
main .history.default .history_inner_imgs img:first-child,
main .history.default .history_inner_imgs img:last-child {
  visibility: hidden;
}

main .history.active h1 {
  animation: contentsFromLeft 1s;
  -moz-animation: contentsFromLeft 1s;
  -o-animation: contentsFromLeft 1s;
  -webkit-animation: contentsFromLeft 1s;
}

main .history.active .history_inner_content {
  animation: contentsFromLeft50 1.3s;
  -moz-animation: contentsFromLeft50 1.3s;
  -o-animation: contentsFromLeft50 1.3s;
  -webkit-animation: contentsFromLeft50 1.3s;
}

main .history.active .history_inner_imgs img:first-child {
  animation: contentsFromBottom 1s;
  -moz-animation: contentsFromBottom 1s;
  -o-animation: contentsFromBottom 1s;
  -webkit-animation: contentsFromBottom 1s;
}

main .history.active .history_inner_imgs img:last-child {
  animation: contentsFromBottom50 1.3s;
  -moz-animation: contentsFromBottom50 1.3s;
  -o-animation: contentsFromBottom50 1.3s;
  -webkit-animation: contentsFromBottom50 1.3s;
}

main .chart {
  padding-bottom: 65px;
  position: relative;
}

main .chart h1 {
  width: 1003px;
  padding-bottom: 31px;
}

main .chart_imgs {
  display: flex;
  position: relative;
  z-index: 1;
}

main .chart_imgs img:first-child {
  width: 397px;
  padding: 35px 63px 0 0;
}

main .chart_imgs img:last-child {
  width: 509px;
}

main .chart::before {
  content: "";
  display: block;
  width: 100vw;
  height: 401px;
  background: #ea5514;
  opacity: 0.15;
  position: absolute;
  top: 158px;
  left: -138px;
  z-index: 0;
}

main .chart.default h1,
main .chart.default .chart_imgs img:first-child,
main .chart.default .chart_imgs img:last-child {
  visibility: hidden;
}

main .chart.active h1 {
  animation: contentsFromLeft 1s;
  -moz-animation: contentsFromLeft 1s;
  -o-animation: contentsFromLeft 1s;
  -webkit-animation: contentsFromLeft 1s;
}

main .chart.active .chart_imgs img:first-child {
  animation: contentsFromBottom 1s;
  -moz-animation: contentsFromBottom 1s;
  -o-animation: contentsFromBottom 1s;
  -webkit-animation: contentsFromBottom 1s;
}

main .chart.active .chart_imgs img:last-child {
  animation: contentsFromBottom50 1.3s;
  -moz-animation: contentsFromBottom50 1.3s;
  -o-animation: contentsFromBottom50 1.3s;
  -webkit-animation: contentsFromBottom50 1.3s;
}
