@charset "UTF-8";

/* reset */
*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}

/* common */
main{
    width: 520px;
    margin: 80px auto;
}
h1{
    margin-bottom: 20px;
}
.back{
    width: 100%;
    text-align: center;
    background: linear-gradient(#f00, #FFA500 25%, #008000 50%, #00f);
}
.nav{
    position: fixed;
    bottom: 0;
    left: calc((100vw - 520px)/2);
    border: solid 1px #000;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px;
}