main h1 {
  width: 135.5px;
  padding: 0 calc(50% - 135.5px/2);
  margin-bottom: 21px;
}

main .select {
  width: 340px;
  line-height: 1;
  padding: 13.25px 0;
  margin: 0 calc(50% - 340px/2) 44.5px;
  border: solid 2px #fff;
  color: #fff;
  font-size: 16px;
  position: relative;
}

main .select_label {
  text-align: center;
}

main .select_label::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../../common/img/btn_left.svg) no-repeat;
  background-size: contain;
  transform: rotate(-90deg);
  margin-right: 9px;
}

main .select_selectCategory {
  width: 340px;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

main .contents {
  width: 340px;
  margin: 0 calc(50% - 340px/2) 117px;
}

main .contents_innter_item {
  margin-bottom: 30px;
}

main .contents_innter_item_img {
  font-size: 0;
}

main .contents_innter_item_ttl {
  background: #f6821e;
  color: #000;
  font-size: 12px;
  line-height: 24.5px;
  text-align: center;
  padding-right: 49.25px;
  position: relative;
}

main .contents_innter_item_ttl::before {
  content: "";
  display: block;
  width: 49.25px;
  height: 24.5px;
  background: #000;
  position: absolute;
  top: 0;
  right: 0;
}

main .contents_innter_item_ttl::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 0 5px 10px;
  border-color: transparent transparent transparent #f6821e;
  position: absolute;
  top: 50%;
  right: 24.625px;
  transform: translate(50%, -50%);
}
