@charset "UTF-8";
// **************************************************
// * ファイル名：./sass/_common.scss                  *
// * 概要     ：共通の変数や関数用sass                  *
// **************************************************
// **************************************************
// * 変数                                           *
// **************************************************
$c_white : #fff;
$c_black : #000;
$c_yellow : #f6d221;
$c_orange : #f6821e;
$c_red : #a90000;
// **************************************************
// * 関数                                            *
// **************************************************
@mixin border($color:$c_white, $style:solid) {
  border: $style 2px $color;
}
@function harf($Num) {
  @return $Num/2;
}
@mixin font_renner(){
  font-family: "renner";
}
@mixin transform($transform_style){
  transform: $transform_style;
  -moz-transform: $transform_style;
  -ms-transform: $transform_style;
  -o-transform: $transform_style;
  -webkit-transform: $transform_style;
}
@mixin transition($transition_style){
  transition: $transition_style;
  -moz-transition: $transition_style;
  -o-transition: $transition_style;
  -webkit-transition: $transition_style;
}
@mixin animation($animation_name){
  animation: $animation_name;
  -moz-animation: $animation_name;
  -o-animation: $animation_name;
  -webkit-animation: $animation_name;
}
@mixin keyframes($animation_name){
  @-webkit-keyframes #{$animation_name} {
    @content;
  }
  @-moz-keyframes #{$animation_name} {
    @content;
  }
  @keyframes #{$animation_name} {
    @content;
  }
}