@charset "UTF-8";

/* reset */
*{
    margin: 0;
    padding: 0;
}


/* common */
main{
    width: 520px;
    margin: 80px auto;
}
h1{
    margin-bottom: 20px;
}
th{
    font-weight: normal;
    vertical-align: baseline;
    text-align: center;
    width: 84px;
}
td input{
    display: block;
    margin: 0 auto 10px;
}
td input[type="text"]{
    width: 200px;
}
td input[type="button"]{
    font-size: 10px;
    padding: 0 20px;
}