@charset "UTF-8";

/* ========================================================
blogページ専用
======================================================== */
/* ========================================================
main
======================================================== */
/* スマホ用、共通*/
.main h1{
    padding: 37px 20px 14px 20px;
}
.main section{
    border-bottom: none;
    padding: 0 20px;
}
.main a{
    color: #0095d9;
}
.main a:hover{
    text-decoration:underline;
    opacity: 0.7;
}
.border{
    background: url(../common/img/dotted-line.png) repeat-x top left;
    width: 100%;
    height: 4px;
    margin: 30px 0;
    display: block;
}
.articleImg img{
    width: 100%;
    height: 32vh;
}
.articleTxt_ttl a{
    font-size: 20px;
    line-height: 1.5em;
}
.articleTxt_date{
    color: #666;
    padding-bottom:3px;
}
.articleTxt_txt{
    color: #aaa;
    font-size: 14px;
    padding-bottom: 5px;
}
.articleTxt_readBtn{
    display: block;
    text-align: right;
}
.main .toOldBtn{
    color: #666;
    font-size: 16px;
    display: block;
    padding: 10px 0 20px 14px;
}
aside{
    display: none;
    height: 0;
}
/* タブレット用〜643px以上の場合〜*/
@media screen and (min-width: 643px){
    .article{
        display: flex;
    }
    .articleImg{
        width: 68%;
    }
    .articleImg img{
        height: auto;
        width: 100%;
    }
    .articleTxt{
        padding-left: 25px;
    }
}
/* PC用〜998px以上の場合〜*/
@media screen and (min-width: 998px){
    .main h1{
        padding: 40px 50px;
    }
    .main_container{
        display: flex;
    }
    .main section{
        padding: 0;
    }
    .mainContent{
        border-right: solid 1px #ddd;
        margin-bottom: 40px;
        padding: 0 50px;
    }
    .articleTxt{
        padding-left: 14px;
    }
    .articleImg{
        width: 50%;
    }
    aside{
        display: block;
        height: auto;
        padding: 0 14px;
    }
    aside h3{
        font-size: 18px;
        padding-bottom: 15px;
    }
    .lateLst_date{
        color: #666;
    }
    .lateLst_date:not(:last-child){
        padding-bottom: 10px;
    }
    aside .asideAllBtn{
        color: #666;
        text-align: right;
        display: block;
    }
}