@charset "UTF-8";

/* reset */
*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}

/* common */
*{
    font-size: 18px;
}
main{
    width: 40vw;
    margin: 80px auto;
}
h1{
    margin-bottom: 30px;
}

.contents{
    width: 200px;
}
.bar{
    height: 100px;
    background: linear-gradient(#ccc, #fff 40%, #ccc);
    position: relative;
}
.bar_back{
    width: 60%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.bar_back.is-red{
    background: linear-gradient(#f00, #fff 40%, #f00);
}
.bar_back.is-yellow{
    background: linear-gradient(#ff0, #fff 40%, #ff0);
}
.bar_back.is-green{
    background: linear-gradient(#83B243, #fff 40%, #83B243);
}
.bar_num{
    font-size: 40px;
    text-align: center;
    line-height: 100px;
    position: relative;
    z-index: 1;
}
.button{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.button a{
    display: inline-block;
    padding: 3px 20px;
    border-radius: 10px;
    color: #fff;
}
.btn_minus{
    background-color: #00f;
    margin-right: 5px;
}
.btn_plus{
    background-color: #f00;
}