@charset "UTF-8";

/* reset */
*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}

/* common */
*{
    font-size: 18px;
}
main{
    width: 50vw;
    margin: 80px auto;
}
h1{
    margin-bottom: 20px;
}
.search{
    margin-bottom: 10px;
}
.search p{
    display: inline;
}
input[type="button"]{
    padding: 0 20px;
    font-size: 10px;
    margin-bottom: 10px;
}