@charset "UTF-8";

/* reset */
*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}

/* common */
main{
    width: 555px;
    margin: 80px auto;
}
h1{
    margin-bottom: 20px;
}
.banner{
    width: 100%;
    height: 230px;
    overflow: hidden;
    position: relative;
}

/* バナー画像 */
.banner_lst{
    transition: 0.3s;
}
.banner_lst li{
    font-size: 0;
}
.banner_lst li img{
    width: 100%;
    height: 230px;
    object-fit: cover;
    object-position: 100% 70%;
}
.banner_lst li:first-child img{
    object-position: 100% 35%;
}

/* バナードットボタン */
.banner_dots{
    position: absolute;
    top: 50%;
    right: 7px;
    transform: translateY(-50%);
}
.banner_dots li:not(:last-child){
    margin-bottom: 10px;
}
.banner_dots li a{
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #000;
    opacity: 0.7;
}
.banner_dots li a:hover,
.banner_dots li.is-active a{
    background-color: #00f;
    opacity: 1;
}