@charset "UTF-8";
// **************************************************
// * ファイル名：./sass/movie/style.scss          *
// * 概要     ：movieのsass                      *
// **************************************************
@import "../_common";
// **************************************************
// * common                                         *
// **************************************************
// **************************************************
// * main                                           *
// **************************************************
main{
    h1{
        width: harf(271px);
        padding: 0 calc(50% - 135.5px/2);
        margin-bottom: harf(42px);
    }
    .select{
        width: 340px;
        line-height: 1;
        padding: 13.25px 0;
        margin: 0 calc(50% - 340px/2) harf(89px);
        @include border();
        color: $c_white;
        font-size: 16px;
        position: relative;
        &_label{
            text-align: center;
            &::before{
                content: "";
                display: inline-block;
                width: 20px;
                height: 20px;
                background: url(../../common/img/btn_left.svg) no-repeat;
                background-size: contain;
                transform: rotate(-90deg);
                margin-right: 9px;
            }
        }
        &_selectCategory{
            width: 340px;
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    .contents{
        width: 340px;
        margin: 0 calc(50% - 340px/2) 117px;
        &_innter{
            &_item{
                margin-bottom: harf(60px);
                &_img{
                    font-size: 0;
                }
                &_ttl{
                    background: $c_orange;
                    color: $c_black;
                    font-size: 12px;
                    line-height: harf(49px);
                    text-align: center;
                    padding-right: harf(98.5px);
                    position: relative;
                    &::before{
                        content: "";
                        display: block;
                        width: harf(98.5px);
                        height: harf(49px);
                        background: $c_black;
                        position: absolute;
                        top: 0;
                        right: 0;
                    }
                    &::after{
                        content: "";
                        display: block;
                        width: 0;
                        height: 0;
                        border-style: solid;
                        border-width: 5px 0 5px 10px;
                        border-color: transparent transparent transparent $c_orange;
                        position: absolute;
                        top: 50%;
                        right: harf(harf(98.5px));
                        transform: translate(50%,-50%);
                    }
                }
            }
                
        }
    }
}