@charset "UTF-8";
// **************************************************
// * ファイル名：./sass/goods/style.scss          *
// * 概要     ：goodsのsass                      *
// **************************************************
@import "../_common";
// **************************************************
// * common                                         *
// **************************************************
// **************************************************
// * main                                           *
// **************************************************
main{
    h1{
        width: 375px;
        padding: 0 calc(50% - 375px/2);
        margin-bottom: harf(42px);
    }
    .select{
        width: 340px;
        line-height: 1;
        padding: 13.25px 0;
        margin: 0 calc(50% - 340px/2) harf(89px);
        @include border();
        color: $c_white;
        font-size: 16px;
        position: relative;
        &_label{
            text-align: center;
            &::before{
                content: "";
                display: inline-block;
                width: 20px;
                height: 20px;
                background: url(../../common/img/btn_left.svg) no-repeat;
                background-size: contain;
                transform: rotate(-90deg);
                margin-right: 9px;
            }
        }
        &_selectCategory{
            width: 340px;
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    .contents{
        position: relative;
        margin-bottom: 117px;
        padding-bottom: 30px;
        width: 340px;
        margin: 0 calc(50% - 340px/2) 117px;
        &_inner{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            &_item{
                width: 153px;
                margin-bottom: 30px;
                &_img{
                    @include border($c_orange);
                    font-size: 0;
                }
                &_ttl{
                    background: $c_orange;
                    color: $c_black;
                    padding: 5px;
                    h2{
                        font-size: 14px;
                    }
                    &_price{
                        font-size: 12px;
                    }
                }
            }
        }
        
    }
}