@charset "UTF-8";
// **************************************************
// * ファイル名：./sass/character/style.scss          *
// * 概要     ：characterのsass                      *
// **************************************************
@import "../_common";
// **************************************************
// * common                                         *
// **************************************************
// **************************************************
// * main                                           *
// **************************************************
main{
    h1{
        width: harf(467px);
        padding: 0 calc(50% - 233.5px/2);
        margin-bottom: harf(58px);
    }
    .character_nav{
        width: harf(689px);
        margin: 0 calc(50% - 344.5px/2) harf(34px);
        overflow: hidden;
        &_main{
            display: flex;
            font-size: 0;
            transition: all 0.3s;
            li{
                &:not(:first-child){
                    margin-left: -30px;
                }
                &:nth-child(4n + 1){
                    margin-left: 0.5px;
                }
                &:first-child{
                    margin-left: 0;
                }
                &:nth-child(2n){
                    margin-top: 46px;
                }
                a{
                    width: harf(217px);
                }
            }
        }
        &_lst{
            display: flex;
            justify-content: center;
            margin: harf(40px) 0 0;
            &_item{
                line-height: 0;
                &:not(:last-child){
                    margin-right: harf(20px);
                }
                a{
                    width: harf(22px);
                    height: harf(22px);
                    border-radius: 50%;
                    box-sizing: border-box;
                    border: solid 1.5px $c_white;
                }
                &.active{
                    a{
                        background: $c_white;
                    }
                }
            }
        }
    }
    .contents{
        width: 100vw;
        margin-bottom: 117px;
        position: relative;
        height: harf(2374px);
        overflow: hidden;
        &_btn{
            &_left{
                width: harf(36px);
                position: absolute;
                top: harf(457px);
                left: calc(50vw - 340px/2);
            }
            &_right{
                @extend .contents_btn_left;
                left: auto;
                right: calc(50vw - 340px/2);
            }
        }
        &_inner{
            display: flex;
            width: calc(100vw * 18);
            transition: all 0.3s;
            &_item{
                width: 340px;
                margin: 0 calc(50vw - 340px/2) 0;
                &_img{
                    margin-bottom: harf(40px);
                }
                &_name{
                    img{
                        &:nth-child(1){
                            height: harf(113px);
                            margin-bottom: harf(27px);
                            &.twoLine{
                                height: 113px;
                            }
                        }
                        &:nth-child(2){
                            height: harf(54px);
                            margin-bottom: harf(33px);
                        }
                    }
                    
                }
                &_cast{
                    text-align: center;
                    margin-bottom: harf(79px);
                }
            }
        }
    }
}