@charset "UTF-8";
// **************************************************
// * ファイル名：./outline/css/style.scss             *
// * 概要     ：outlineのsass                        *
// **************************************************
@import '../common/common';
// **************************************************
// * common                                         *
// **************************************************
body{
    border-top: solid 10px $c_orange;
}
// **************************************************
// * main                                           *
// **************************************************
main{
    background: url(../../common/img/outline/bgTxt_outline.png) no-repeat top left,
    url(../../common/img/outline/bgTxt_history.png) no-repeat bottom right;
    .outline{
        position: relative;
        h1{
            width: 559px;
            padding: 222px 0 37px;
        }
        .aboutLogo{
            width: 513px;
            background: $c_orange;
            text-align: center;
            position: absolute;
            top: 139px;
            right: 90px;
            img{
                width: 332px;
                padding: 61px 0 0;
            }
            a{
                display: inline-block;
                width: 182px;
                color: $c_white;
                border: solid 1px $c_white;
                box-sizing: border-box;
                padding: 2px 0;
                margin: 35px 0;
                position: relative;
                p{
                    position: relative;
                    z-index: 1;
                }
                &:after{
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    background: $c_white;
                    @include transform(scale(0, 1));
                    @include transform-origin(left top);
                    @include transition(transform 0.3s);
                }
                &:hover{
                    color: $c_orange;
                    &::after{
                        @include transform(scale(1, 1));
                    }
                }
            }
            &Box{
                display: none;
                width: 890px;
                text-align: center;
                color: $c_orange;
                background: rgba(255,255,255,0.95);
                position: absolute;
                top: 222px;
                left: 57px;
                z-index: 1;
                &.default{
                    display: none;
                }
                &.active{
                    display: block;
                }
                &_btnClose{
                    display: block;
                    position: absolute;
                    top: 47px;
                    right: 32px;
                    &::before{
                        content: "";
                        display: block;
                        width: 41px;
                        height: 1px;
                        transform: rotate(45deg);
                        background: $c_orange;

                    }
                    &::after{
                        content: "";
                        display: block;
                        width: 41px;
                        height: 1px;
                        transform: rotate(-45deg);
                        background: $c_orange;

                    }
                }
                h2{
                    width: 267px;
                    margin: auto;
                    padding: 62px 0 90px;
                }
                &_logo{
                    width: 412px;
                }
                &_txt{
                    width: 705px;
                    text-align: left;
                    padding: 78px 0 82px;
                    margin: 0 auto;
                }
            }
        }
        &_content{
            font-size: 13px;
            tr{
                &:nth-child(n+8){
                    td{
                        padding-bottom: 1em;
                    }
                }
                td{
                    vertical-align: baseline;
                    &:first-child{
                        width: 100px;
                    }
                    .txtBox{
                        margin-bottom: 1em;
                        &:nth-child(odd){
                            float: left;
                            width: 422px;
                        }
                    }
                }
            }
        }
        &::before{
            content: "";
            display: block;
            width: 581px;
            height: 357px;
            background: #ea5514;
            opacity: 0.15;
            position: absolute;
            top: 0;
            right: 0;
        }
        &.active{
            & h1{
                @include animation(contentsFromLeft 1s);
            }
            & .outline_content{
                @include animation(contentsFromBottom50 1.3s)
            }
            & .aboutLogo a{
                @include animation(contentsFromBottom50 1.6s)
            }
        }
    } //outline

    .history{
        padding-bottom: 145px;
        h1{
            width: 1002px;
            padding: 109px 0 35px;
        }
        &_inner{
            display: flex;
            &_content{
                padding-right: 20px;
                line-height: 22px;
                width: 566px;
                &_item{
                    display: flex;
                    padding: 56px 0 0;
                    img{
                        width: 25px;
                        height: 100%;
                    }
                    &_box{
                        .year_08{
                            padding-bottom: 17px;
                        }
                        .year_09{
                            padding-bottom: 16px;
                        }
                        .year_11,
                        .year_14{
                            padding-bottom: 22px;
                        }
                        .year_12{
                            padding-bottom: 23px;
                        }
                        .year_13{
                            padding-bottom: 21px;
                        }
                        .year_15,
                        .year_17{
                            padding-bottom: 24px;
                        }
                        .year_16{
                            padding-bottom: 26px;
                        }
                        &_year{
                            p{
                                span{
                                    text-align: right;
                                    display: inline-block;
                                    width: 51px;
                                    padding-right:19px;
                                }
                            }
                        }
                    }
                }
            }
            &_imgs{
                width: 416px;
                img{
                    display: block;
                    &:first-child{
                        margin-bottom: 24px;
                    }
                }
            }
        }
        &.default{
            & h1,
            & .history_inner_content,
            & .history_inner_imgs img:first-child,
            & .history_inner_imgs img:last-child{
                visibility: hidden;
            }
        }
        &.active{
            & h1{
                @include animation(contentsFromLeft 1s);
            }
            & .history_inner_content{
                @include animation(contentsFromLeft50 1.3s);
            }
            & .history_inner_imgs img:first-child{
                @include animation(contentsFromBottom 1s);
            }
            & .history_inner_imgs img:last-child{
                @include animation(contentsFromBottom50 1.3s);
            }
        }
    }//history

    .chart{
        padding-bottom: 65px;
        position: relative;
        h1{
            width: 1003px;
            padding-bottom: 31px;
        }
        &_imgs{
            display: flex;
            position: relative;
            z-index: 1;
            img{
                &:first-child{
                    width: 397px;
                    padding: 35px 63px 0 0;
                }
                &:last-child{
                    width: 509px;
                }
            }
        }
        &::before{
            content: "";
            display: block;
            width: 100vw;
            height: 401px;
            background: $c_orange;
            opacity: 0.15;
            position: absolute;
            top: 158px;
            left: -138px;
            z-index: 0;
        }
        &.default{
            & h1,
            & .chart_imgs img:first-child,
            & .chart_imgs img:last-child{
                visibility: hidden;
            }
        }
        &.active{
            & h1{
                @include animation(contentsFromLeft 1s);
            }
            & .chart_imgs img:first-child{
                @include animation(contentsFromBottom 1s);
            }
            & .chart_imgs img:last-child{
                @include animation(contentsFromBottom50 1.3s);
            }
        }
    }//chart
    
}