@charset "UTF-8";

/* reset */
*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}

/* common */
*{
    font-size: 18px;
}
main{
    width: 40vw;
    margin: 80px auto;
}
h1{
    margin-bottom: 30px;
}
.edit{
    border-left: solid 2px #000;
    border-right: solid 2px #000;
    border-bottom: solid 2px #000;
    padding: 20px 10px 10px;
    margin-bottom: 20px;
    position: relative;
}
.edit::before,
.edit::after{
    content: "";
    height: 2px;
    background-color: #000;
    position: absolute;
}
.edit::before{
    width: 10px;
    top: 0;
    left: 0;
}
.edit::after{
    width: 73%;
    top: 0;
    right: 0;
}
h2{
    font-weight: normal;
    position: absolute;
    top: -12px;
    left: 18px;
}

form{
    display: flex;
}
form table tr:first-child td{
    width: 150px;
}
table{
    border-collapse: collapse;
}
table tr th, table tr td{
    border: solid 1px #000;
    padding: 5px;
} 
table tr td{
    text-align: center;
}
.info tr:not(:first-child):hover{
    background-color: #ff0;
}
input[type="button"]{
    font-size: 13px;
    width: calc(100% - 10px);
}

.info{
    table-layout: fixed;
    width: 500px;
}